%section#services.services
  .container
    .gallary-header.text-center.wow.fadeInUp.animated{"data-wow-duration" => "2s", :style => "visibility: visible;-webkit-animation-duration: 2s; -moz-animation-duration: 2s; animation-duration: 2s;"}
      %h2= t('receptivo.index.services_colombia')
  .container
    .category-services
      %ul
        %li.filter-btn.hidden-xs{"data-mixitup-control" => "", "data-filter" => "all", :type => "button"}
          %a
            %span= t('receptivo.widget.all')
        %li.filter-btn{"data-mixitup-control" => "", "data-filter" => ".js_filterTours", :type => "button"}
          %a
            %span= t('receptivo.widget.tours')
        %li.filter-btn{"data-mixitup-control" => "", "data-filter" => ".js_filterCircuits", :type => "button" }
          %a
            %span= t('receptivo.widget.circuits')
        %li.filter-btn{"data-mixitup-control" => "", "data-filter" => ".js_filterMultidestines", :type => "button"}
          %a
            %span= t('receptivo.widget.multidestinations')

    .cards-services
      .container
        .row#mix-wrapper
          - @tours.each do |tour|
            .col-xs-12.col-md-4.col-sm-6.js_filterTours.mix-target.mix
              .box-card
                = link_to tours_show_path(@lang, @currency, tour: tour.title['es'].parameterize, tour_id: tour.id), class:'' do
                  .box-image{:style => "background-image: url(#{tour.banner.url.nil? ? "/assets/img/banner_not_found.jpg" : tour.banner.url})"}
                .box-information
                  = link_to tours_show_path(@lang, @currency, tour: tour.title['es'].parameterize, tour_id: tour.id), class:'' do
                    %h3= tour.title[@lang].titleize
                  %span.pull-left.price
                    = @currency.upcase
                    = number_to_currency(tour.price_adults[@currency], locale: @locale)
                  .more-information
                  .about-btn
                    = link_to tours_show_path(@lang, @currency, tour: tour.title['es'].parameterize, tour_id: tour.id), class:'link-card' do
                      %button.about-view.packages-btn= t('receptivo.index.see_more')

          - @circuits.each do |circuit|
            .col-xs-12.col-md-4.col-sm-6.js_filterCircuits.mix-target.mix
              .box-card
                = link_to circuits_show_path(@lang, @currency, circuit: circuit.title['es'].parameterize, circuit_id: circuit.id), class:'' do
                  .box-image{:style => "background-image: url(#{circuit.banner.url.nil? ? "/assets/img/banner_not_found.jpg" : circuit.banner.url})"}
                .box-information
                  = link_to circuits_show_path(@lang, @currency, circuit: circuit.title['es'].parameterize, circuit_id: circuit.id), class:'' do
                    %h3= circuit.title[@lang].titleize
                  %span.pull-left.price
                    = t('receptivo.index.from')
                    = @currency.upcase
                    = number_to_currency(circuit.low_price(@currency), locale: @locale)
                  .more-information
                  .about-btn
                    = link_to circuits_show_path(@lang, @currency, circuit: circuit.title['es'].parameterize, circuit_id: circuit.id), class:'link-card' do
                      %button.about-view.packages-btn= t('receptivo.index.see_more')

          - @multidestinations.each do |multidestination|
            .col-xs-12.col-md-4.col-sm-6.js_filterMultidestines.mix-target.mix
              .box-card
                = link_to multidestinations_show_path(@lang, @currency, multidestination: multidestination.title['es'].parameterize, multidestination_id: multidestination.id), class:'' do
                  .box-image{:style => "background-image: url(#{multidestination.banner.url.nil? ? "/assets/img/banner_not_found.jpg" : multidestination.banner.url})"}
                .box-information
                  = link_to multidestinations_show_path(@lang, @currency, multidestination: multidestination.title['es'].parameterize, multidestination_id: multidestination.id), class:'' do
                    %h3= multidestination.title[@lang].titleize
                  %span.pull-left.price
                    = t('receptivo.index.from')
                    = @currency.upcase
                    = number_to_currency(multidestination.low_price(@currency), locale: @locale)
                  .more-information
                  .about-btn
                    = link_to multidestinations_show_path(@lang, @currency, multidestination: multidestination.title['es'].parameterize, multidestination_id: multidestination.id), class:'link-card' do
                      %button.about-view.packages-btn= t('receptivo.index.see_more')
