%section#seach-widget
  .container
    - unless @results.blank?
      .box-search
        .container
          .row
            .col-lg-9
              %p.result
                %span
                  Su búsqueda:
                %span
                  ="#{@origin_name}"
                %span
                  = " > #{@arrival_name}"
            .col-lg-3
              %p
                %span
                  -#%i.icon.icon-magnifier
                  %a.pull-right.link-widget
                    Volver a relizar la búsqueda


  .container.js-widget.js-hide-widget.widget-results
    .row
      .col-lg-12
        = render 'app/layouts/widget'

%section#vehicles.vehicles
  .container
    - unless @results.blank?
      .gallary-header.text-center
        %h2
          Seleccione el tipo de vehículo que desea
        %p
          Duis aute irure dolor in velit esse cillum dolore eu fugiat nulla.
  .content-vehicles
    .container
      .row
        - if @results.blank?
          .col-lg-12
            .box-results
              .image-search
                = image_tag '/assets/img/loupe.svg'
              .gallary-header.text-center
                %h2
                  ¡Lo sentimos! No hemos encontrado ningún resultado.
                %p
                  = link_to root_path do
                    Volver a relizar la búsqueda


        - else
          - @results.each do |vehicle|
            .col-lg-4
              .cars
                .cars__img{style:"background-image: url('#{vehicle.cover.url}')"}
                .cars__inf
                  .box-title
                    %span.title= vehicle.title[@lang]
                  %p.amount-people
                    %span
                      %i.icon-people.icons
                      Máx de Asientos:
                      = vehicle.seat
                      Personas
                  %p.amount-people
                    %span
                      %i.icon-bag.icons
                      Máx de Maletas:
                      = vehicle.kit['quantity']
                      Piezas
                      (#{vehicle.kit['weight']}kg)
                  -# %p.date-time
                  -#   %span
                  -#     %i.icon-calendar.icons
                  -#     Fecha: 12/02/2018
                  -# %p.date-time
                  -#   %span
                  -#     %i.icon-clock.icons
                  -#     Hora: 12:00pm
                  .box-items
                    .box-price
                      %span.price
                        = @currency.upcase
                        = number_to_currency(vehicle.price[@currency], locale: @locale)
                    .box-btn
                      = link_to reservations_poly_path(@lang, @currency, 'Vehicle', vehicle, org_name: @origin_name,
                        org_loc:@origin_location, arr_name: @arrival_name, arr_loc:@arrival_location,
                        adults: @adults, kids: @kids, round_trip: @round_trip,
                        flight_origin_picker: @flight_origin_picker, flight_arrival_picker: @flight_arrival_picker) do
                        %button.about-view.packages-btn
                          seleccionar

%script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyDt6Fm4Tge8PJpUNhByW314XyvQGJRpDFc&sensor=false&libraries=places", :type => "text/javascript"}
%link{:href => "https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css", :rel => "stylesheet"}/
%script{:src => "https://code.jquery.com/ui/1.12.1/jquery-ui.js"}

:javascript
  $( '.link-widget' ).on( 'click', function() {
      $('.js-widget').removeClass('js-hide-widget');
      $('.js-widget').addClass('js-show-widget');
  });
