%section.widget-banner#widget-banner
  .container
    - unless @results.blank?
      .widget-banner__content
        .container
          .row.row-flex
            .col-lg-9
              %p
                %h5= t('receptivo.widget.your_search')
                %p="#{t('receptivo.widget.origin')}: #{@origin_name.truncate(100)}"
                %p="#{t('receptivo.widget.arrival')}: #{@arrival_name.truncate(100)}"
            .col-lg-3
              %p
                %span
                  %a.pull-right.link-widget
                    = t('receptivo.widget.redo_search')

  .container.js-widget.js-hide-widget.widget-results
    .row
      .col-lg-12
        = render 'app/layouts/widget'

%section#vehicles.vehicles
  .container
    - unless @results.blank?
      .gallary-header.text-center
        %h2= t('receptivo.messages.select_vehicle')
  .content-vehicles
    .container
      .row
        - if @results.blank?
          .col-lg-12
            .box-results
              .image-search
                = image_tag '/assets/img/loupe.svg'
              .gallary-header.text-center
                %h2
                  = t('receptivo.widget.not_found')
                %p
                  = link_to root_path do
                    = t('receptivo.widget.redo_search')

        - else
          - @results.each do |vehicle|
            .col-xs-12.col-sm-6.col-md-6.col-lg-4
              .cars
                .cars__img{style:"background-image: url('#{vehicle.cover.url}')"}
                .cars__inf
                  .box-title
                    %span.title= vehicle.title[@lang]
                  %p.amount-people
                    %span
                      %i.icon-people.icons
                      = t('receptivo.messages.max_seats')
                      = vehicle.seat
                      = t('receptivo.messages.people')
                  %p.amount-people
                    %span
                      %i.icon-bag.icons
                      = t('receptivo.messages.max_suitcases')
                      = vehicle.kit['quantity']
                      = t('receptivo.messages.pieces')
                      (#{vehicle.kit['weight']}kg)
                  .box-items
                    .box-price
                      - if @cotization
                        %span= t('receptivo.messages.price_cotization')
                      - else
                        %span.price
                          = @currency.upcase
                          = number_to_currency(vehicle.set_price_destination(@locality, @currency), locale: @locale)
                    .box-btn
                      = link_to reservations_path(@lang, @currency, 'vehicle', vehicle, cotization: @cotization, origin_departament: @departament[0], arrival_departament: @departament[1], origin_locality: @locality[0], arrival_locality: @locality[1], origin_name: @origin_name, origin_location: @origin_location, arrival_name: @arrival_name, arrival_location: @arrival_location, quantity_adults: @adults, quantity_kids: @kids, round_trip: @round_trip, flight_origin_picker: @flight_origin_picker, flight_arrival_picker: @flight_arrival_picker, hour_origin_picker: @hour_origin_picker, hour_arrival_picker: @hour_arrival_picker) do
                        %button.about-view.packages-btn= t('receptivo.messages.select')

%script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyDt6Fm4Tge8PJpUNhByW314XyvQGJRpDFc&sensor=false&libraries=places", :type => "text/javascript"}
%link{:href => "https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css", :rel => "stylesheet"}/
%script{:src => "https://code.jquery.com/ui/1.12.1/jquery-ui.js"}

:javascript
  $('.js-widget').addClass('js-show-widget');
  $( '.link-widget' ).on( 'click', function() {
      $('.js-widget').removeClass('js-hide-widget');
      $('.js-widget').addClass('js-show-widget');
  });
