-#.container-fluid
  .row
    .col-12.col-xl-8
      .card
        .card-header
          %h4.card-title Detalles de la Reservación 
          -#%p.card-category Lorem ipsum dolor sit amet consectetur
        .card-body
          .row
            .col-12.col-xl-12
              .card
                .card-header
                  .row
                    .col-1
                      %img{:alt => "", :src => "/assets/img/isotipo-receptivo-colombia-invoice.svg", :width => "60px"}/
                    .col-6
                      %h2.mb-0.mt-0 Receptivo Colombia
                      %p Operador turístico - Bogotá, Colombia
                    .col-4
                      %span.float-right
                        %strong N° de Orden:
                        %span= @reservation.id
                .card-body
                  .row.mb-4
                    .col-sm-6
                      %h6.mb-3 From:
                      %div
                        %strong Webz Poland
                      %div Madalinskiego 8
                      %div 71-101 Szczecin, Poland
                      %div Email: info@webz.com.pl
                      %div Phone: +48 444 666 3333
                    .col-sm-6
                      %h6.mb-3 To:
                      %div
                        %strong Bob Mart
                      %div Attn: Daniel Marek
                      %div 43-190 Mikolow, Poland
                      %div Email: marek@daniel.com
                      %div Phone: +48 123 456 789
                  .table-responsive-sm
                    %table.table.table-striped
                      %thead
                        %tr
                          %th.center #
                          %th Item
                          %th Description
                          %th.right Unit Cost
                          %th.center Qty
                          %th.right Total
                      %tbody
                        %tr
                          %td.center 1
                          %td.left.strong Origin License
                          %td.left Extended License
                          %td.right $999,00
                          %td.center 1
                          %td.right $999,00
                        %tr
                          %td.center 2
                          %td.left Custom Services
                          %td.left Instalation and Customization (cost per hour)
                          %td.right $150,00
                          %td.center 20
                          %td.right $3.000,00
                        %tr
                          %td.center 3
                          %td.left Hosting
                          %td.left 1 year subcription
                          %td.right $499,00
                          %td.center 1
                          %td.right $499,00
                        %tr
                          %td.center 4
                          %td.left Platinum Support
                          %td.left 1 year subcription 24/7
                          %td.right $3.999,00
                          %td.center 1
                          %td.right $3.999,00
                  .row
                    .col-lg-4.col-sm-5
                    .col-lg-4.col-sm-5.ml-auto
                      %table.table.table-clear
                        %tbody
                          %tr
                            %td.left
                              %strong Subtotal
                            %td.right $8.497,00
                          %tr
                            %td.left
                              %strong Discount (20%)
                            %td.right $1,699,40
                          %tr
                            %td.left
                              %strong VAT (10%)
                            %td.right $679,76
                          %tr
                            %td.left
                              %strong Total
                            %td.right
                              %strong $7.477,36



.container-fluid
  .row
    .col-12.col-xl-8
      .card
        .card-header
          %h4.card-title Detalles de la Reservación 
          -#%p.card-category Lorem ipsum dolor sit amet consectetur
        .card-body
          .row
            .col-12.col-xl-8
              .row
                %ul.list-group.list-group-flush
                  %li.list-group-item 
                    %span.title Orden:
                    %span= @reservation.id

                  %li.list-group-item 
                    %span.title Factura:
                    %span= @reservation.invoice.token

                  %li.list-group-item 
                    %span.title Moneda:
                    %span= @reservation.invoice.currency.upcase

                  %li.list-group-item 
                    %span.title Costo:
                    - if @reservation.invoice.amount.nil?
                      %span Por cotizar
                    - else
                      = number_to_currency(@reservation.invoice.amount, locale: @locale)
                  
                  %li.list-group-item 
                    %span.title Estatus:
                    %span.badge.badge-pill{class: @reservation.invoice.status_class?}= @reservation.invoice.status
                
                  %li.list-group-item 
                    %span.title Pago:
                    - if @reservation.invoice.amount.nil?
                      %span Por cotizar
                    - elsif @reservation.invoice.status_pay? :pending
                      %a{href: checkout_elp_redirect_path(@reservation.id, @reservation.invoice.id), target: '_blank'}
                        %button.btn.btn-primary.btn-xs{:type => "button"}
                          %span
                            %i.icon-credit-card.icons
                          Pagar
                    - else
                      %span Pagado
                  
                  %li.list-group-item 
                    %span.title Cotizante:
                    %span= @reservation.user.name
                  
                  %li.list-group-item
                    %span.title Traslado (Vehículo):
                    %span= @reservation.reservationable.title[@lang]
                  
                  %li.list-group-item 
                    %span.title Pasajeros:
                    %span= @reservation.travellers.count
                  
                  %li.list-group-item 
                    %span.title Cantidad Adultos:
                    %span= @reservation.quantity_adults.blank? ? '-----------' : @reservation.quantity_adults
                  
                  %li.list-group-item 
                    %span.title Cantidad Niños:
                    %span= @reservation.quantity_kids.blank? ? '-----------' : @reservation.quantity_kids

                  // Datos de Origen
                  %li.list-group-item 
                    %span.title Origen:
                    %span= @reservation.origin.blank? ? '-----------' : @reservation.origin
                
                  %li.list-group-item 
                    %span.title Fecha Vuelo Origen:
                    %span= @reservation.flight_origin.blank? ? '-----------' : @reservation.flight_origin

                  %li.list-group-item 
                    %span.title Aerolínea Origen:
                    %span= @reservation.airline_origin.blank? ? '-----------' : @reservation.airline_origin

                  %li.list-group-item 
                    %span.title N° Vuelo Origen:
                    %span= @reservation.flight_number_origin.blank? ? '-----------' : @reservation.flight_number_origin
                  // Fin Datos de Origen

                  // Datos de Destino
                  %li.list-group-item 
                    %span.title Destino:
                    %span= @reservation.arrival.blank? ? '-----------' : @reservation.arrival
                  
                  %li.list-group-item 
                    %span.title Fecha Vuelo Destino:
                    %span= @reservation.flight_arrival.blank? ? '-----------' : @reservation.flight_arrival
                  
                  %li.list-group-item 
                    %span.title Aerolínea Destino:
                    %span= @reservation.airline_arrival.blank? ? '-----------' : @reservation.airline_arrival

                  %li.list-group-item 
                    %span.title N° Vuelo Destino:
                    %span= @reservation.flight_number_arrival.blank? ? '-----------' : @reservation.flight_number_arrival
                  // Datos de Destino

                  %li.list-group-item 
                    %span.title Observación:
                    %span= @reservation.description.blank? ? '-----------' : @reservation.description

            .col-12.col-xl-4
              .row
                %ul.list-group.list-group-flush
                  %li.list-group-item 
                    %span.title Viajeros
                  - @reservation.travellers.each do |traveller|
                    %li.list-group-item 
                      %span="#{traveller.name} -- #{traveller.dni}"

                -#%ul.list-group.list-group-flush
                  %li.list-group-item 
                    %h5.title Vehículo
                    %img{src: @reservation.reservationable.cover.url, class: 'rounded img-vehicle img-fluid'}
        .card-footer


-#:scss
  .img-vehicle{
    width: 250px;
    height: 250px;
    object-fit: contain;
    object-position: center;
  }


   