%section.content-header
  %h1
    Órdenes de Reserva
    -#%small Traslados
%section.content
  .row
    .col-xs-12
      .box
        .box-header
          %h3.box-title Traslados
          .box-tools
            .input-group.input-group-sm{:style => "width: 150px;"}
              %input.form-control.pull-right{:name => "table_search", :placeholder => "Buscar", :type => "text"}/
              .input-group-btn
                %button.btn.btn-default{:type => "submit"}
                  %i.fa.fa-search
        .box-body.table-responsive.no-padding
          %table.table.table-hover
            %tbody
              %tr.items-orders
                %th Order N°
                %th Origen
                %th Destino
                %th Pasajeros
                %th Estatus
                %th Pago
                %th Usuario
              - current_user.reservations.each do |reservation|
                %tr
                  %td= reservation.invoice.token
                  %td= truncate(reservation.origin, :length => 25)
                  %td= truncate(reservation.arrival, :length => 25)
                  %td= reservation.travellers.count
                  %td{style:"text-align: center;"}
                    %span.label{class: reservation.invoice.status_class?}= reservation.invoice.status
                  %td{style:"text-align: center;"}
                    - if reservation.invoice.status_pay? :pending
                      %a{href: checkout_elp_redirect_path(reservation.id, reservation.invoice.id)}
                        %button.btn.btn-primary.btn-xs{:type => "button"}
                          %span
                            %i.icon-credit-card.icons
                          Pagar
                    - else
                      %h6 Pagado
                  %td= current_user.email

