.row
  .col-lg-12
    .reservation-resumen
      .sticky
        %h3  Resumen
        %br/
        %br/
        %ul.list-group.mb-3
          %li.list-group-item.d-flex.justify-content-between.lh-condensed
            %div
              %h6.my-0 Origen
              %small.text-muted= @origin_name
          %li.list-group-item.d-flex.justify-content-between.lh-condensed
            %div
              %h6.my-0 Destino
              %small.text-muted= @arrival_name
          %li.list-group-item.d-flex.justify-content-between.lh-condensed
            %div
              %h6.my-0 Fecha de Ida
              %small.text-muted= @flight_origin_picker
          %li.list-group-item.d-flex.justify-content-between.lh-condensed
            %div
              %h6.my-0 Fecha de Vuelta
              %small.text-muted= @flight_arrival_picker
          %li.list-group-item.d-flex.justify-content-between.bg-light
            .row
              .col-lg-12
                .text-muted
                  %h6.my-0 Equipaje máximo permitido
                  %small
                    = @vehicle.kit['quantity']
                    pzas.
                    (#{@vehicle.kit['weight']}kg) ->
                    = @vehicle.title[@lang]
          - unless params[:cotization] == 'true'
            = render 'app/front/reservations/vehicles/resumen/paid'
          - else
            = render 'app/front/reservations/vehicles/resumen/cotizations'
