%section.invoice-transfers#invoice-transfers
  .container
    .gallary-header.text-center
      %h2
        Facturación
      %p
        Recuerde verificar la información antes de pagar su reserva
    .container
      .row
        .col-lg-2
        .col-lg-8
          .invoice-transfers__box
            = simple_form_for KepplerTravel::Reservation.new, url: '/create_reservation_transfer', method: :post do |f|
              .row
                .col-xs-12
                  .row
                    .col-lg-2
                      %img{:alt => "", :src => "/assets/img/isotipo-receptivo-colombia-invoice.svg", :width => "60px"}/
                    .col-lg-6

                      %h2 Receptivo Colombia
                      %p Operador turístico - Bogotá, Colombia
                    .col-lg-4
                      %h3.pull-right N° de Factura
                      %h3.pull-right= @invoice['token']
                  %hr/
                  .row
                    .col-xs-12
                      %address
                        -# dates billing
                        %strong Datos Personales
                        %br/
                        = @user['name']
                        -# %br/
                        -# 12345678-A
                        %br/
                        = @user['phone']
                        %br/
                        = @user['email']
                        %br/
                        = @invoice['address']
                  .row
                    .col-xs-6
                      %address
                        %strong Método de Pago
                        %br/
                        Pĺataforma: EnLineaPagos
                        -# %br/
                        -# MasterCard terminada **** 4242
                        %br/
                        = @user['name']
                        %br/
                        = @user['email']
                    .col-xs-6.text-right
                      %address
                        %strong N°. Factura
                        %br/
                        = @invoice['token']
                        %br/
                        %br/
                  .row
                    .col-xs-12
                      %h5.text-center Información del Traslado
                      %br/
                    .col-xs-4
                      %address
                        %strong Origen
                        %br/
                        = @reservation['origin']
                        %br/
                        %strong Destino
                        %br/
                        = @reservation['arrival']
                        %br/
                        %strong Aerolinea
                        %br/
                        = @reservation['airline_origin'].blank? ? '-----------' : @reservation['airline_origin']
                        %br/
                    .col-xs-4
                      %address
                        %strong Tipo de Traslado
                        %br/
                        Ida/Vuelta
                        %br/
                        %strong Adultos/Niños
                        %br= "#{@reservation['quantity_adults'].to_i} / #{@reservation['quantity_kids'].to_i}"
                        %br/
                        %strong N° de Vuelo
                        %br/
                        = @reservation['flight_number_origin'].blank? ? '-----------' : @reservation['flight_number_origin']
                        %br/
                    .col-xs-4
                      %address
                        %strong Fecha/Hora de Ida
                        %br/
                        = @reservation['flight_origin']
                        %br/
                        %strong Fecha/Hora de Vuelta
                        %br/
                        = @reservation['flight_arrival']
                        %br
                        %strong Equipaje
                        %br/
                        = @reservation['quantity_kit']
                        piezas
                  .row
                    .col-md-12
                      .panel.panel-default
                        .panel-heading
                          %h3.panel-title
                            %strong Descripción
                        .panel-body
                          .table-responsive
                            %table.table.table-condensed
                              %thead
                                %tr
                                  %td
                                    %strong Concepto
                                  %td.text-center
                                    %strong Precio
                                  %td.text-center
                                    %strong Cantidad
                                  %td.text-right
                                    %strong Total
                              %tbody
                                %tr
                                  %td= @reservationable['title'][@lang]
                                  %td.text-center= number_to_currency(@reservationable.set_price(@locality, @currency).to_f, locale: @locale)
                                  %td.text-center= @multiple
                                  %td.text-right= number_to_currency(@price_total, locale: @locale)
                  .row
                    .col-lg-12
                      .invoice-transfers__box--payment
                        %input#button.about-view.travel-btn{:name => "button", :type => "submit", :value => "Pagar Reserva"}/
