%section.invoice-transfers#invoice-transfers
  .container
    .gallary-header.text-center
      %h2
        = t('receptivo.checkout.billing')
      %p
        = t('receptivo.checkout.billing_details')
    .container
      .row
        .col-lg-2
        .col-lg-8
          .invoice-transfers__box
            = simple_form_for KepplerTravel::Reservation.new, url: '/create_reservation_transfer', method: :post do |f|
              .row
                .col-xs-12
                  .row
                    .col-lg-2
                      %img{:alt => "", :src => "/assets/img/isotipo-receptivo-colombia-invoice.svg", :width => "60px"}/
                    .col-lg-6

                      %h2 Receptivo Colombia
                      %p= t('receptivo.dashboard.table.tourism')
                    .col-lg-1
                    .col-lg-3
                      %h3.pull-right
                        =  t('receptivo.dashboard.table.order')
                        %span= KepplerTravel::Invoice.last.try(:id).to_i + 1
                  %hr/
                  .row
                    .col-xs-12
                      %address
                        %strong= t('receptivo.checkout.details_person')
                        %br/
                        = @user['name']
                        %br/
                        = @user['phone']
                        %br/
                        = @user['email']
                        %br/
                        = @invoice['address']
                  .row
                    .col-xs-6
                      %address
                        %strong= t('receptivo.checkout.payment_method')
                        %br/
                        = @user['name']
                        %br/
                        = @user['email']
                    .col-xs-6.text-right
                      %address
                        %strong= t('receptivo.dashboard.table.invoice')
                        %br/
                        = @invoice['token']
                        %br/
                        %br/
                  .row
                    .col-xs-12
                      %h5.text-center= t('receptivo.dashboard.table.transfer_information')
                      %br/
                    .col-xs-4
                      %address
                        %strong= t('receptivo.dashboard.table.origin')
                        %br/
                        = @reservation['origin']
                        %br/
                        %strong= t('receptivo.dashboard.table.arrival')
                        %br/
                        = @reservation['arrival']
                        %br/
                        %strong= t('receptivo.checkout.airline')
                        %br/
                        = @reservation['airline_origin'].blank? ? '-----------' : @reservation['airline_origin']
                        %br/
                    .col-xs-4
                      %address
                        %strong= t('receptivo.dashboard.table.type_transfer')
                        %br/
                        - if @reservation['round_trip'] == 'true'
                          = t('receptivo.dashboard.table.round_trip')
                        -else
                          = t('receptivo.dashboard.table.one_way')
                        %br/
                        %strong= t('receptivo.dashboard.table.adults_kids')
                        %br= "#{@reservation['quantity_adults'].to_i} / #{@reservation['quantity_kids'].to_i}"
                        %br/
                        %strong= t('receptivo.checkout.number_flight')
                        %br/
                        = @reservation['flight_number_origin'].blank? ? '-----------' : @reservation['flight_number_origin']
                        %br/
                    .col-xs-4
                      %address
                        %strong= t('receptivo.dashboard.table.date_origin')
                        %br/
                        = @reservation['flight_origin']
                        %br/
                        %strong= t('receptivo.dashboard.table.date_arrival')
                        %br/
                        = @reservation['flight_arrival']
                        %br
                        %strong= t('receptivo.dashboard.table.hour_origin')
                        %br/
                        = @reservation['hour_origin']
                        %br/
                        %strong= t('receptivo.dashboard.table.hour_arrival')
                        %br/
                        = @reservation['hour_arrival']
                        %br
                        %strong= t('receptivo.dashboard.table.luggage')
                        %br/
                        = @reservation['quantity_kit']
                        = t('receptivo.dashboard.table.pieces')

                  - org = session[:reservationable]['origin_departament']
                  - arr = session[:reservationable]['arrival_departament']
                  - if org == arr
                    = render "app/front/checkout/vehicles/paid"
                  - else
                    = render "app/front/checkout/vehicles/cotizations"

%script{:src => "https://unpkg.com/sweetalert2@7.19.3/dist/sweetalert2.all.js"}
:javascript
  $('#button').on('click', function () {
    swal({
      type: 'warning',
      title: 'Tu reservación está siendo procesada...',
      text: 'Espere un momento...',
      timer: 300000,
      onOpen: () => {
        swal.showLoading()
      }
    })
  }); // END --- Seleccion de un Alojamiento u hotel
