%section.invoice-transfers#invoice-transfers
  .container
    .gallary-header.text-center
      %h2
        Facturación
      %p
        Recuerde verificar la información antes de pagar su reserva
    .container
      .row
        .col-lg-2
        .col-lg-8
          .invoice-transfers__box
            = simple_form_for KepplerTravel::Reservation.new, url: '/create_reservation_transfer', method: :post do |f|
              .row
                .col-xs-12
                  .row
                    .col-lg-2
                      %img{:alt => "", :src => "/assets/img/isotipo-receptivo-colombia-invoice.svg", :width => "60px"}/
                    .col-lg-6

                      %h2 Receptivo Colombia
                      %p Operador turístico - Bogotá, Colombia
                    .col-lg-1
                    .col-lg-3
                      %h3.pull-right N° de Orden
                      %h3.pull-right= KepplerTravel::Invoice.last.try(:id).to_i + 1
                  %hr/
                  .row
                    .col-xs-12
                      %address
                        %strong Datos Personales
                        %br/
                        = @user['name']
                        %br/
                        = @user['phone']
                        %br/
                        = @user['email']
                        %br/
                        = @invoice['address']
                  .row
                    .col-xs-6
                      %address
                        %strong Método de Pago
                        %br/
                        Pĺataforma: EnLineaPagos
                        %br/
                        = @user['name']
                        %br/
                        = @user['email']
                    .col-xs-6.text-right
                      %address
                        %strong N°. Orden ELP
                        %br/
                        = @invoice['token']
                        %br/
                        %br/
                  .row
                    .col-xs-12
                      %h5.text-center Información del Traslado
                      %br/
                    .col-xs-4
                      %address
                        %strong Origen
                        %br/
                        = @reservation['origin']
                        %br/
                        %strong Destino
                        %br/
                        = @reservation['arrival']
                        %br/
                        %strong Aerolinea
                        %br/
                        = @reservation['airline_origin'].blank? ? '-----------' : @reservation['airline_origin']
                        %br/
                    .col-xs-4
                      %address
                        %strong Tipo de Traslado
                        %br/
                        Ida/Vuelta
                        %br/
                        %strong Adultos/Niños
                        %br= "#{@reservation['quantity_adults'].to_i} / #{@reservation['quantity_kids'].to_i}"
                        %br/
                        %strong N° de Vuelo
                        %br/
                        = @reservation['flight_number_origin'].blank? ? '-----------' : @reservation['flight_number_origin']
                        %br/
                    .col-xs-4
                      %address
                        %strong Fecha/Hora de Ida
                        %br/
                        = @reservation['flight_origin']
                        %br/
                        %strong Fecha/Hora de Vuelta
                        %br/
                        = @reservation['flight_arrival']
                        %br
                        %strong Hora Traslado Ida
                        %br/
                        = @reservation['hour_origin']
                        %br/
                        %strong Hora Traslado Vuelta
                        %br/
                        = @reservation['hour_arrival']
                        %br
                        %strong Equipaje
                        %br/
                        = @reservation['quantity_kit']
                        piezas

                  - org = session[:reservationable]['origin_departament']
                  - arr = session[:reservationable]['arrival_departament']
                  - if org == arr
                    = render "app/front/checkout/vehicles/paid"
                  - else
                    = render "app/front/checkout/vehicles/cotizations"

%script{:src => "https://unpkg.com/sweetalert2@7.19.3/dist/sweetalert2.all.js"}
:javascript
  $('#button').on('click', function () {
    swal({
      type: 'warning',
      title: 'Tu reservación está siendo procesada...',
      text: 'Espere un momento...',
      timer: 300000,
      onOpen: () => {
        swal.showLoading()
      }
    })
  }); // END --- Seleccion de un Alojamiento u hotel
