-#%hr
%h3 Alojamiento
.row
  .col-lg-12
    .box-hotel-room
      %h4 Seleccione el tipo de hotel
    .set_room
      - @circuit.circuitables.each do |circuitable|
        - if circuitable.status
          .col-xs-12.col-sm-4.col-md-12.col-lg-4.jshotelbox
            .row
              .col-lg-12.js-hotel
                .row
                  .check
                    %span
                      %i.fa.fa-check.fa_custom{"aria-hidden" => "true"}
                  .box_hotel.row-flex
                    .col-xs-12.col-md-6.col-lg-6
                      %label.btn.btn-hotel
                        %center
                          .icon-hotel{style: "background-image: url(/assets/img/category-hotel/hotel_star-#{circuitable.ranking_id}.svg)"}
                            %input.room.js-hotelRoom{name: "ranking_circuitable", type: "checkbox", value: circuitable.ranking_id}/
                    .col-xs-12.col-md-6.col-lg-6
                      %p.title-hotel= circuitable.ranking.title[@lang]
                      -# %p
                      -#   = link_to 'Ver más información', '#' , class: 'js_detailsHotel', id: "modal_id_#{circuitable.id}", type: 'button'

.box_type_rooms.room-hidden.room-disabled
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .box-type-room
        %h4 Seleccione el tipo y cantidad de habitaciones
    .col-xs-4.col-sm-3.col-md-4.col-lg-2
      %label.btn.btn-room
        %center
          .icon-room{style: "background-image: url(/assets/img/type-rooms/hab1.svg)"}
            %input.type-room.js-typeRoom{name: 'room_single', type: "checkbox"}/
          %p Habitación
          %p Simple
          %p.price#room_single
        .quantity-type-room.js-quantityRoom.quantity-disabled
          .quantity-room{style: 'background: transparent;'}
            %center
              %select.form-control#select_single
                - 10.times do |i|
                  %option{ value: i+1}= i+1
            %input.js-square#single{type: 'hidden', name: "square_circuit[][single]", type: "number", min: 1, placeholder:'1'}/
    .col-xs-4.col-sm-3.col-md-4.col-lg-2
      %label.btn.btn-room
        %center
          .icon-room{style: "background-image: url(/assets/img/type-rooms/hab2.svg)"}
            %input.type-room.js-typeRoom{name: 'room_doubles', type: "checkbox"}/
          %p Habitación
          %p Doble
          %p.price#room_doubles
        .quantity-type-room.js-quantityRoom.quantity-disabled
          .quantity-room{style: 'background: transparent;'}
            %center
              %select.form-control#select_doubles
                - 10.times do |i|
                  %option{ value: i+1}= i+1
            %input.js-square#doubles{type: 'hidden', name: "square_circuit[][doubles]", type: "number", min: 1, placeholder:'1'}/
    .col-xs-4.col-sm-3.col-md-4.col-lg-2
      %label.btn.btn-room
        %center
          .icon-room{style: "background-image: url(/assets/img/type-rooms/hab3.svg)"}
            %input.type-room.js-typeRoom{name: 'room_triples', type: "checkbox"}/
          %p Habitación
          %p Triple
          %p.price#room_triples
        .quantity-type-room.js-quantityRoom.quantity-disabled
          .quantity-room{style: 'background: transparent;'}
            %center
              %select.form-control#select_triples
                - 10.times do |i|
                  %option{ value: i+1}= i+1
            %input.js-square#triples{type: 'hidden', name: "square_circuit[][triples]", type: "number", min: 1, placeholder:'1'}/
    .col-xs-4.col-sm-3.col-md-4.col-lg-2
      %label.btn.btn-room
        %center
          .icon-room{style: "background-image: url(/assets/img/type-rooms/hab4.svg)"}
            %input.type-room.js-typeRoom{name: 'room_quadruples', type: "checkbox"}/
          %p Habitación
          %p Cuadruple
          %p.price#room_quadruples
        .quantity-type-room.js-quantityRoom.quantity-disabled
          .quantity-room{style: 'background: transparent;'}
            %center
              %select.form-control#select_quadruples
                - 10.times do |i|
                  %option{ value: i+1}= i+1
            %input.js-square#quadruples{type: 'hidden', name: "square_circuit[][quadruples]", type: "number", min: 1, placeholder:'1'}/
    .col-xs-4.col-sm-3.col-md-4.col-lg-2
      %label.btn.btn-room
        %center
          .icon-room{style: "background-image: url(/assets/img/type-rooms/hab5.svg)"}
            %input.type-room.js-typeRoom{name: 'room_quintuples', type: "checkbox"}/
          %p Habitación
          %p Quintuple
          %p.price#room_quintuples
        .quantity-type-room.js-quantityRoom.quantity-disabled
          .quantity-room{style: 'background: transparent;'}
            %center
              %select.form-control#select_quintuples
                - 10.times do |i|
                  %option{ value: i+1}= i+1
            %input.js-square#quintuples{type: 'hidden', name: "square_circuit[][quintuples]", type: "number", min: 1, placeholder:'1'}/
    .col-xs-4.col-sm-3.col-md-4.col-lg-2
      %label.btn.btn-room
        %center
          .icon-room{style: "background-image: url(/assets/img/type-rooms/hab6.svg)"}
            %input.type-room.js-typeRoom{name: 'room_sextuples', type: "checkbox"}/
          %p Habitación
          %p Sextuple
          %p.price#room_sextuples
        .quantity-type-room.js-quantityRoom.quantity-disabled
          .quantity-room{style: 'background: transparent;'}
            %center
              %select.form-control#select_sextuples
                - 10.times do |i|
                  %option{ value: i+1}= i+1
            %input.js-square#sextuples{type: 'hidden', name: "square_circuit[][sextuples]", type: "number", min: 1, placeholder:'1'}/

    -#.col{style: 'visibility: hidden;'}
      %label.btn.btn-room
        %center
          .icon-room{style: "background-image: url(/assets/img/type-rooms/room_children.svg)"}
            %input.type-room.js-typeRoom{name: 'room_children', type: "checkbox"}/
          %p Habitación
          %p Niño
          %p.price#room_children
        .quantity-type-room.js-quantityRoom.quantity-disabled
          .quantity-room
            %input.js-square#children{type: 'hidden', name: "square_circuit[][children]", type: "number", min: 1, value: @kids}/
:javascript
  var adults = #{raw @adults};
  var kids   = #{raw @kids};
  var currency = "#{raw @currency.upcase}";
  var coin     = "#{raw @currency.downcase}";
  var rankings_ruby = #{raw @rankings.to_json};

%script{:src => "https://unpkg.com/sweetalert2@7.19.3/dist/sweetalert2.all.js"}
%script{src: "/assets/js/ranking-room.js"}
//$( ".buttonTest" ).on('click', function () { $(this).find('.box_hotel').addClass('bg-active'); });
