.row
  .col-lg-12
    .reservation-resumen
      .sticky
        %h3  Reserva
        %br/
        %br/
        %ul.list-group.list-summary.mb-3
          %li.list-group-item.d-flex.justify-content-between.lh-condensed
            %div
              %h6.my-0 Circuito
              %small.text-muted= @circuit.title[@lang].titleize
          %li.list-group-item.d-flex.justify-content-between.lh-condensed
            %div
              %h6.my-0 Fecha de Viaje
              %small.text-muted= params[:flight_origin_circuit_picker]

          %li.list-group-item.d-flex.justify-content-between.lh-condensed
            %div
              %h6.my-0 Adultos - Niños
              %small.text-muted= "#{@adults} - #{@kids}"

          %li.list-group-item.d-flex.justify-content-between
            %div
              %h6.my-0 Sub-total
              -# %small.text-muted 2 x $ 1.000,00 = $ 2.000,00
              %small.text-muted#precio_adulto -----
              - if @kids.positive?
                %br
                %small.text-muted#precio_nino -----
                %br
                %small.text-muted= "Total #{@seats} personas"
          %li.list-group-item.d-flex.justify-content-between
            %div
              %span
                Precio Total
              %strong#precio_total{style:"float: right; color:#4e4e56;"}
                = @currency.upcase
                = number_to_currency(0, locale: @locale)
        .box-btn-payment
          %br/
          %span
            %p.text-center.title-reser ¡Cotiza tu reserva!
          %br/
          %center
            .about-btn.travel-mrt-0
              %button.about-view.travel-btn.btn-reser Cotizar
