
%link{:href => "https://www.tutorialspoint.com/jquery/src/filer/css/jquery.filer.css", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "https://www.tutorialspoint.com/jquery/src/filer/css/themes/jquery.filer-dragdropbox-theme.css", :rel => "stylesheet", :type => "text/css"}/
%script{:src => "https://www.tutorialspoint.com/jquery/src/filer/js/jquery.filer.min.js", :type => "text/javascript"}

= simple_form_for [:admin, :travel, @vehicle] do |f|
  .container
    .row
      .col-lg-2
        = link_to admin_travel_vehicles_path, class: "", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
          .arrow-back.btn.btn-default
            %i.fa.fa-angle-left
            = t('keppler.actions.back')

    .row
      .col-lg-12
        .box.slice-box
          .box-header.with-border
            %h3.box-title= t("keppler.modules.#{action_name.underscore}")
            .box-tools.pull-right
              %a.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"}
                %i.fa.fa-minus
          .box-body
            %table.table.table-bordered
              %tbody
                .form-padding
                  .col-xs-12.col-lg-8
                    .nav-tabs-custom
                      %ul.nav.nav-tabs
                        %li.active
                          %a{"data-toggle" => "tab", :href => "#spanish"} Español
                        %li
                          %a{"data-toggle" => "tab", :href => "#english"} Inglés
                        %li
                          %a{"data-toggle" => "tab", :href => "#portugues"} Portugués
                      .tab-content{style: 'padding:inherit!important;margin-bottom:10px;'}
                        // ESPAÑOL
                        #spanish.tab-pane.active
                          .col-xs-12
                            = f.simple_fields_for :title, OpenStruct.new(@vehicle.title) do |field|
                              = field.input :es, label: 'Titulo'
                        // INGLÉS
                        #english.tab-pane
                          .col-xs-12
                            = f.simple_fields_for :title, OpenStruct.new(@vehicle.title) do |field|
                              = field.input :en, label: 'Title'
                        // PORTUGUÉS
                        #portugues.tab-pane
                          .col-xs-12
                            = f.simple_fields_for :title, OpenStruct.new(@vehicle.title) do |field|
                              = field.input :pt, label: 'Titulo'
                    -# .col-xs-12.col-md-12
                    -#   .row
                    -#     = f.simple_fields_for :inner_price, OpenStruct.new(@vehicle.inner_price) do |field|
                    -#       .col-xs-6.col-lg-6
                    -#         = field.input :cop, label: 'Precio Dentro Perimetro COP', input_html: { min: '1', type: 'number' }
                    -#       .col-xs-6.col-lg-6
                    -#         = field.input :usd, label: 'Precio Dentro Perimetro USD', input_html: { min: '1', type: 'number' }
                    -# .col-xs-12.col-md-12
                    -#   .row
                    -#     = f.simple_fields_for :outer_price, OpenStruct.new(@vehicle.outer_price) do |field|
                    -#       .col-xs-6.col-lg-6
                    -#         = field.input :cop, label: 'Precio Fuera Perimetro COP', input_html: { min: '1', type: 'number' }
                    -#       .col-xs-6.col-lg-6
                    -#         = field.input :usd, label: 'Precio Fuera Perimetro USD', input_html: { min: '1', type: 'number' }
                    .col-xs-12.col-md-12
                      .row
                        = f.simple_fields_for :kit, OpenStruct.new(@vehicle.kit) do |field|
                          .col-xs-6.col-lg-6
                            = field.input :quantity, label: 'Piezas Máx. Equipaje', input_html: { min: '1', type: 'number' }
                          .col-xs-6.col-lg-6
                            = field.input :weight, label: 'Peso Máx. Equipaje', input_html: { min: '1', type: 'number' }
                    .col-xs-12.col-md-12
                      .row
                        .col-xs-6.col-lg-6
                          = f.input :seat, label: 'Cantidad Máx. Asientos', input_html: { min: '1', type: 'number' }

                        .col-xs-12.col-md-6.col-lg.6
                          %label Destinos
                          %br.hidden-md
                            %select.selectpicker{"data-style" => "btn-primary", id: 'destinations_vehicles', name: 'vehicle[destination_ids]', multiple: "multiple", style:'width: 100%;'}
                              - KepplerTravel::Destination.all.each do |destination|
                                %option{ value: destination.id, selected: @vehicle.selected(destination.id)}= destination.custom_title['es']

                  .col-xs-12.col-lg-4
                    .row
                      .col-lg-12
                        %label Imagen de Portada
                        = f.input :cover, as: :keppler_file, label: false, max_size: 800

                  .col-xs-4
                    = f.input :position, as: :hidden
                    = f.input :deleted_at, as: :hidden
                  .col-xs-12
                    .pull-right
                      - if action_name == 'new'
                        = f.button :submit, 'Siguiente', name: '_save', class: 'btn-primary'
                      - else
                        = f.button :submit, 'Guardar', name: '_save', class: 'btn-primary'


%script{:src => "https://www.tutorialspoint.com/jquery/src/filer/js/jquery.filer.min.js", :type => "text/javascript"}
%link{:href => "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css", :rel => "stylesheet"}/
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"}

:javascript
  $('#destinations_vehicles').select2();

- if action_name == 'new'
  :javascript
    validateFormVehicle('#new_vehicle');
- else
  :javascript
    var vehicle_id = #{raw @vehicle.id};
    validateFormVehicle(`#edit_vehicle_${vehicle_id}`);

:scss
  label.error-class{color: #e60707 !important;}
