= search_form_for @q, url: "/#{@lang}/#{@currency}/vehicles", html: {class: 'input-group', style:'width: 100%;' ,id: 'search-input', method: :get } do |f|
    .box-transfers
        .row
            - unless KepplerTravel::Vehicle.count.positive?
                .col-lg-12
                    %h5.text-center{style:"color: #4e4e56 !important"}= t('receptivo.widget.not_found')
            - else
                %input#round_trip{name: 'round_trip', type: 'hidden'}
                .col-lg-12
                    .trip-circle
                        .single-trip-circle
                            %input#ida_vuelta.radio-fecha-vuelos{:name => "ida_o_vuelta", :type => "radio"}/
                            %label.ida_vuelta{:for => "ida_vuelta"}
                                %span.round-boarder
                                    %span.round-boarder1{style:'margin: -11px 0px 0 0px; !important'}
                                = t('receptivo.widget.round_trip')
                        .single-trip-circle
                            %input#solo_ida.radio-fecha-vuelos{:name => "ida_o_vuelta", :type => "radio"}/
                            %label.solo_ida{:for => "solo_ida"}
                                %span.round-boarder
                                    %span.round-boarder1{style:'margin: -11px 0px 0 0px; !important'}
                                = t('receptivo.widget.one_way')
                .col-lg-8
                    .box-item
                        %h2= t('receptivo.widget.origin')
                        %input.google-input.form-control{id: 'origin_name', name: 'origin_name', placeholder: t('receptivo.widget.input_location')}
                        %input{name: 'origin_location', id: 'origin_location', type: 'hidden'}
                        %input{name: 'origin_locality', id: 'origin_locality', type: 'hidden'}
                        %input{name: 'origin_departament', id: 'origin_departament', type: 'hidden'}
                        %h2.origin_name Desde...

                .col-lg-4
                    .box-item
                        %h2= t('receptivo.widget.date_origin')
                        .form-group
                            %input.form-control.custom-input{name: 'flight_origin_picker', id: 'flight_origin_picker', autocomplete: 'off'}/

                .col-lg-8{style:'margin-top: 8px;'}
                    .box-item
                        %h2= t('receptivo.widget.arrival')
                        %input.custom-input.form-control{id: 'arrival_name', name: 'arrival_name', placeholder: t('receptivo.widget.input_location')}
                        %input{name: 'arrival_location', id: 'arrival_location', type: 'hidden'}
                        %input{name: 'arrival_locality', id: 'arrival_locality', type: 'hidden'}
                        %input{name: 'arrival_departament', id: 'arrival_departament', type: 'hidden'}
                        %h2.arrival_name Hasta...

                .col-lg-4#vuelo_vuelta{style:'margin-top: 8px;'}
                    .box-item
                        %h2= t('receptivo.widget.date_arrival')
                        .form-group
                            %input.form-control.custom-input{name: 'flight_arrival_picker', id: 'flight_arrival_picker', autocomplete: 'off'}/

                .col-xs-12.col-lg-12{style:'margin-top: 8px;'}
                    .row
                        .col-lg-9
                            .row
                                .col-xs-6.col-lg-2
                                    .box-item
                                        %h2= t('receptivo.widget.adults')
                                        .form-group
                                            %input#adults.custom-input.form-control{min: 1, name: 'quantity_adults', value: 2, :type => "number"}/

                                .col-xs-6.col-lg-2
                                    .box-item
                                        %h2= t('receptivo.widget.children')
                                        .form-group
                                            %input#kids.custom-input.form-control{min: 0, name: 'quantity_kids', :type => "number"}/

                        .col-lg-3
                            #errors
                            .about-btn.travel-mrt-0.pull-right.box-btn
                                %button.about-view.travel-btn{type: 'submit'}= t('receptivo.widget.search')

:javascript
    // Transfers / Vehicles
    validateWidgetForm('#search-input');
    $('#vuelo_vuelta').addClass('show-input');
    $('#ida_vuelta').prop('checked', true);
    $('#round_trip').val(true);
    $('.radio-fecha-vuelos').on( 'click', function() {
        if( $('#ida_vuelta').is(':checked') ){
                $('#round_trip').val(true);
                console.log($('#round_trip').val());
                $('#vuelo_vuelta').removeClass('hidden-input');
                $('#vuelo_vuelta').addClass('show-input');
                $('#hora_vuelta').removeClass('hidden-input');
                $('#hora_vuelta').addClass('show-input');
        } else {
                $('#round_trip').val(false);
                console.log($('#round_trip').val());
                $('#vuelo_vuelta').removeClass('show-input');
                $('#vuelo_vuelta').addClass('hidden-input');
                $('#hora_vuelta').removeClass('show-input');
                $('#hora_vuelta').addClass('hidden-input');
        }
    });

    $(document).ready(function() {

      $('form').keypress(function(e){
        if(e == 13){
          return false;
        }
      });

      $('input').keypress(function(e){
        if(e.which == 13){
          return false;
        }
      });

    });

    $(function () {

      $('#flight_origin_picker').datetimepicker({
        locale: 'es',
        minDate: moment(),
        format: "DD-MM-YYYY",
        widgetPositioning: {
          horizontal: 'left',
          vertical: 'bottom'
        }
      });

      $('#flight_arrival_picker').datetimepicker({
        locale: 'es',
        minDate: moment().add(1, 'd').toDate(),
        format: "DD-MM-YYYY",
        widgetPositioning: {
          horizontal: 'left',
          vertical: 'bottom'
        },
        useCurrent: false //Important! See issue #1075
      });

      $("#flight_origin_picker").on("dp.change", function (e) {
        var date = $('#flight_origin_picker').val()
        $('#reservation_flight_origin').val(date);
        $('#flight_arrival_picker').data("DateTimePicker").minDate(e.date.add(15, 'h').toDate());
      });
      $("#flight_arrival_picker").on("dp.change", function (e) {
        var date = $('#flight_arrival_picker').val()
        $('#reservation_flight_arrival').val(date);
        $('#flight_origin_picker').data("DateTimePicker").maxDate(e.date);
      });

    });
