%section#seach-widget
  .container
    .box-search
      .container
        .row
          .col-lg-9
            %p.result
              %span
                Su búsqueda:
              %span
                ="#{params[:org_name]}"
              %span
                = " > #{params[:arr_name]}"
          .col-lg-3
            %p
              %span
                -#%i.icon.icon-magnifier
                %a.pull-right.link-widget
                  Volver a relizar la búsqueda


  .container.js-widget.js-hide-widget.widget-results
    .row
      .col-lg-12
        = render 'app/layouts/widget'



%section.reservation-vehicles#reservation-vehicles
  .container
    .gallary-header.text-center
      %h2
        Reserva de Traslado
      %p
        Completa todos los datos para confirmar y pagar tu reserva.
  .box-reservation
    .container
      = simple_form_for @reservation, url: '/session_reservation_transfer', method: :post do |f|
        .row{style:"display:flex;"}
          %input{value: @vehicle.id, type: 'hidden', name: 'vehicle_id'}
          %input{value: @seats, type: 'hidden', name: 'quantity_seats'}
          %input{value: @lang, type: 'hidden', name: 'lang'}
          %input{value: @currency, type: 'hidden', name: 'currency'}
          %input{value: SecureRandom.hex(4), type: 'hidden', name: 'invoice[][token]'}
          .col-lg-8
            .reservation-data
              // Datos de Reservación
              = render 'app/front/reservations/vehicles/dates_reservations', f: f

              // Datos Personales
              = render 'app/front/reservations/vehicles/dates_personal', f: f

              //Datos de Facturación
              = render 'app/front/reservations/vehicles/dates_billing'

          .col-lg-4
            // Cuadro de Resumen
            .reservation-resumen
              = render 'app/front/reservations/vehicles/resumen'


%link{:href => "https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css", :rel => "stylesheet"}/
%script{:src => "https://code.jquery.com/ui/1.12.1/jquery-ui.js"}
%script{:src => "https://unpkg.com/sweetalert2@7.19.3/dist/sweetalert2.all.js"}
%script{:src => '/assets/js/formReservationVehicle.js'}

:scss
  label.error-class{color: #e60707 !important;}


:javascript
  validateForm('#search-input');
  $( '.link-widget' ).on( 'click', function() {
      $('.js-widget').removeClass('js-hide-widget');
      $('.js-widget').addClass('js-show-widget');
  });
