%section.reservation-transfers#reservation-transfers
  .container
    .gallary-header.text-center
      %h2
        Reservación
      %p
        Duis aute irure dolor in velit esse cillum dolore eu fugiat nulla.
  .box-reservation
    .container
      .row
        = simple_form_for @reservation, url: '/admin/travel/reservations', method: :post do |f|
          .col-lg-8
            %h3 Datos Personales
            .row
              .col-lg-6
                .form-group.form-custom
                  %label{:for => "name"} Nombre
                  %input#name.form-control{:type => "text", :placeholder => "Enter your name"}/
                .form-group
                  %label{:for => "phone"} Teléfono
                  %input#phone.form-control{:type => "number", :placeholder => "Enter your phone"}/
              .col-lg-6
                .form-group.form-custom
                  %label{:for => "email"} Correo electrónico
                  %input#email.form-control{:type => "email", :placeholder => "enter your email"}/
                .form-group
                  %label{:for => "dni"} Identificación
                  %input#dni.form-control{:type => "number", :placeholder => "Enter your identification"}/
            %hr
            %h3 Datos de Reserva
            .row

              .col-lg-6
                -# .form-group.form-custom.form-reservation
                -#   %label Seleccion una opción
                -#   .trip-circle
                -#     .single-trip-circle
                -#       %input#radio_01{:name => "radio", :type => "radio"}/
                -#       %label{:for => "radio_01"}
                -#         %span.round-boarder>
                -#           %span.round-boarder1
                -#         Solo ida
                -#     .single-trip-circle
                -#       %input#radio_02{:name => "radio", :type => "radio"}/
                -#       %label{:for => "radio_02"}
                -#         %span.round-boarder
                -#           %span.round-boarder1
                -#         Ida y vuelta
                .form-group
                  %label{:for => "origin_transfer_booking"} Seleccione Origen
                  %input{name: 'reservation[origin]', value: params[:org_name], type: 'hidden'}
                  %input.google-input.form-control{disabled: 'disabled', value: params[:org_name]}

                .form-group
                  %label{:for => ""}  ¿Cuándo sale tu vuelo?
                  = f.hidden_field :flight_origin
                  %input.form-control.custom-input{name: 'flight_origin_picker', id: 'flight_origin_picker', autocomplete: 'off'}/


              .col-lg-6
                -# .form-group.form-custom.form-reservation
                -#   %label Seleccion una opción
                -#   .trip-circle
                -#     .single-trip-circle
                -#       %input#radio_03{:name => "radio", :type => "radio"}/
                -#       %label{:for => "radio_03"}
                -#         %span.round-boarder
                -#           %span.round-boarder1
                -#         Desde el Aeropuerto
                -#     .single-trip-circle
                -#       %input#radio_04{:name => "radio", :type => "radio"}/
                -#       %label{:for => "radio_04"}
                -#         %span.round-boarder
                -#           %span.round-boarder1
                -#         Al aeropuerto

                .form-group
                  %label{:for => "arrival_transfer_booking"} Seleccione Destino
                  %input{name: 'reservation[arrival]', value: params[:arr_name], type: 'hidden'}
                  %input.google-input.form-control{disabled: 'disabled', value: params[:arr_name]}

                .form-group
                  %label{:for => ""}  ¿Cuándo llega tu vuelo?
                  = f.hidden_field :flight_arrival
                  %input.form-control.custom-input{name: 'flight_arrival_picker', id: 'flight_arrival_picker', autocomplete: 'off'}/

              .col-lg-12
                .row
                  .col-lg-4
                    .form-group
                      %label{:for => "adults"} Cantidad adultos
                      = f.input :quantity_adults, label: false, placeholder: 'Cantidad de Adultos'

                      -# %input#adults.form-control{:type => "number", :placeholder => "Enter number of children"}/
                  .col-lg-4
                    .form-group
                      %label{:for => "children"} Cantidad niños
                      = f.input :quantity_kids, label: false, placeholder: 'Cantidad de Niños'

                      -# %input#children.form-control{:type => "number", :placeholder => "Enter number of adults"}/
                  .col-lg-4
                    .form-group
                      %label{:for => "luggage"} Cantidad equipaje
                      = f.input :quantity_kit, label: false, placeholder: 'Cantidad de Equipaje'
                      -# %input#luggage.form-control{:type => "number",:placeholder => "Enter amount of luggage"}/


          .col-lg-4
            %h3 Resumen
            .row
              .col-lg-12
                %ul.list-group.mb-3
                  %li.list-group-item.d-flex.justify-content-between.lh-condensed
                    %div
                      %h6.my-0 Responsable
                      %small.text-muted - - - -
                    -#%span.text-muted $5
                  %li.list-group-item.d-flex.justify-content-between.lh-condensed
                    %div
                      %h6.my-0 Origen
                      %small.text-muted= params[:org_name]
                    -#%span.text-muted $12
                  %li.list-group-item.d-flex.justify-content-between.lh-condensed
                    %div
                      %h6.my-0 Destino
                      %small.text-muted= params[:arr_name]
                  %li.list-group-item.d-flex.justify-content-between.lh-condensed
                    %div
                      %h6.my-0 Tipo de Vehiculo
                      %small.text-muted= @transfer.title[@lang].capitalize
                    -#%span.text-muted $5
                  %li.list-group-item.d-flex.justify-content-between.bg-light
                    .row
                      -# .col-lg-4
                      -#   .text-muted
                      -#     %h6.my-0 Adultos
                      -#     %small= @transfer.quantity_adults
                      -# .col-lg-4
                      -#   .text-muted
                      -#     %h6.my-0 Niños
                      -#     %small= @transfer.quantity_kids
                      .col-lg-4
                        .text-muted
                          %h6.my-0 Equipaje
                          %small
                            = @transfer.kit['quantity']
                            pzas.
                            (#{@transfer.kit['weight']}kg)
                  %li.list-group-item.d-flex.justify-content-between.lh-condensed
                    %div
                      %h6.my-0 Tipo de Moneda
                      %small.text-muted= @currency.upcase
                    -#%span.text-muted $5
                  %li.list-group-item.d-flex.justify-content-between
                    %span
                    Total
                    (#{@currency.upcase})
                    %strong= "$ #{@transfer.price[@currency]}"
                .box-btn-payment
                  .about-btn.travel-mrt-0
                    -# %button.about-view.travel-btn.btn-payment
                    -#   pagar

          .col-lg-8
            .box-btn-reservation
              .about-btn.travel-mrt-0
                %button.about-view.travel-btn.btn-reservation{type: 'submit'}
                  Reservar

:javascript
  $('#new_reservation').validate({
   event: "blur",
   errorClass: "error-class",
   validClass: "valid-class",
   rules: {
     'reservation[origin]': { required: true},
     'reservation[arrival]': { required: true},
     'reservation[flight_origin]': { required: true},
     'flight_origin_picker': { required: true},
     'flight_arrival_picker': { required: true},
     'reservation[flight_arrival]': { required: true},
     'reservation[quantity_adults]': { required: true},
     'reservation[quantity_kids]': { required: true},
     'reservation[quantity_kit]': { required: true},
     },
   messages: {
     'reservation[origin]': 'No puede estar en blanco',
     'reservation[arrival]': 'No puede estar en blanco',
     'reservation[flight_origin]': 'No puede estar en blanco',
     'flight_origin_picker': 'No puede estar en blanco',
     'flight_arrival_picker': 'No puede estar en blanco',
     'reservation[flight_arrival]': 'No puede estar en blanco',
     'reservation[quantity_adults]': 'No puede estar en blanco',
     'reservation[quantity_kids]': 'No puede estar en blanco',
     'reservation[quantity_kit]': 'No puede estar en blanco',
     },
   debug: true,errorElement: "label",
   submitHandler: function(form){
     form.submit();
   }
  });


  $( function() {

    var origin = $("#flight_origin_picker");

    origin.datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        changeYear: true,
        yearRange: "c-10:c+20",
        numberOfMonths: 1
      }).on( "change", function() {
        console.log('La fecha inicio a cambiado', origin.datepicker('getDate') * 1)
        let date = origin.datepicker('getDate') * 1
        $('#reservation_flight_origin').val(date)
      })


    var arrival = $("#flight_arrival_picker");

    arrival.datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        changeYear: true,
        yearRange: "c-10:c+20",
        numberOfMonths: 1
      }).on( "change", function() {
        console.log('La fecha inicio a cambiado', arrival.datepicker('getDate') * 1)
        let date = arrival.datepicker('getDate') * 1
        $('#reservation_flight_arrival').val(date)
      })

  } );


:scss
  label.error-class{color: #e60707 !important;}
