%section.reservation-transfers#reservation-transfers
  .container
    .gallary-header.text-center
      %h2
        Reserva de Traslado
      %p
        Completa todos los datos para confirmar y pagar tu reserva.
  .box-reservation
    .container
      .row
        = simple_form_for @reservation, url: '/admin/travel/reservations', method: :post do |f|
          .col-lg-8
            // Datos de Reservación
            = render 'app/front/reservations/transfers/dates_reservations', f: f

            // Datos Personales
            = render 'app/front/reservations/transfers/dates_personal', f: f

            //Datos de Facturación
            = render 'app/front/reservations/transfers/dates_billing'

          // Cuadro de Resumen
          = render 'app/front/reservations/transfers/resumen'

          -#.col-lg-8
            .box-btn-reservation
              .about-btn.travel-mrt-0
                %button.about-view.travel-btn.btn-reservation{type: 'submit'}
                  confirmar

%script{:src => "https://unpkg.com/sweetalert2@7.19.3/dist/sweetalert2.all.js"}
%script{:src => '/assets/js/formReservationTransfer.js'}
:scss
  label.error-class{color: #e60707 !important;}
