%section#tours_.tours_
  - unless @results.blank?
    .banner-tours{:style => "background-image: url(#{@results.banner.url})"}
      .banner-tours--mask
        %h2= @results.title[@lang].titleize
        %p= @results.subtitle[@lang].titleize

  .content-tours
    .container
      .row
        - if @results.blank?
          .col-lg-12
            .box-results
              .image-search
                = image_tag '/assets/img/loupe.svg'
              .gallary-header.text-center
                %h2
                  ¡Lo sentimos! No hemos encontrado ningún resultado.
                %p
                  = link_to root_path do
                    Volver a relizar la búsqueda

        - else
          .col-xs-12.col-sm-12.col-md-6.col-lg-7
            .content-tours__description
              %h3 Descripción
              .content-tours__description--summary
                %p= raw @results.description[@lang]

            .content-tours__button
              .row
                .col-lg-12
                  %center
                    %span.price
                      Costo por Adulto:
                      %h3.price
                        = number_to_currency(@results.price_adults[@currency], locale: @locale)
                -# User click from a Cards - Condition 
                -#.col-lg-offset-2.col-lg-8
                  .row
                    %center
                      .col-lg-6
                        .form-group
                          %input.form-control{:type => "text", :placeholder => "Fecha", disabled: 'disabled'}/
                      .col-lg-3
                        .form-group
                          %input.form-control{:type => "text", :placeholder => "Niños"}/
                      .col-lg-3
                        .form-group
                          %input.form-control{:type => "text", :placeholder => "Adulto"}/
                .col-lg-12
                  %center
                    = link_to reservations_path(@lang, @currency, 'tour', @results, quantity_adults: @adults, quantity_kids: @kids, flight_origin_tour_picker: @flight_origin_tour_picker) do
                      %button.about-view.packages-btn.btn-reservation
                        solicitar
                        %br/
                        reservación


          .col-xs-12.col-sm-12.col-md-6.col-lg-5
            .content-.visible-xs.visible-sm
              %h3 Galería de Imágenes
            .content-tours__image
              .carrusel-galery
                .galery
                  - @results.files.each_with_index do |image|
                    .galery__item
                      %img{:alt => "", :src => image.url, :class => "img-responsive"}/
            
          .col-xs-12.col-sm-12-col-md-12.col-lg-12
            .content-tours__tab
              .col-lg-12
                .content-tours__tab--box
                  %ul.nav.nav-tabs.nav-item-tours
                    %li.active
                      %a{"data-toggle" => "tab", :href => "#includes"} Actividades
                    %li
                      %a{"data-toggle" => "tab", :href => "#description"} Descripción
                  .tab-content
                    #includes.tab-pane.active
                      .box-includes
                        %h4 Incluye
                        %p= raw @results.task[@lang]
                    #description.tab-pane
                      .box-description
                        %h4 Descripción
                        = raw @results.description[@lang]
