- if current_user.try(:has_role_agentable?)
  %li.list-group-item.d-flex.justify-content-between
    %div
      %h6.my-0= t('receptivo.reservation_transfers.subtotal')
      %small.text-muted
        - multiple = @round_trip == 'true' ? '2' : '1'
        = "#{multiple} x "
        = number_to_currency(@vehicle.set_price_destination(@locality, @currency).to_f, locale: @locale)
        = "="
        = number_to_currency(@price_total, locale: @locale)

  %li.list-group-item.d-flex.justify-content-between
    %div
      %span= t('receptivo.reservation_transfers.commission_percentage')
      %strong{style:"float: right;"}
        = "#{@comission}% = "
        = number_to_currency(@price_comission, locale: @locale)

  %li.list-group-item.d-flex.justify-content-between
    %div
      %span= t('receptivo.reservation_transfers.benefit_percentage')
      %strong{style:"float: right;"}
        = "#{@lending}% = "
        = number_to_currency(@price_lending, locale: @locale)

  %li.list-group-item.d-flex.justify-content-between
    %div
      %span= t('receptivo.reservation_transfers.total_price_agency')
      %strong{style:"float: right;"}
        = @currency.upcase
        = number_to_currency(@price_total_agency, locale: @locale)

  %li.list-group-item.d-flex.justify-content-between
    %div
      %span= t('receptivo.reservation_transfers.total_price_pax')
      %strong{style:"float: right;"}
        = @currency.upcase
        = number_to_currency(@price_total, locale: @locale)

  .box-btn-payment
    %br/
    %span
      %p.text-center.title-reser= t('receptivo.reservation_transfers.confirm_reservation')
    %br/
    %center
      .about-btn.travel-mrt-0
        %button.about-view.travel-btn.btn-reser= t('receptivo.reservation_transfers.next')

- else

  %li.list-group-item.d-flex.justify-content-between
    %div
      %h6.my-0= t('receptivo.reservation_transfers.subtotal')
      %small.text-muted
        - multiple = @round_trip == 'true' ? '2' : '1'
        = "#{multiple} x "
        = number_to_currency(@vehicle.set_price_destination(@locality, @currency).to_f, locale: @locale)
        = "="
        = number_to_currency(@price_total, locale: @locale)

  %li.list-group-item.d-flex.justify-content-between
    %div
      %span= t('receptivo.reservation_transfers.total_price')
      %strong{style:"float: right;"}
        = @currency.upcase
        = number_to_currency(@price_total, locale: @locale)

  .box-btn-payment
    %br/
    %span
      %p.text-center.title-reser= t('receptivo.reservation_transfers.pay_reservation')
    %br/
    %center
      .about-btn.travel-mrt-0
        %button.about-view.travel-btn.btn-reser= t('receptivo.reservation_transfers.confirm')
