%section#transfers.transfers
  .container
    - unless @results.blank?
      .gallary-header.text-center
        %h2
          Seleccione el tipo de vehículo que desea
        %p
          Duis aute irure dolor in velit esse cillum dolore eu fugiat nulla.
  .content-transfers
    .container
      .row
        - if @results.blank?
          .col-lg-12
            .box-results
              .image-search
                = image_tag '/assets/img/loupe.svg'
              .gallary-header.text-center
                %h2
                  ¡Lo sentimos! No hemos encontrado ningún resultado.
                %p
                  Intente volver realizar su búsqueda

        - else
          - @results.each do |transfer|
            .col-lg-4
              .cars
                .cars__img{style:"background-image: url('#{transfer.cover.url}')"}
                .cars__inf
                  .box-title
                    %span.title= transfer.title[@lang]
                  %p.amount-people
                    %span
                      %i.icon-people.icons
                      Máx de Personas:
                      = transfer.quantity_adults
                      Adultos
                      = transfer.quantity_kids
                      Niños
                  %p.amount-people
                    %span
                      %i.icon-bag.icons
                      Máx de Maletas:
                      = transfer.kit['quantity']
                      Piezas
                      (#{transfer.kit['weight']}kg)
                  %p.date-time
                    %span
                      %i.icon-calendar.icons
                      Fecha: 12/02/2018
                  %p.date-time
                    %span
                      %i.icon-clock.icons
                      Hora: 12:00pm
                  .box-items
                    .box-price
                      %span.price
                        = transfer.price[@currency]
                        = @currency == 'cop' ? '$ COP' : '$ USD'
                    .box-btn
                      = link_to reservations_transfer_path(@lang, @currency, transfer) do
                        %button.about-view.packages-btn
                          reservar
