

%section#seach-widget
  .container
    - unless @results.blank?
      .box-search
        .container
          .row
            .col-lg-9
              %p.result
                %span
                  Su búsqueda:
                %span
                  ="#{@origin_name}" 
                %span
                  = " > #{@arrival_name}"
            .col-lg-3
              %p
                %a.pull-right.link-widget Volver a relizar la búsqueda


  .container.js-widget.js-hide-widget
    .row
      .col-lg-12
        %hr
        %ul.nav.nav-tabs{:role => "tablist"}
          %li.item-widget.active{:role => "presentation", :style => "border-top-left-radius: 5px;"}
            %a{"aria-controls" => "translation", "data-toggle" => "tab", :href => "#translation", :role => "tab", :style => "border-top-left-radius: 5px;"}
              %i.fa.fa-car
              Traslados
          %li.item-widget{:role => "presentation"}
            %a{"aria-controls" => "circuits", "data-toggle" => "tab", :href => "#circuits", :role => "tab"}
              %i.fa.fa-train
              Circuitos
          %li.item-widget{:role => "presentation"}
            %a{"aria-controls" => "tours", "data-toggle" => "tab", :href => "#tours", :role => "tab"}
              %i.fa.fa-map-o
              Tours
          %li.item-widget{:role => "presentation", :style => "border-bottom-right-radius: 5px;"}
            %a{"aria-controls" => "multidestines", "data-toggle" => "tab", :href => "#multidestines", :role => "tab", :style => "border-bottom-right-radius: 5px;     margin-right: 0 !important;"}
              %i.fa.fa-plane
              Multidestinos
        .tab-content
          #translation.tab-pane.active.fade.in{:role => "tabpanel"}
            -#= search_form_for @q, url: "/#{@lang}/#{@currency}/transfers", html: {class: 'input-group', id: 'search-input', method: :get } do |f|
            %input#round_trip{name: 'round_trip', type: 'hidden'}
            .tab-para
              .row
                .col-lg-12
                  .trip-circle
                    .single-trip-circle
                      %input#solo_ida.radio-fecha-vuelos{:name => "ida_o_vuelta", :type => "radio"}/
                      %label.solo_ida{:for => "solo_ida"}
                        %span.round-boarder>
                          %span.round-boarder1
                        Solo ida
                    .single-trip-circle
                      %input#ida_vuelta.radio-fecha-vuelos{:name => "ida_o_vuelta", :type => "radio"}/
                      %label.ida_vuelta{:for => "ida_vuelta"}
                        %span.round-boarder
                          %span.round-boarder1
                        Ida y vuelta

                .col-lg-6
                  .single-tab-select-box
                    %h2 Origen
                    %input.google-input.form-control{id: 'origin_transfer', name: 'origin_transfer'}
                    %input{name: 'origin_hidden', id: 'origin_hidden', type: 'hidden'}

                .col-lg-6
                  .single-tab-select-box
                    %h2 Destino
                    %input.custom-input.form-control{id: 'arrival_transfer', name: 'arrival_transfer'}
                    %input{name: 'arrival_hidden', id: 'arrival_hidden', type: 'hidden'}

                .col-lg-12
                  %hr

                .col-lg-3
                  .single-tab-select-box
                    %h2 Fecha de Ida
                    .form-group
                      %input.form-control.custom-input{name: 'flight_origin_picker', id: 'flight_origin_picker', autocomplete: 'off'}/

                .col-lg-3#vuelo_vuelta
                  .single-tab-select-box
                    %h2 Fecha de Vuelta
                    .form-group
                      %input.form-control.custom-input{name: 'flight_arrival_picker', id: 'flight_arrival_picker', autocomplete: 'off'}/

                .col-lg-2{style: 'margin-left:18px'}
                  .single-tab-select-box
                    %h2 Adultos
                    .form-group
                      %input#adults.custom-input.form-control{min: 1, name: 'quantity_adults', :type => "number", style: 'width:55%!important'}/

                .col-lg-2{style: 'margin-left:-35px'}
                  .single-tab-select-box
                    %h2 Niños
                    .form-group
                      %input#kids.custom-input.form-control{min: 1, name: 'quantity_kids', :type => "number", style: 'width:55%!important'}/

                .col-lg-12.col-md-4.col-sm-12
                  .about-btn.travel-mrt-0.pull-right
                    %button.about-view.travel-btn
                      buscar

          #circuits.tab-pane.fade.in{:role => "tabpanel"}
            .tab-para
              .row
                .col-lg-12
                  %h2.text-center{style:"color: #4e4e56 !important"} Sin información - Circuitos

          #tours.tab-pane.fade.in{:role => "tabpanel"}
            .tab-para
              .row
                .col-lg-12
                  %h2.text-center{style:"color: #4e4e56 !important"} Sin información - Tours

          #multidestines.tab-pane.fade.in{:role => "tabpanel"}
            .tab-para
              .row
                .col-lg-12
                  %h2.text-center{style:"color: #4e4e56 !important"} Sin información - Multidestinos

%section#transfers.transfers
  .container
    - unless @results.blank?
      .gallary-header.text-center
        %h2
          Seleccione el tipo de vehículo que desea
        %p
          Duis aute irure dolor in velit esse cillum dolore eu fugiat nulla.
  .content-transfers
    .container
      .row
        - if @results.blank?
          .col-lg-12
            .box-results
              .image-search
                = image_tag '/assets/img/loupe.svg'
              .gallary-header.text-center
                %h2
                  ¡Lo sentimos! No hemos encontrado ningún resultado.
                %p
                  = link_to root_path do
                    Volver a relizar la búsqueda


        - else
          - @results.each do |transfer|
            .col-lg-4
              .cars
                .cars__img{style:"background-image: url('#{transfer.cover.url}')"}
                .cars__inf
                  .box-title
                    %span.title= transfer.title[@lang]
                  %p.amount-people
                    %span
                      %i.icon-people.icons
                      Máx de Asientos:
                      = transfer.seat
                      Personas
                  %p.amount-people
                    %span
                      %i.icon-bag.icons
                      Máx de Maletas:
                      = transfer.kit['quantity']
                      Piezas
                      (#{transfer.kit['weight']}kg)
                  -# %p.date-time
                  -#   %span
                  -#     %i.icon-calendar.icons
                  -#     Fecha: 12/02/2018
                  -# %p.date-time
                  -#   %span
                  -#     %i.icon-clock.icons
                  -#     Hora: 12:00pm
                  .box-items
                    .box-price
                      %span.price
                        = @currency.upcase
                        = number_to_currency(transfer.price[@currency], locale: @locale)
                    .box-btn
                      = link_to reservations_transfer_path(@lang, @currency, transfer, org_name: @origin_name,
                        org_loc:@origin_location, arr_name: @arrival_name, arr_loc:@arrival_location,
                        adults: @adults, kids: @kids, round_trip: @round_trip,
                        flight_origin_picker: @flight_origin_picker, flight_arrival_picker: @flight_arrival_picker) do
                        %button.about-view.packages-btn
                          seleccionar
:javascript

  $( '.link-widget' ).on( 'click', function() {
      $('.js-widget').removeClass('js-hide-widget');
      $('.js-widget').addClass('js-show-widget');
  });
