.container
	.footer__content
		.row
			.col-xs-12.col-lg-3.visible-xs.visible-lg
				.single-footer-item
					.footer-logo
						%img{:alt => "", :src => "/assets/img/patron.svg"}/
			.col-xs-12.col-sm-4.col-md-4.col-lg-3
				.single-footer-item
					%h2 Site Map
					.single-footer-txt
						%p
							%a{href: "#"} Quiénes Somos
						%p
							%a{href: "#"} Traslados
						%p
							%a{href: "#"} Circuitos
						%p
							%a{href: "#"} Tours
						%p
							%a{href: "#"} Multidestinos
						%p
							%a{:href => "#"} Contacto

			.col-xs-12.col-sm-4.col-md-4.col-lg-3
				.single-footer-item
					%h2 Destinos Destacados
					.single-footer-txt
						%p
							%a{href: "#"} Cartagena
						%p
							%a{href: "#"} Bucaramanga
						%p
							%a{href: "#"} Barranquilla
						%p
							%a{href: "#"} Neiva
						%p
							%a{:href => "#"} Guajira

			.col-xs-12.col-sm-4.col-md-4.col-lg-3
				.single-footer-item
					%h2 Contáctanos
					.single-footer-txt
						%p +57 317 3632119
						%p RNT: 32133
						%p{style:'text-transform: lowercase;'} info@receptivocolombia.com
						-#%p Colombia
						%ul
							%li
								= link_to pqrs_path , class: '', id: '', type: 'button' do
									%span
										PQRS
							%li
								= link_to '#' , class: '', id: 'js_cancellations_footer', type: 'button' do
									%span
										Política de Cancelaciones
							%li
								= link_to '#' , class: '', id: 'js_treatments_footer', type: 'button' do
									%span
										Política de Privacidad
							%li
								= link_to '#' , class: '', id: 'js_terms_footer', type: 'button' do
									%span
										Términos y Condiciones

				.foot-icons
					%ul.footer-social-links.list-inline.list-unstyled
						%li
							%a.foot-icon-bg-1{href: "#", target: "_blank"}
								%i.fa.fa-facebook
						%li
							%a.foot-icon-bg-2{href: "#", target: "_blank"}
								%i.fa.fa-twitter
						%li
							%a.foot-icon-bg-3{href: "#", target: "_blank"}
								%i.fa.fa-instagram
	%hr/
	.container
		.copyright
			%p
				Copyright © Receptivo Colombia 2018  |  Powered by
				%a.slice-group{:href => "http://www.slicegroup.xyz/", :target => "_blank"} Slice Group
				with
				%a.keppler-admin{:href => "http://keppleradmin.com", :target => "_blank"}
					!!! XML
					%svg.keppler-logo{:height => "20px", :version => "1.1", :viewbox => "0 0 130.34207 30.27716", :width => "86px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:cc" => "http://creativecommons.org/ns#", "xmlns:dc" => "http://purl.org/dc/elements/1.1/", "xmlns:rdf" => "http://www.w3.org/1999/02/22-rdf-syntax-ns#"}
						%metadata
							%rdf
								%work{"rdf:about" => ""}
									%format image/svg+xml
									%type{"rdf:resource" => "http://purl.org/dc/dcmitype/StillImage"}
									%title
						%g{:transform => "translate(-77.687 -574.9)"}
							%g.svg-keppler{"stroke-width" => "1px"}
								%path{:d => "m107.77 598.62h-5.4453l-7.2823-11.809 5.4781-7.2823q-0.91848-0.42644-1.2793-0.88568l0.32803-2.657h7.4791l0.32803 2.657q-0.45924 0.52485-1.7058 1.0497l-5.6749 6.987 5.1829 7.8071q2.1322 0.45924 2.9195 1.4105l-0.32803 2.7226zm-11.448-22.634 0.32803 2.7226q-0.52485 0.62326-1.8042 1.1153v14.991q1.3121 0.52485 1.8042 1.0825l-0.32803 2.7226h-7.6759l-0.32803-2.7226q0.42644-0.55765 1.8042-1.0825v-14.991q-1.3449-0.49205-1.8042-1.1153l0.32803-2.7226h7.6759z"}
								%path{:d => "m116.56 598.88q-3.9364 0-5.9373-2.0994-1.9682-2.0994-1.9682-6.1014 0-2.4274 0.68886-4.166 0.68886-1.7714 1.8698-2.7226 2.2962-1.837 5.3469-1.837 3.0507 0 4.658 1.5745 1.6402 1.5417 1.6402 5.5765 0 2.3618-2.329 2.3618h-7.1182q0.13121 2.0666 1.0497 2.9195 0.95128 0.85288 2.9851 0.85288 1.1153 0 2.1322-0.26242 1.0169-0.26243 1.4761-0.52485l0.45924-0.26243 0.98409 2.6242q-0.19682 0.22963-0.59046 0.59046-0.36083 0.32803-1.9026 0.91848-1.5089 0.55765-3.4443 0.55765zm2.0666-10.333q0.0656-0.45924 0.0656-1.1153t-0.52485-1.3777q-0.52484-0.75447-1.837-0.75447-1.2793 0-1.9682 0.78728-0.68887 0.78727-0.91849 2.657l5.1829-0.19682z"}
								%path{:d => "m124.48 582.22q1.8042-0.39363 3.2475-0.39363t2.3946 0.0656v1.6074q2.1978-1.5417 4.6908-1.5417 3.2803 0 4.7564 1.8698t1.4761 6.2326q0 2.329-0.68886 4.1004t-1.8698 2.7554q-2.2634 1.9682-5.3797 1.9682-1.3449 0-2.5586-0.26242v2.8211q1.9354 0.52484 2.493 1.2137l-0.32803 2.5258h-8.2336l-0.32803-2.5258q0.42644-0.59046 1.8042-1.1153v-15.68q-1.1481-0.39364-1.8042-1.1153l0.32803-2.5258zm8.2992 13.318q1.6402 0 2.5914-1.4433 0.95128-1.4761 0.95128-4.0348 0-2.5914-0.52484-3.5427-0.52485-0.95129-1.9026-0.95129-2.0994 0-3.3459 0.98409v8.7256q1.0169 0.26243 2.2306 0.26243z"}
								%path{:d => "m142.74 582.22q1.8042-0.39363 3.2475-0.39363t2.3946 0.0656v1.6074q2.1978-1.5417 4.6908-1.5417 3.2803 0 4.7564 1.8698t1.4761 6.2326q0 2.329-0.68886 4.1004t-1.8698 2.7554q-2.2634 1.9682-5.3797 1.9682-1.3449 0-2.5586-0.26242v2.8211q1.9354 0.52484 2.493 1.2137l-0.32803 2.5258h-8.2336l-0.32803-2.5258q0.42644-0.59046 1.8042-1.1153v-15.68q-1.1481-0.39364-1.8042-1.1153l0.32803-2.5258zm8.2992 13.318q1.6402 0 2.5914-1.4433 0.95128-1.4761 0.95128-4.0348 0-2.5914-0.52484-3.5427-0.52485-0.95129-1.9026-0.95129-2.0994 0-3.3459 0.98409v8.7256q1.0169 0.26243 2.2306 0.26243z"}
								%path{:d => "m160.96 575.33q1.837-0.42644 3.4115-0.42644 1.5746 0 2.657 0.0984v19.977q1.2793 0.49204 1.8042 1.1153l-0.32803 2.5258h-7.5447l-0.32803-2.5258q0.45924-0.62326 1.8042-1.1153v-16.008q-1.1481-0.39364-1.8042-1.1153l0.32803-2.5258z"}
								%path{:d => "m178.06 598.88q-3.9364 0-5.9373-2.0994-1.9682-2.0994-1.9682-6.1014 0-2.4274 0.68886-4.166 0.68886-1.7714 1.8698-2.7226 2.2962-1.837 5.3469-1.837t4.658 1.5745q1.6402 1.5417 1.6402 5.5765 0 2.3618-2.329 2.3618h-7.1182q0.13121 2.0666 1.0497 2.9195 0.95128 0.85288 2.9851 0.85288 1.1153 0 2.1322-0.26242 1.0169-0.26243 1.4761-0.52485l0.45924-0.26243 0.98409 2.6242q-0.19682 0.22963-0.59045 0.59046-0.36084 0.32803-1.9026 0.91848-1.5089 0.55765-3.4443 0.55765zm2.0666-10.333q0.0656-0.45924 0.0656-1.1153t-0.52485-1.3777q-0.52484-0.75447-1.837-0.75447-1.2793 0-1.9682 0.78728-0.68887 0.78727-0.91849 2.657l5.1829-0.19682z"}
								%path{:d => "m195.86 586.25q-2.493 0-3.4443 0.95129v7.5119q2.657 0.49205 3.6411 1.3777l-0.32803 2.5258h-9.3816l-0.32803-2.5258q0.45924-0.62326 1.8042-1.1153v-9.1192q-1.1481-0.39364-1.8042-1.1153l0.32803-2.5258q1.8042-0.39363 3.2475-0.39363t2.3946 0.0656v2.0666q0.75447-0.88568 1.9354-1.4433 1.1809-0.59045 2.1322-0.59045 0.98409 0 1.3449 0.16401l-0.0984 4.2644q-0.65606-0.0984-1.4433-0.0984z"}

	.container
		/* Modal - Política de Cancelaciones */
		= render 'app/layouts/modal/cancellations'
		/* Modal - Política de Privacidad */
		= render 'app/layouts/modal/private'
		/* Modal - Términos y Condiciones */
		= render 'app/layouts/modal/terms'
