// Title & Meta tags
= render 'app/layouts/meta_tags'

// Stylesheets
= stylesheet_link_tag 'app/application', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag 'css/application', media: 'all', 'data-turbolinks-track' => true

//Styles front
%link{:href => "/assets/css/style.css", :rel => "stylesheet"}/
%link{:href => "/assets/css/responsive.css", :rel => "stylesheet"}/
%link{:href => "/assets/css/nucleo-icons.css", :rel => "stylesheet"}/
%link{:href => "/assets/css/font-awesome.min.css", :rel => "stylesheet"}/


// Javascripts
= javascript_include_tag 'app/application', 'data-turbolinks-track' => true

-#%script{:src => "/assets/js/bootstrap.min.js"}
%script{:src => "/assets/js/check.js"}

// Google Analytics
= render 'app/layouts/google_analytics'

//Test
%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"}
%script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"}
-# %script{:src => "https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.js"}
%script{:src => "/assets/js/jquery-validate.js"}
