.col-lg-1
.col-lg-10
  .widget__search
    %ul.nav.nav-tabs.widget__search--items
      -#Traslados | Tours | Circuitos | Multidestinos
      %li.active

        %a{"data-toggle" => "tab", :href => "#transfers"}
          %i.fa.fa-car
          Traslados
      %li
        %a{"data-toggle" => "tab", :href => "#tours"}
          %i.fa.fa-map-o
          Tours
      %li
        %a{"data-toggle" => "tab", :href => "#circuits"}
          %i.fa.fa-train
          Circuitos
      %li
        %a.fix{"data-toggle" => "tab", :href => "#multidestines"}
          %i.fa.fa-plane
          Multidestinos
    .tab-content
      //#transfers
      #transfers.tab-pane.fade.in.active
        = search_form_for @q, url: "/#{@lang}/#{@currency}/vehicles", html: {class: 'input-group', id: 'search-input', method: :get } do |f|
          %input#round_trip{name: 'round_trip', type: 'hidden'}
          .box-transfers
            .row
              .col-lg-12
                .trip-circle

                  .single-trip-circle
                    %input#ida_vuelta.radio-fecha-vuelos{:name => "ida_o_vuelta", :type => "radio"}/
                    %label.ida_vuelta{:for => "ida_vuelta"}
                      %span.round-boarder
                        %span.round-boarder1
                      Ida y vuelta

                  .single-trip-circle
                    %input#solo_ida.radio-fecha-vuelos{:name => "ida_o_vuelta", :type => "radio"}/
                    %label.solo_ida{:for => "solo_ida"}
                      %span.round-boarder>
                        %span.round-boarder1
                      Solo ida

              .col-lg-3
                .box-item
                  %h2 Origen
                  %input.google-input.form-control{id: 'origin_vehicle', name: 'origin_vehicle'}
                  %input{name: 'origin_hidden', id: 'origin_hidden', type: 'hidden'}

              .col-lg-3
                .box-item
                  %h2 Destino
                  %input.custom-input.form-control{id: 'arrival_vehicle', name: 'arrival_vehicle'}
                  %input{name: 'arrival_hidden', id: 'arrival_hidden', type: 'hidden'}


              .col-lg-2
                .box-item
                  %h2 Fecha de Ida
                  .form-group
                    %input.form-control.custom-input{name: 'flight_origin_picker', id: 'flight_origin_picker', autocomplete: 'off'}/

              .col-lg-2#vuelo_vuelta
                .box-item
                  %h2 Fecha de Vuelta
                  .form-group
                    %input.form-control.custom-input{name: 'flight_arrival_picker', id: 'flight_arrival_picker', autocomplete: 'off'}/

              .col-lg-1
                .box-item
                  %h2 Adultos
                  .form-group
                    %input#adults.custom-input.form-control{min: 1, name: 'quantity_adults', value: 2, :type => "number"}/

              .col-lg-1
                .box-item
                  %h2 Niños
                  .form-group
                    %input#kids.custom-input.form-control{min: 0, name: 'quantity_kids', :type => "number"}/

              .col-lg-12
                #errors
                .about-btn.travel-mrt-0.pull-right.box-btn
                  %button.about-view.travel-btn{type: 'submit'}
                    buscar
      //circuits
      #circuits.tab-pane.fade
        %h5.text-center{style:"color: #4e4e56 !important"} Sin información - Circuitos
      //tours
      #tours.tab-pane.fade
        %h5.text-center{style:"color: #4e4e56 !important"} Sin información - Tours
      //multidestines
      #multidestines.tab-pane.fade
        %h5.text-center{style:"color: #4e4e56 !important"} Sin información - Multidestinos
	.widget__search
		-# Traslados | Tours | Circuitos | Multidestinos
		%ul.nav.nav-tabs.widget__search--items
			%li.active
				%a{"data-toggle" => "tab", :href => "#transfers"}
					%i.fa.fa-car
					Traslados
			%li
				%a{"data-toggle" => "tab", :href => "#tours"}
					%i.fa.fa-map-o
					Tours
			%li
				%a{"data-toggle" => "tab", :href => "#circuits"}
					%i.fa.fa-train
					Circuitos
			%li
				%a.fix{"data-toggle" => "tab", :href => "#multidestines"}
					%i.fa.fa-plane
					Multidestinos

		.tab-content
			// Transfers
			#transfers.tab-pane.fade.in.active
				= render 'app/layouts/widget/transfers/form'

			// Tours
			#tours.tab-pane.fade
				= render 'app/layouts/widget/tours/form'

			// Circuits
			#circuits.tab-pane.fade
				= render 'app/layouts/widget/circuits/form'

			// Multidestinations
			#multidestines.tab-pane.fade
				%h5.text-center{style:"color: #4e4e56 !important"} Sin información - Multidestinos
				= render 'app/layouts/widget/multidestinations/form'


%script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyDt6Fm4Tge8PJpUNhByW314XyvQGJRpDFc&sensor=false&libraries=places", :type => "text/javascript"}
%link{:href => "https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css", :rel => "stylesheet"}/
%script{:src => "https://code.jquery.com/ui/1.12.1/jquery-ui.js"}

%script{:src => '/assets/js/jquery-ui-timepicker-addon.js'}
%link{:href => "/assets/css/jquery-ui-timepicker-addon.css", :rel => "stylesheet"}/
