- objects.each do |reservation|
  %tr{ id: "row-#{reservation.id}" }
    %td.hidden-xs
      = link_to admin_travel_reservation_path(reservation, search: @query), remote: true, class: 'show-row' do
        %span= reservation.id

    %td.hidden-xs.hidden-sm
      = link_to admin_travel_reservation_path(reservation, search: @query), remote: true, class: 'show-row' do
        %span
          = reservation.invoice.token

    %td.hidden-xs.hidden-sm
      = link_to admin_travel_reservation_path(reservation, search: @query), remote: true, class: 'show-row' do
        %span
          = reservation.invoice.currency.upcase
          = number_to_currency(reservation.invoice.amount, locale: @locale)

    %td.hidden-xs
      = link_to admin_travel_reservation_path(reservation, search: @query), remote: true, class: 'show-row' do
        %span= reservation.invoice.status

    %td.hidden-xs
      = link_to admin_travel_reservation_path(reservation, search: @query), remote: true, class: 'show-row' do
        %span
          = reservation.origin.truncate(20)
    %td.hidden-xs
      = link_to admin_travel_reservation_path(reservation, search: @query), remote: true, class: 'show-row' do
        %span
          = reservation.try(:arrival).try(:truncate, 20) || "No disponible"
    %td.hidden-xs.hidden-sm
      = link_to admin_travel_reservation_path(reservation, search: @query), remote: true, class: 'show-row' do
        %span
          = reservation.quantity_adults
    - if params[:type_search] == 'agency'
      %td.hidden-xs.hidden-sm
        = link_to admin_travel_reservation_path(reservation, search: @query), remote: true, class: 'show-row' do
          %span
            = reservation&.agency&.user&.email || reservation&.agent&.agency&.user&.email
    - else
      %td.hidden-xs.hidden-sm
        = link_to admin_travel_reservation_path(reservation, search: @query), remote: true, class: 'show-row' do
          %span
            = reservation.user.email
    %td.hidden-xs.hidden-sm
      = link_to admin_travel_reservation_path(reservation, search: @query), remote: true, class: 'show-row' do
        %span
          = reservation.driver.nil? ? 'No Asignado' : reservation.driver.user.name
    %td.dropdown{ style: 'width: 15px;padding-right:15px;' }
      %a.action-btn.pull-right{:id => "menu-#{reservation.id}", "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"}
        %i.icon-options-vertical
      %ul.actions.dropdown-menu{"aria-labelledby" => "menu-#{reservation.id}" }
        - if can?(KepplerTravel::Reservation).index?
          %li
            = link_to admin_travel_reservation_path(reservation, model_name: @model.downcase, type_search: params[:type_search]), class: 'new-menu', title: t('keppler.actions.show') do
              %i.icon-eye
              = t('keppler.actions.show')
        - if can?(KepplerTravel::Reservation).destroy?
          %li
            = link_to admin_travel_reservation_path(reservation), class: 'new-menu', title: t('keppler.actions.delete'), method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
              %i.icon-trash
              = t('keppler.actions.delete')

        - if can?(KepplerTravel::Reservation).update?
          %li
            = link_to edit_admin_travel_reservation_path(reservation, model_name: @model.downcase, type_search: params[:type_search]), class: 'new-menu', title: t('keppler.actions.delete') do
              %i.icon-pencil
              = t('keppler.actions.edit')
