.container
  .row
    .col-lg-2
      = link_to admin_travel_reservations_path(model_name: @model.downcase, type_search: params[:type_search]), class: "", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
        .arrow-back.btn.btn-default
          %i.fa.fa-angle-left
          = t('keppler.actions.back')
  .show-section
    .row
      .col-lg-12
        .box.slice-box
          .box-header.with-border
            %h3.box-title
              Keppler Travel
              #{params[:model_name].pluralize.titleize} ->
              Datos de Reservación
            .box-tools.pull-right
              - if can?(KepplerTravel::Reservation).destroy?
                = link_to admin_travel_reservation_path(@reservation), class: "btn btn-box-tool", title: "#{t('keppler.actions.delete')}", method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
                  %i.icon-trash

              - if @type_search == 'agency'
                = link_to edit_admin_travel_reservation_path(@reservation, model_name: params[:model_name], type_search: params[:model_name]), class: 'new-menu', title: t('keppler.actions.edit') do
                  %i.icon-pencil
                  = t('keppler.actions.edit')
      .col-lg-8
        .box-body.box-body-no-padding
          .invoice-transfers__box
            .row
              .col-xs-12
                .row
                  .col-lg-2
                    %img{:alt => "", :src => "/assets/img/isotipo-receptivo-colombia-invoice.svg", :width => "120px"}/
                  .col-lg-6
                    %h2 Receptivo Colombia
                    %p= t('receptivo.dashboard.table.tourism')
                  .col-lg-1
                  .col-lg-3
                    %h3.pull-right="N° de Orden #{@reservation.invoice.id}"
                %hr/
                .row
                  .col-xs-12
                    %address
                      %strong= t('receptivo.dashboard.table.dates_cotizante')
                      %br/
                      = @reservation.user.name
                      %br/
                      = @reservation.user.phone.blank? ? '-----------' : @reservation.user.phone
                      %br/
                      = @reservation.user.email
                      %br/
                      = @reservation.invoice.address.blank? ? '-----------' : @reservation.invoice.address
                .row
                  .col-xs-12.col-lg-3
                    %address
                      %strong Método de Pago
                      %br/
                      Pĺataforma: EnLineaPagos
                      %br/
                  .col-xs-12.col-lg-3
                    %address
                      %strong= t('receptivo.dashboard.table.type_currency')
                      %br/
                      = @reservation.invoice.currency.upcase
                      %br/
                      %br/
                  .col-xs-12.col-lg-3
                    %address
                      %strong= t('receptivo.dashboard.table.status_reservations')
                      %br/
                      %span.badge.badge-pill{class: @reservation.order.status_class?}= t("keppler.messages.#{@reservation.order.status}")
                      -#Status / Color
                        Green / Approved  ---- .btn-success
                        Red  / Canceled   ---- .btn-danger
                        Yellow / Pending  ---- .btn-warning
                      %br/
                      %br/

                  .col-xs-12.col-lg-3
                    %address
                      %strong= t('receptivo.dashboard.table.status_pay')
                      %br/
                      %span.badge.badge-pill{class: @reservation.order.status_pay_class?}= t("keppler.messages.#{@reservation.order.status_pay}")
                      %br/
                      %br/

                  .col-xs-12.col-lg-3
                    %address
                      %strong= t('receptivo.dashboard.table.invoice')
                      %br/
                      = @reservation.invoice.token
                      %br/
                      %br/
                .row
                  .col-xs-12
                    %h4.text-center Información del Traslado
                    %br/
                  .col-xs-12.col-lg-4
                    %address
                      %strong= t('receptivo.dashboard.table.origin')
                      %br/
                      -#= field(@reservation.origin)
                      = @reservation.origin.blank? ? '-----------' : @reservation.origin
                      %br/
                      %strong= t('receptivo.dashboard.table.arrival')
                      %br/
                      = @reservation.arrival.blank? ? '-----------' : @reservation.arrival
                      %br/
                      %strong= t('receptivo.dashboard.table.airline_origin')
                      %br/
                      = @reservation.airline_origin.blank? ? '-----------' : @reservation.airline_origin
                      %br/
                      %strong= t('receptivo.dashboard.table.airline_arrival')
                      %br/
                      = @reservation.airline_arrival.blank? ? '-----------' : @reservation.airline_arrival
                      %br/
                  .col-xs-12.col-lg-4
                    %address
                      %strong= t('receptivo.dashboard.table.type_transfer')
                      %br/
                      - if @reservation.round_trip == 'true'
                        = t('receptivo.dashboard.table.round_trip')
                      -else
                        = t('receptivo.dashboard.table.one_way')
                      %br/
                      %strong= t('receptivo.dashboard.table.adults_kids')
                      %br
                      = "#{@reservation.quantity_adults.to_i} / #{@reservation.quantity_kids.to_i}"
                      %br/
                      %strong= t('receptivo.dashboard.table.flight_origin')
                      %br/
                      = @reservation.flight_number_origin.blank? ? '-----------' : @reservation.flight_number_origin
                      %br/
                      %strong= t('receptivo.dashboard.table.flight_arrival')
                      %br/
                      = @reservation.flight_number_arrival.blank? ? '-----------' : @reservation.flight_number_arrival
                      %br/
                  .col-xs-12.col-lg-4
                    %address
                      %strong= t('receptivo.dashboard.table.date_origin')
                      %br/
                      = @reservation.flight_origin.blank? ? '-----------' : @reservation.flight_origin
                      %br/
                      %strong= t('receptivo.dashboard.table.date_arrival')
                      %br/
                      = @reservation.flight_arrival.blank? ? '-----------' : @reservation.flight_arrival
                      %br
                      %strong= t('receptivo.dashboard.table.hour_origin')
                      %br/
                      = @reservation.hour_origin.blank? ? '-----------' : @reservation.hour_origin
                      %br/
                      %strong= t('receptivo.dashboard.table.hour_arrival')
                      %br/
                      = @reservation.hour_arrival.blank? ? '-----------' : @reservation.hour_arrival
                      %br
                      %strong= t('receptivo.dashboard.table.luggage')
                      %br/
                      = @reservation.quantity_kit
                      = t('receptivo.dashboard.table.pieces')
                  .col-xs-12.col-lg-12
                    %address
                      %strong= t('receptivo.dashboard.table.observations')
                      %br/
                      = @reservation.description.blank? ? '-----------' : @reservation.description
                      %br
                  .col-xs-12.col-lg-12
                    %strong= t('receptivo.dashboard.table.details_travellers')
                    %br/
                    %table.table.table-striped#travellers
                      -#%thead
                        %tr
                          %th
                      %tbody
                        - @reservation.travellers.each_with_index do |traveller, index|
                          %tr.list-row{style:'background-color: transparent !important;'}
                            %td.display-value.fs-body-1.tc-black-2{style:'border-top: 1px solid transparent !important;'}
                            = traveller.name.blank? ? '-----------' : "#{traveller.name.titleize} - #{traveller.dni}"
                .row
                  .col-xs-12.col-lg-12
                    .panel.panel-default
                      .panel-heading
                        %h3.panel-title
                          %strong= t('receptivo.dashboard.table.vehicle_information')
                      .panel-body
                        .table-responsive
                          %table.table.table-condensed
                            %thead
                              %tr
                                %td.text-center
                                  %strong= t("activerecord.attributes.title")
                                %td.text-center
                                  %strong= t("activerecord.attributes.kit_weight")
                                %td.text-center
                                  %strong= t("activerecord.attributes.kit_quantity")
                                %td.text-center
                                  %strong= t("activerecord.attributes.seat_max")
                            %tbody
                              %tr
                                %td.text-center= @reservation.reservationable.title.blank? ? '-----------' : @reservation.reservationable.title['es']
                                %td.text-center= @reservation.reservationable.kit['weight'].blank? ? '-----------' : @reservation.reservationable.kit['weight']
                                %td.text-center= @reservation.reservationable.kit['quantity'].blank? ? '-----------' : @reservation.reservationable.kit['quantity']
                                %td.text-center= @reservation.reservationable.seat.blank? ? '-----------' : @reservation.reservationable.seat
                  %br
                  .col-xs-12.col-lg-12
                    .panel.panel-default
                      .panel-heading
                        %h3.panel-title
                          %strong= t('receptivo.dashboard.table.description')
                      .panel-body
                        .table-responsive
                          %table.table.table-condensed
                            %thead
                              %tr
                                %td.text-center
                                  %strong= t('receptivo.dashboard.table.concept')
                                %td.text-center
                                  %strong= t('receptivo.dashboard.table.price')
                                %td.text-center
                                  %strong= t('receptivo.dashboard.table.quantity')
                                %td.text-center
                                  %strong Total
                            %tbody
                              %tr
                                %td.text-center= @reservation.reservationable.title['es']
                                %td.text-center= number_to_currency(@reservation.order.price_reservationable, locale: @locale)
                                %td.text-center= @reservation.multiple
                                %td.text-center= number_to_currency(@reservation.order.price_total_pax, locale: @locale)
                  - if @type_search == 'agency'
                    .col-xs-12.col-lg-12
                      .panel.panel-default
                        .panel-heading
                          %h3.panel-title
                            %strong= t('receptivo.dashboard.table.agency_percentages')
                        .panel-body
                          .table-responsive
                            %table.table.table-condensed
                              %thead
                                %tr
                                  %td.text-center
                                    %strong= t('receptivo.dashboard.table.concept')
                                  %td.text-center
                                    %strong= t('receptivo.dashboard.table.value')
                                  %td.text-center
                                    %strong Subtotal
                                  %td.text-center
                                    %strong Total
                              %tbody
                                %tr
                                  %td.text-center= t('receptivo.dashboard.table.comission')
                                  %td.text-center= "#{@reservation.order.comission} %"
                                  %td.text-center= number_to_currency(@reservation.order.price_comission, locale: @locale)
                                  %td.text-center -----

                                %tr
                                  %td.text-center= t('receptivo.dashboard.table.lending')
                                  %td.text-center= "#{@reservation.order.lending} %"
                                  %td.text-center= number_to_currency(@reservation.order.price_lending, locale: @locale)
                                  %td.text-center -----

                                %tr
                                  %td.text-center Total PAX
                                  %td.text-center -----
                                  %td.text-center -----
                                  %td.text-center= number_to_currency(@reservation.order.price_total_pax, locale: @locale)

                                %tr
                                  %td.text-center= t('receptivo.dashboard.table.total_agency')
                                  %td.text-center -----
                                  %td.text-center -----
                                  %td.text-center= number_to_currency(@reservation.order.price_total_agency, locale: @locale)
          %br
          %br
          %br
          %br
          %br
      .col-xs-12.col-lg-4
        .box.slice-box
          .box-header.with-border
            %h3.box-title Conductor Asignado
          .box-body.box-body-no-padding
            %table.table.table-striped
              %tbody
                %tr.list-row
                  %th.display-label Nombre y Apellido
                  %td.display-value.fs-body-1.tc-black-2
                    - unless @reservation.driver.nil?
                      .col-lg-8.pull-left
                        = @reservation.driver.user.name
                      -# - unless @reservation.order.status.eql?('complete')
                      .col-lg-4
                        = link_to admin_travel_reservations_unassign_driver_path(reservation_id: @reservation.id), title: 'Remover Conductor', data: { confirm: t("keppler.messages.data_confirm") } do
                          %i.icon-close{style: 'color:red'}
                          -# .arrow-back.btn.btn-default
                          -#   = t('keppler.actions.unassign')
                    - else
                      = '-----------'
                %tr.list-row
                  %th.display-label Correo
                  %td.display-value.fs-body-1.tc-black-2
                    = @reservation.driver.nil? ? '-----------' : @reservation.driver.user.email
                %tr.list-row
                  %th.display-label Teléfono
                  %td.display-value.fs-body-1.tc-black-2
                    = @reservation.driver.nil? ? '-----------' : @reservation.driver.user.phone
            -# if @reservation.order.try(:status).try(:eql, 'complete')
            - if @reservation.driver.nil? && KepplerTravel::Driver.count.positive?
              = simple_form_for @reservation, url: '/admin/travel/reservations/assignment', data: { confirm: t("keppler.messages.data_confirm") }, method: :post do |f|
                %input{name: 'reservation_id', value: @reservation.id, type: 'hidden'}
                %input{name: 'model_name', value: params[:model_name], type: 'hidden'}
                %table.table.table-striped
                  %tbody
                    %tr.list-row
                      -# %th.display-label Lista de Conductores Disponibles
                      -# %td.display-value.fs-body-1.tc-black-2
                      -#   %select.form-control{name: 'driver_id', style:'border-radius: 0 !important;'}
                      -#     - @reservation.reservationable.drivers.each do |driver|
                      -#       %option{ value: driver.id}= driver.user.name
                      %th
                        %select#js-search-drive{name: 'driver_id', :multiple => "multiple", :style => ""}
                          - @reservation.reservationable.drivers.each do |driver|
                            %option{ value: driver.id}="#{driver.user.name} -  DNI #{driver.user.dni}"
                    %tr.list-row
                      %th.display-label= f.button :submit, t('keppler.actions.assignment'), name: '_save', class: 'btn-primary'

:scss
  .btn_remove{
    color: #f44336;
    font-weight: bold;
    font-size: 18px;
  }

  .select2-selection {
    border-radius: 0 !important;
  }
  .select2-container--default.select2-container--focus .select2-selection--multiple {
      border: solid #f44336 1px !important;
      outline: 0;
  }

  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #f44336 !important;
  }
  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff !important;
  }

%script{src: "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/i18n/es.js"}
:javascript
  $(document).ready(function(){
    $("#js-search-drive").select2({
      language: "es",
      placeholder: "Buscar Conductor",
      allowClear: true,
      width: '100%',
      maximumSelectionLength: 1
    });
  });
