- objects.each do |tour|
  %tr{ id: "row-#{tour}" }
    %td.icon-position
      %span
        - if tour.valid?
          %i.icon-check.icon-approved
        - else
          %i.icon-close.icon-rejected
    %td
      %span
        = tour.title['es']
    %td
      %span
        = tour.subtitle['es']
    %td
      %span
        = tour.description['es']
    %td
      %span
        = tour.task['es']
    %td
      %span
        = tour.price_adults['cop']
    %td
      %span
        = tour.price_kids['cop']
    %td
      - if tour.destinations.present?
        %ul{style:'list-style: none !important;padding: 0;'}
          - tour.destinations.each do |destination|
            %li= destination.custom_title['es']
      - else
        = '--------'
    %td
      %span
        = tour.status
    %td
      %span
        = tour.featured
    %td
      - if tour.errors.present?
        %ul{style:'list-style: none !important;padding: 0;'}
          - tour.errors.messages.each do |error|
            %li
              %box-error
                %span{style:'font-weight: bold;'}
                  = "#{error[0].to_s}:"
                %span 
                  = "#{error[1].first}"
                
      - else
        = "------------"


:scss
  .icon-position{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-approved{
    color: green !important;
  }
  .icon-rejected{
    color: red !important;
  }