.container
  .row
    .col-lg-2
      = link_to admin_travel_tours_path, class: "", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
        .arrow-back.btn.btn-default
          %i.fa.fa-angle-left
          = t('keppler.actions.back')

  .show-section
    .row
      .col-lg-12
        .box.slice-box
          .box-header.with-border
            %h3.box-title= t("keppler.modules.#{controller_path.underscore}")
            .box-tools.pull-right
              - if can?(KepplerTravel::Tour).update?
                = link_to edit_admin_travel_tour_path(@tour), class: "btn btn-box-tool", title: "#{t('keppler.actions.edit') }" do
                  %i.icon-pencil
              - if can?(KepplerTravel::Tour).destroy?
                = link_to admin_travel_tour_path(@tour), class: "btn btn-box-tool", title: "#{t('keppler.actions.delete')}", method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
                  %i.icon-trash
          .box-body.box-body-no-padding
            %table.table.table-striped
              %tbody

                %tr.list-row
                  %th.display-label Título Español
                  %td.display-value.fs-body-1.tc-black-2
                    = @tour.title['es'].blank? ? '-----------' : @tour.title['es']

                %tr.list-row
                  %th.display-label Título Inglés
                  %td.display-value.fs-body-1.tc-black-2
                    = @tour.title['en'].blank? ? '-----------' : @tour.title['en']

                %tr.list-row
                  %th.display-label Título Portugués
                  %td.display-value.fs-body-1.tc-black-2
                    = @tour.title['pt'].blank? ? '-----------' : @tour.title['pt']

                %tr.list-row
                  %th.display-label= t("activerecord.attributes.description")
                  %td.display-value.fs-body-1.tc-black-2
                    = @tour.description[I18n.locale.to_s].blank? ? '-----------' : @tour.description[I18n.locale.to_s].truncate(50)

                %tr.list-row
                  %th.display-label= t("activerecord.attributes.task")
                  %td.display-value.fs-body-1.tc-black-2
                    = @tour.task[I18n.locale.to_s].blank? ? '-----------' : @tour.task[I18n.locale.to_s].truncate(50)

                %tr.list-row
                  %th.display-label= t("activerecord.attributes.price_adults")
                  %td.display-value.fs-body-1.tc-black-2
                    = @tour.price_adults.blank? ? '-----------' : @tour.price_adults

                %tr.list-row
                  %th.display-label= t("activerecord.attributes.price_kids")
                  %td.display-value.fs-body-1.tc-black-2
                    = @tour.price_kids.blank? ? '-----------' : @tour.price_kids

                %tr.list-row
                  %th.display-label= t("activerecord.attributes.destinations")
                  %td.display-value.fs-body-1.tc-black-2
                    = @tour.destination_ids.blank? ? '-----------' : @tour.destinations.collect{|des| des.custom_title[I18n.locale.to_s]}.uniq.join(', ')


      .col-md-6
        -# - @tour.files.each_with_index do |img, index|
        -#   %img{src: img.url, style: 'width:200px;height:200px;'}
        .box.box-solid
          .box-header.with-border
            %h3.box-title Galería de Imágenes
          .box-body
            #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
              -# %ol.carousel-indicators
              -#   %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
              -#   %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
              -#   %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
              .carousel-inner
                - @tour.files.each_with_index do |img, index|
                  .item{class: "#{index.zero? ? 'active' : 'no-active'}"}
                    %img{alt: 'Galery', src: img.url}
              %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic"}
                %span.fa.fa-angle-left
              %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic"}
                %span.fa.fa-angle-right
