- objects.each do |multidestination|
  %tr{ id: "row-#{multidestination}" }
    %td.icon-position
      %span
        - if multidestination.valid?
          %i.icon-check.icon-approved
        - else
          %i.icon-close.icon-rejected
    %td
      %span
        = multidestination.title['es']
    %td
      %span
        = multidestination.subtitle['es']
    %td
      %span
        = multidestination.description['es']
    %td
      %span
        = multidestination.include['es']
    %td
      %span
        = multidestination.exclude['es']
    %td
      %span
        = multidestination.itinerary['es']
    %td
      %span
        - if multidestination.destinations.present?
          %ul
            - multidestination.destinations.each do |destination|
              %li= destination.custom_title['es']
        - else
          = '--------'
    %td
      %span
        = multidestination.status
    %td
      %span
        = multidestination.featured

    %td
      - if multidestination.errors.present?
        %ul{style:'list-style: none !important;padding: 0;'}
          - multidestination.errors.messages.each do |error|
            %li
              %box-error
                %span{style:'font-weight: bold;'}
                  = "#{error[0].to_s}:"
                %span 
                  = "#{error[1].first}"
      - else
        = "------------" 


:scss
  .icon-position{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-approved{
    color: green !important;
  }
  .icon-rejected{
    color: red !important;
  }

      