#index-container{ :controller => "multidestinations" }
  .container
    .row
      .listing.col-lg-12.col-xs-12
        %section.content-header.index-header
          %h1{:style => "display: inline-block;"}
            = t("keppler.modules.#{controller_path.underscore}")
          .toolbar
            %li.toolbar-item
              %a.tool-btn{href: @setting_sheetsu.sheetsu_spreadsheet_tours, target: '_blank'}
                %i.icon-link
                %span Ir a Google Spreadsheets
            
            %li.toolbar-item
              %a.tool-btn{href: @setting_sheetsu.sheetsu_url_tours, target: '_blank'}
                %i.icon-link
                %span Ir a API Spreadsheets 
          .hide
            %form#upload_form_reservations{"accept-charset" => "UTF-8", :action => "/admin/travel/reservations/%23%3CKepplerTravel::Reservation::ActiveRecord_Relation:0x000055c7f1ec47f8%3E/upload", :enctype => "multipart/form-data", :method => "post"}
              %input{:name => "utf8", :type => "hidden", :value => "✓"}/
              %input{:name => "authenticity_token", :type => "hidden", :value => "SC2k3I13Uh96ojSLgKp9YMyQetfE7R/fMDidhBHDJwKPAlMKaOTbqw4O+cgMOK/eA8oPXSmmWJB+/rxBJ9MSAw=="}/
              %input#upload_file_reservation{:name => "file", :type => "file"}/
          %ol.breadcrumb
            %li
              %a{:href => "#"}
                %i.icon-directions
                %span.translation_missing{:title => "translation missing: es.keppler.modules.index"} Index

        .box.slice-box
          .box-body.no-padding

            %table.table
              %thead

                - if @objects == 'Sheetsu::NotFoundError'
                  %tr
                    %th{style: 'text-align: center;'}
                      %h3 Credenciales Sheetsu inválidas.

                - elsif @error_connection
                  %tr
                    %th{style: 'text-align: center;'}
                      %h3 Error de conexión a API, por favor recargue.

                - elsif @objects.size.zero?
                  %tr
                    %th{style: 'text-align: center;'}
                      %h6= t('keppler.messages.not_found_records', model:  t("keppler.models.pluralize.tours"))
                - else
                  %tr
                    %th
                    %th Título
                    %th Subtítulo
                    %th Descripción
                    %th Actividades
                    %th Precio Adulto
                    %th Precio Niño
                    %th Destinos
                    %th Estatus
                    %th ¿Destacado?
                    %th Errores
              - unless @error_connection
                %tbody#objects-container.test_api
                  = render 'listing_api', objects: @objects

  %aside#index-show.control-sidebar

  .mixed-btn
    - if KepplerTravel::Destination.count.positive? && KepplerTravel::Lodgment.count.positive? && @objects.try(:size) > 0
      - if can?(KepplerTravel::Tour).create?
        = link_to admin_travel_tours_bulk_upload_save_path, class: "btn-float" do
          %span.check
            %i.icon-check
  :scss
    .check{
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }


