#index-container{ :controller => "multidestinations" }
  .container
    .row
      .listing.col-lg-12.col-xs-12
        %section.content-header.index-header
          %h1{ style: 'display: inline-block' }
            = t("keppler.modules.#{controller_path.underscore}")
          = entries(@total, @objects)
          .toolbar
            - if can?(KepplerTravel::Multidestination).download?
              %li.toolbar-item.dropdown
                %a.dropdown-toggle{ 'data-toggle' => 'dropdown', href: '#', title: t('keppler.actions.download_records') }
                  %i.icon-cloud-download
                %ul.dropdown-menu
                  -# %li= link_to 'Descargar CSV', admin_travel_multidestinations_path(format: :csv), class: 'tool-btn'
                  %li= link_to 'Descargar XLS', admin_travel_multidestinations_path(format: :xls), class: 'tool-btn'
            -# - if can?(KepplerTravel::Multidestination).upload?
            -#   .toolbar-item
            -#     = link_to "", class: "tool-btn", title: t('keppler.actions.upload_records'), id: "multidestination" do
            -#       %i.icon-cloud-upload
            .toolbar-item
              = link_to reload_admin_travel_multidestinations_path, class: "tool-btn", remote: true do
                %i.icon-reload
            - if can?(KepplerTravel::Multidestination).destroy_multiple?
              .toolbar-item
                .checkbox
                  %label{ for: 'checkbox-all' }
                    %input{ type: 'checkbox', id: 'checkbox-all', ':disabled' => 'checkItems ? disabled : ""', '@click' => 'selectAll()' }
                    %span.cr
                      %i.cr-icon.glyphicon.glyphicon-ok
            .toolbar-item
              %a.tool-btn{"data-confirm" => "¿Estás seguro?", "data-method" => "delete", "v-bind:href" => "link", :rel => "nofollow", ":class" => "{disabled: !checks}" }
                %i.icon-trash
          .hide
            = form_tag admin_travel_multidestination_upload_path(@objects), id: "upload_form_multidestinations", multipart: true, method: :post do
              = file_field_tag :file, id: "upload_file_multidestination"
          %ol.breadcrumb
            %li
              %a{ href: '#' }
                %i.icon-directions
                = t("keppler.modules.#{action_name.underscore}")

        .form-group
          %label.control-label.string.required{ for: 'user_name' }
            Filtrar por Destino
          = simple_form_for KepplerTravel::Destination.last, url: admin_travel_multidestinations_filter_destination_path, method: :post do
            %select.form-control.form-control#filter_by_destination{ name: 'destination', onchange: '$(this).parent().submit()'}
              %option{ name: 'destination', value: 'all' } Todos
              - @destinations.each do |destination|
                %option{ name: 'destination', value: destination.custom_title['es'], selected: (@selected if destination.custom_title['es'] == @selected) }= destination.custom_title['es']

        .box.slice-box
          .box-body.no-padding

            %table.table
              %thead
                - if @objects.size.zero?
                  %tr
                    %th{style: 'text-align: center;'}
                      %h6= t('keppler.messages.not_found_records', model:  t("keppler.models.pluralize.multidestinations"))
                - else
                  %tr
                    %th
                    %th Banner
                    %th.hidden-xs= t('activerecord.attributes.title')
                    %th.hidden-xs= t('activerecord.attributes.quantity_days')
                    -# %th.hidden-xs.hidden-sm= t('activerecord.attributes.description')
                    -# %th.hidden-xs.hidden-sm= t('activerecord.attributes.include')
                    -# %th.hidden-xs.hidden-sm= t('activerecord.attributes.exclude')
                    %th.hidden-xs.hidden-sm Alojamientos
                    %th.center Menu
                    %th
              %tbody#objects-container
                = render 'admin/layouts/listing_preloader'
                = render 'listing', objects: @objects
        %center#paginator-module
          = paginate @objects, window: 1
  %aside.control-sidebar
    = render "description"
  %aside#index-show.control-sidebar

  .mixed-btn
    - if KepplerTravel::Destination.count.positive? && KepplerTravel::Lodgment.count.positive?
      - if can?(KepplerTravel::Multidestination).create?
        = link_to new_admin_travel_multidestination_path, class: "btn-float" do
          +
    - else
      %h4 Debe cargar Destinos o Alojamientos

:javascript
  $(document).ready(function(){
    $('#multidestination').click(function() {
      $('#upload_file_multidestination').click()
      $('#upload_file_multidestination').change(function() {
        $('.waiting').css('display', 'block')
        $('#upload_form_multidestination').submit()
      })
    });

    renderImg();
  });
