= simple_form_for [:admin, :travel, @multidestination] do |f|
  .container
    .row
      .col-lg-2
        = link_to admin_travel_multidestinations_path, class: "", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
          .arrow-back.btn.btn-default
            %i.fa.fa-angle-left
            = t('keppler.actions.back')

    .row
      .col-lg-12
        .box.slice-box
          .box-header.with-border
            %h3.box-title= t("keppler.modules.#{action_name.underscore}")
            .box-tools.pull-right
              %a.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"}
                %i.fa.fa-minus
          .box-body
            .nav-tabs-custom
              %ul.nav.nav-tabs
                %li.active
                  %a{"data-toggle" => "tab", :href => "#usd"} Alojamientos / Habitaciones / USD
                %li
                  %a{"data-toggle" => "tab", :href => "#cop"} Alojamientos / Habitaciones / COP
              .tab-content{style: 'padding:inherit!important;margin-bottom:10px;'}

                // USD
                #usd.tab-pane.active
                  .col-12
                    .card
                      .card-header
                        %h3.card-title Alojamientos / Habitaciones / USD
                      .card-body.table-responsive.p-0
                        %table.table.table-hover
                          %tr
                            %th
                            %th Destino
                            %th Alojamiento
                            %th Simple
                            %th Dobles
                            %th Triples
                            %th Cuadruples
                            %th Quintuples
                            %th Sextuples
                            %th Niños

                          // Multidestinationables from Multidestination
                          = f.simple_fields_for :multidestinationables, @multidestination.multidestinationables do |multidestinationable|
                            - lodgment = multidestinationable.object.lodgment
                            - destination = multidestinationable.object.destination
                            - multidestination = multidestinationable.object.multidestination
                            %tr
                              %td
                                = multidestinationable.input :status, as: :boolean, label: false
                              %td= destination.custom_title['es']
                              %td= lodgment.title['es']

                              // Multidestinationable Roms from one Multidestinationable from Multidestination
                              = f.simple_fields_for :multidestinationable_rooms, multidestinationable.object.multidestinationable_rooms.sort_by{|room| room.id } do |cr|
                                %td
                                  = cr.input :price_usd, label: false, disabled: lodgment.disabled_room(cr.object), input_html: {min: 0}

                            %tr
                              %td
                              %td
                              %td Noche Adicional

                              // Multidestinationable Roms from one Multidestinationable from Multidestination
                              = f.simple_fields_for :multidestinationable_rooms, multidestinationable.object.multidestinationable_rooms.sort_by{|room| room.id } do |cr|
                                %td
                                  = cr.input :night_price_usd, label: false, disabled: lodgment.disabled_room(cr.object), input_html: {min: 0}


                // COP
                #cop.tab-pane
                  .col-12
                    .card
                      .card-header
                        %h3.card-title Alojamientos / Habitaciones / COP
                      .card-body.table-responsive.p-0
                        %table.table.table-hover
                          %tr
                            %th
                            %th Destino
                            %th Alojamiento
                            %th Simple
                            %th Dobles
                            %th Triples
                            %th Cuadruples
                            %th Quintuples
                            %th Sextuples
                            %th Niños

                          // Multidestinationables from Multidestination
                          = f.simple_fields_for :multidestinationables, @multidestination.multidestinationables do |multidestinationable|
                            - lodgment = multidestinationable.object.lodgment
                            - destination = multidestinationable.object.destination
                            - multidestination = multidestinationable.object.multidestination
                            %tr
                              %td
                                .form-group.boolean.optional.asd
                                  .checkbox
                                    %input{name: "asd", type: "hidden", value: "0"}/
                                    %label
                                      %input#multidestination_multidestinationables_attributes_0_status.boolean.optional{checked: "checked", name: "asd", type: "checkbox", disabled: true}/
                              %td= destination.custom_title['es']
                              %td= lodgment.title['es']

                              // Multidestinationable Roms from one Multidestinationable from Multidestination
                              = f.simple_fields_for :multidestinationable_rooms, multidestinationable.object.multidestinationable_rooms.sort_by{|room| room.id } do |cr|
                                %td
                                  = cr.input :price_cop, label: false, disabled: lodgment.disabled_room(cr.object), input_html: {min: 0}

                            %tr
                              %td
                              %td
                              %td Noche Adicional

                              // Multidestinationable Roms from one Multidestinationable from Multidestination
                              = f.simple_fields_for :multidestinationable_rooms, multidestinationable.object.multidestinationable_rooms.sort_by{|room| room.id } do |cr|
                                %td
                                  = cr.input :night_price_cop, label: false, disabled: lodgment.disabled_room(cr.object), input_html: {min: 0}

            .form-padding
              .col-xs-12
              .col-xs-12
                .pull-right
                  = f.button :submit, t('keppler.actions.save'), name: '_save', class: 'btn-primary'

// :javascript
//
// - if action_name == 'new'
//   :javascript
//     validateMultidestination('#new_multidestination');
// - else
//   :javascript
//     var multidestination_id = #{raw @multidestination.id};
//     validateMultidestination(`#edit_multidestination_${multidestination_id}`);
//
:scss
  label.error-class{color: #e60707 !important;}
  .checkbox{position: unset!important;}
  .checkbox input[type="checkbox"]{
    position: unset!important;
    margin-left: unset!important;
  }
  [type="checkbox"]{
    display: unset!important;
  }
