.container
  .row
    .col-lg-2
      = link_to admin_travel_multidestinations_path, class: "", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
        .arrow-back.btn.btn-default
          %i.fa.fa-angle-left
          = t('keppler.actions.back')

  .show-section
    .row
      .col-lg-12
        .box.slice-box
          .box-header.with-border
            %h3.box-title= t("keppler.modules.#{controller_path.underscore}")
            .box-tools.pull-right
              - if can?(KepplerTravel::Multidestination).update?
                = link_to edit_admin_travel_multidestination_path(@multidestination), class: "btn btn-box-tool", title: "#{t('keppler.actions.edit') }" do
                  %i.icon-pencil
              - if can?(KepplerTravel::Multidestination).destroy?
                = link_to admin_travel_multidestination_path(@multidestination), class: "btn btn-box-tool", title: "#{t('keppler.actions.delete')}", method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
                  %i.icon-trash
          .box-body.box-body-no-padding
            %table.table.table-striped
              %tbody
                %tr.list-row
                  %th.display-label Título Español
                  %td.display-value.fs-body-1.tc-black-2
                    = @multidestination.title['es'].blank? ? '-----------' : @multidestination.title['es']

                %tr.list-row
                  %th.display-label Título Inglés
                  %td.display-value.fs-body-1.tc-black-2
                    = @multidestination.title['en'].blank? ? '-----------' : @multidestination.title['en']

                %tr.list-row
                  %th.display-label Título Portugués
                  %td.display-value.fs-body-1.tc-black-2
                    = @multidestination.title['pt'].blank? ? '-----------' : @multidestination.title['pt']

                %tr.list-row
                  %th.display-label Subtítulo Español
                  %td.display-value.fs-body-1.tc-black-2
                    = @multidestination.subtitle['es'].blank? ? '-----------' : @multidestination.subtitle['es']

                %tr.list-row
                  %th.display-label Subtítulo Inglés
                  %td.display-value.fs-body-1.tc-black-2
                    = @multidestination.subtitle['en'].blank? ? '-----------' : @multidestination.subtitle['en']

                %tr.list-row
                  %th.display-label Subtítulo Portugués
                  %td.display-value.fs-body-1.tc-black-2
                    = @multidestination.subtitle['pt'].blank? ? '-----------' : @multidestination.subtitle['pt']

                %tr.list-row
                  %th.display-label= t("activerecord.attributes.quantity_days")
                  %td.display-value.fs-body-1.tc-black-2
                    = @multidestination.quantity_days.blank? ? '-----------' : @multidestination.quantity_days
                %tr.list-row
                  %th.display-label= t("activerecord.attributes.destinations")
                  %td.display-value.fs-body-1.tc-black-2
                    = @multidestination.destination_ids.blank? ? '-----------' : @multidestination.destinations.collect{|des| des.custom_title['es']}.uniq.join(', ')
                %tr.list-row
                  %th.display-label= t("activerecord.attributes.description")
                  %td.display-value.fs-body-1.tc-black-2
                    = @multidestination.description['es'].blank? ? '-----------' : @multidestination.description['es'].truncate(50)
                %tr.list-row
                  %th.display-label= t("activerecord.attributes.include")
                  %td.display-value.fs-body-1.tc-black-2
                    = @multidestination.include['es'].blank? ? '-----------' : @multidestination.include['es'].truncate(50)
                %tr.list-row
                  %th.display-label= t("activerecord.attributes.exclude")
                  %td.display-value.fs-body-1.tc-black-2
                    = @multidestination.exclude['es'].blank? ? '-----------' : @multidestination.exclude['es'].truncate(50)

                %tr.list-row
                  %th.display-label= t("activerecord.attributes.itinerary")
                  %td.display-value.fs-body-1.tc-black-2
                    = @multidestination.itinerary['es'].blank? ? '-----------' : @multidestination.itinerary['es'].truncate(50)

                %tr.list-row
                  %th.display-label= t("activerecord.attributes.status")
                  %td.display-value.fs-body-1.tc-black-2
                    = @multidestination.status.blank? ? '-----------' : @multidestination.status

                %tr.list-row
                  %th.display-label= t("activerecord.attributes.featured")
                  %td.display-value.fs-body-1.tc-black-2
                    = @multidestination.featured.blank? ? '-----------' : @multidestination.featured


      .col-md-12
        .box.slice-box
          .box-header.with-border
            %h3.box-title Hoteles / Alojamientos
            .box-tools.pull-right
              - if can?(KepplerTravel::Multidestination).update?
                = link_to admin_travel_multidestination_rooms_tables_path(@multidestination), class: "btn btn-box-tool", title: "#{t('keppler.actions.edit') }" do
                  %i.icon-pencil

          .nav-tabs-custom
            %ul.nav.nav-tabs
              %li.active
                %a{"data-toggle" => "tab", :href => "#usd"} USD
              %li
                %a{"data-toggle" => "tab", :href => "#cop"} COP
            .tab-content{style: 'padding:inherit!important;margin-bottom:10px;'}


              // USD
              #usd.tab-pane.active

                .box-body
                  %table.table.table-hover
                    %tr
                      %th
                      %th Destino
                      %th Alojamiento
                      %th Simple
                      %th Dobles
                      %th Triples
                      %th Cuadruples
                      %th Quintuples
                      %th Sextuples
                      %th Niños

                    // Multidestinationables from Multidestination
                    - @multidestination.multidestinationables.each do |multidestinationable|
                      - lodgment = multidestinationable.lodgment
                      - destination = multidestinationable.destination
                      - multidestination = multidestinationable.multidestination
                      %tr
                        %td
                          - if multidestinationable.status
                            %i.icon-check
                          - else
                            %i.icon-close
                        %td= destination.custom_title['es']
                        %td= lodgment.title['es']
                        - multidestinationable.multidestinationable_rooms.sort_by{|room| room.id }.each do |cr|
                          -# %td= cr.price_usd
                          %td= number_to_currency(cr.price_usd, locale: @locale)
                          
              // COP
              #cop.tab-pane

                .box-body
                  %table.table.table-hover
                    %tr
                      %th
                      %th Destino
                      %th Alojamiento
                      %th Simple
                      %th Dobles
                      %th Triples
                      %th Cuadruples
                      %th Quintuples
                      %th Sextuples
                      %th Niños

                    // Multidestinationables from Multidestination
                    - @multidestination.multidestinationables.each do |multidestinationable|
                      - lodgment = multidestinationable.lodgment
                      - destination = multidestinationable.destination
                      - multidestination = multidestinationable.multidestination
                      %tr
                        %td
                          - if multidestinationable.status
                            %i.icon-check
                          - else
                            %i.icon-close
                        %td= destination.custom_title['es']
                        %td= lodgment.title['es']
                        - multidestinationable.multidestinationable_rooms.sort_by{|room| room.id }.each do |cr|
                          -# %td= cr.price_cop
                          %td
                            = number_to_currency(cr.price_cop, locale: @locale)


      .col-md-6
        - @multidestination.as_json(only: ["banner"]).each do |attribute, value|
          .box.slice-box
            .box-header.with-border
              %h3.box-title= attribute.capitalize
              .box-tools.pull-right
                %a.btn.btn-box-tool{"data-widget" => "collapse", type: "button"}
                  %i.fa.fa-minus
            .box-body.box-body-no-padding
              - unless value.url.blank?
                = image_tag value.url, class: 'img-show'


      .col-md-6
        .box.box-solid
          .box-header.with-border
            %h3.box-title Galería de Imágenes
          .box-body
            #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
              .carousel-inner
                - @multidestination.files.each_with_index do |img, index|
                  .item{class: "#{index.zero? ? 'active' : 'no-active'}"}
                    %img{alt: 'Galery', src: img.url}
              %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic"}
                %span.fa.fa-angle-left
              %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic"}
                %span.fa.fa-angle-right
