.container-fluid
  .row
    .col-12.col-lg-12.col-xl-8
      .card
        .card-header
          %h4.card-title= t('receptivo.dashboard.table.billing')
        .card-body
          .row
            .col-12
              %section.invoice-checkout#invoice-checkout
                .container
                  .col-md-12
                    .invoice-checkout__box
                      .row
                        .col-md-12
                          .row.d-none.d-lg-flex.d-xl-flex
                            .col-md-2
                              %img{:alt => "", :src => "/assets/img/isotipo-receptivo-colombia-invoice.svg", :width => "60px"}/
                            .col-md-6
                              %h2{style:'margin:0;'} Receptivo Colombia
                              %p= t('receptivo.dashboard.table.tourism')
                            .col-md-4
                              %h3.text-right{style:'margin:0;'}= t('receptivo.dashboard.table.order')
                              %h3.text-right= @reservation.id
                          .row.d-lg-none.d-xl-none
                            .col-3.col-sm-2
                              %img{:alt => "", :src => "/assets/img/isotipo-receptivo-colombia-invoice.svg", :width => "60px"}/
                            .col-9.col-sm-7
                              %h4.text-center{style:'margin:0;'} Receptivo Colombia
                              %p.text-center= t('receptivo.dashboard.table.tourism')
                            .col-12.col-sm-3
                              %h5.text-right= t('receptivo.dashboard.table.order')
                              %h5.text-right= @reservation.id
                          %hr/

                          .row
                            .col-xs-12.col-lg-12
                              %address
                                %strong= t('receptivo.dashboard.table.dates_cotizante')
                                %br/
                                = @reservation.owner
                                %br/
                                = @reservation.user.phone.blank? ? '-----------' : @reservation.user.phone
                                %br/
                                = @reservation.owner_email
                                %br/
                                = @reservation.invoice.address.blank? ? '-----------' : @reservation.invoice.address
                          .row
                            .col-xs-12.col-lg-3
                              %address
                                %strong= t('receptivo.dashboard.table.total_pay')
                                %br/
                                = number_to_currency(@reservation.invoice.amount, locale: @locale)
                                %br/
                            .col-xs-12.col-lg-3
                              %address
                                %strong= t('receptivo.dashboard.table.type_currency')
                                %br/
                                = @reservation.invoice.currency.upcase
                                %br/
                                %br/
                            .col-xs-12.col-lg-3
                              %address
                                %strong= t('receptivo.dashboard.table.status_reservations')
                                %br/
                                %span.badge.badge-pill{class: @reservation.order.status_class?}= t("keppler.messages.#{@reservation.order.status}")
                                %br/
                                %br/
                            .col-xs-12.col-lg-3
                              %address
                                %strong= t('receptivo.dashboard.table.status_pay')
                                %br/
                                %span.badge.badge-pill{class: @reservation.order.status_pay_class?}= t("keppler.messages.#{@reservation.order.status_pay}")
                                %br/
                                %br/
                            .col-xs-12.col-lg-3
                              %address
                                %strong= t('receptivo.dashboard.table.invoice')
                                %br/
                                = @reservation.invoice.token
                                %br/
                                %br/
                          .row
                            .col-xs-12.col-lg-12
                              %h4.text-center= t('receptivo.dashboard.table.circuit_information')
                              %br/
                            .col-xs-12.col-lg-3
                              %address
                                %strong= t('receptivo.dashboard.table.origin')
                                %br/
                                = @reservation.origin.blank? ? '-----------' : @reservation.origin
                                %br/
                            .col-xs-12.col-lg-3
                              %address
                                %strong= t('receptivo.dashboard.table.date_origin')
                                %br/
                                = @reservation.flight_origin.blank? ? '-----------' : @reservation.flight_origin
                                %br/
                            .col-xs-12.col-lg-3
                              %address
                                %strong= t('receptivo.dashboard.table.adults_kids')
                                %br/
                                = "#{@reservation.quantity_adults.to_i} / #{@reservation.quantity_kids.to_i}"
                                %br/
                            .col-xs-12.col-lg-12
                              %address
                                %strong= t('receptivo.dashboard.table.observations')
                                %br/
                                = @reservation.description.blank? ? '-----------' : @reservation.description
                                %br
                            .col-xs-12.col-lg-12
                              %strong= t('receptivo.dashboard.table.details_travellers')
                              %br/
                              %table.table.table-striped#travellers
                                -#%thead
                                  %tr
                                    %th
                                %tbody
                                  - @reservation.travellers.each_with_index do |traveller, index|
                                    %tr.list-row{style:'background-color: transparent !important;'}
                                      %td.display-value.fs-body-1.tc-black-2{style:'border-top: 1px solid transparent !important;'}
                                      = traveller.name.blank? ? '-----------' : "#{traveller.name.titleize} - #{traveller.dni}"
                          .row
                            - if @reservation.order.table_reservationable
                              .col-xs-12.col-lg-12
                                .panel.panel-default
                                  .panel-heading
                                    %h3.panel-title
                                      %strong= t('receptivo.dashboard.table.description')
                                  .panel-body
                                    .table-responsive
                                      %table.table.table-condensed
                                        %thead
                                          %tr
                                            %td.text-center
                                              %strong= t('receptivo.dashboard.table.concept')
                                            %td.text-center
                                              %strong= t('receptivo.dashboard.table.price')
                                            %td.text-center
                                              %strong= t('receptivo.dashboard.table.quantity')
                                            %td.text-center
                                              %strong Total
                                        %tbody
                                          - @reservation.order.table_reservationable['pricing_table'].each do |room|
                                            -# - unless room.keys.include?(:total_price_table)
                                            %tr
                                              - if room['type'] == 'children'
                                                %td{style:'text-align:left!important;'}= t('receptivo.dashboard.table.quantity_kids_short')
                                              - else
                                                %td{style:'text-align:left!important;'}= "#{t('receptivo.dashboard.table.room')} #{room['type']}"
                                              %td= number_to_currency(room['price'], locale: @locale)
                                              %td= room['quantity']
                                              %td= number_to_currency(room['total_room'], locale: @locale)
                                          %tr
                                            %td{style: 'border-top: 2px solid #000;'} -----
                                            %td{style: 'border-top: 2px solid #000;'} -----
                                            %td{style: 'border-top: 2px solid #000;'} -----
                                            %td{style: 'border-top: 2px solid #000;'}= number_to_currency(@reservation.order.table_reservationable['total_price_table'], locale: @locale)

                            - if @type_search == 'agency'
                              .col-md-12
                                .panel.panel-default
                                  .panel-heading
                                    %h3.panel-title
                                      %strong= t('receptivo.dashboard.table.agency_percentages')
                                  .panel-body
                                    .table-responsive
                                      %table.table.table-condensed
                                        %thead
                                          %tr
                                            %td.text-center
                                              %strong= t('receptivo.dashboard.table.concept')
                                            %td.text-center
                                              %strong= t('receptivo.dashboard.table.value')
                                            %td.text-center
                                              %strong Subtotal
                                            %td.text-center
                                              %strong Total
                                        %tbody
                                          %tr
                                            %td.text-center= t('receptivo.dashboard.table.comission')
                                            %td.text-center= "#{@reservation.order.comission} %"
                                            %td.text-center= number_to_currency(@reservation.order.price_comission, locale: @locale)
                                            %td.text-center -----

                                          %tr
                                            %td.text-center= t('receptivo.dashboard.table.lending')
                                            %td.text-center= "#{@reservation.order.lending} %"
                                            %td.text-center= number_to_currency(@reservation.order.price_lending, locale: @locale)
                                            %td.text-center -----

                                          %tr
                                            %td.text-center Total PAX
                                            %td.text-center -----
                                            %td.text-center -----
                                            %td.text-center= number_to_currency(@reservation.order.price_total_pax, locale: @locale)

                                          %tr
                                            %td.text-center= t('receptivo.dashboard.table.total_agency')
                                            %td.text-center -----
                                            %td.text-center -----
                                            %td.text-center= number_to_currency(@reservation.order.price_total_agency, locale: @locale)

:scss
  .img-circuit{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
  }
