.container-fluid
  .row
    .col-12.col-lg-12.col-xl-8
      .card
        .card-header
          %h4.card-title Facturación de la Reservación 
        .card-body
          .row
            .col-12
              %section.invoice-checkout#invoice-checkout
                .container
                  .col-md-12
                    .invoice-checkout__box
                      .row
                        .col-md-12
                          .row.d-none.d-lg-flex.d-xl-flex
                            .col-md-2
                              %img{:alt => "", :src => "/assets/img/isotipo-receptivo-colombia-invoice.svg", :width => "60px"}/
                            .col-md-6
                              %h2{style:'margin:0;'} Receptivo Colombia
                              %p Operador turístico - Bogotá, Colombia
                            .col-md-4
                              %h3.text-right{style:'margin:0;'} N° de Orden
                              %h3.text-right= @reservation.id
                          .row.d-lg-none.d-xl-none
                            .col-3.col-sm-2
                              %img{:alt => "", :src => "/assets/img/isotipo-receptivo-colombia-invoice.svg", :width => "60px"}/
                            .col-9.col-sm-7
                              %h4.text-center{style:'margin:0;'} Receptivo Colombia
                              %p.text-center Operador turístico - Bogotá, Colombia
                            .col-12.col-sm-3
                              %h5.text-right N° de Orden
                              %h5.text-right= @reservation.id
                          %hr/
                          .row
                            .col-12.col-md-3
                              %address
                                %strong Cotizante
                                %br/
                                = @reservation.user.name
                                %br/
                            .col-12.col-md-3
                              %address
                                %strong E-mail
                                %br/
                                = @reservation.user.email
                                %br/
                            .col-12.col-md-3
                              %address
                                %strong Tipo de Moneda
                                %br/
                                = @reservation.invoice.currency.upcase
                                %br/
                            .col-12.col-md-3
                              %address
                                %strong N°. Factura
                                %br/
                                = @reservation.invoice.token
                                %br/
                          .row
                            .col-12.col-md-4
                              %address
                                %strong Tipo de Moneda
                                %br/
                                = @reservation.invoice.currency.upcase
                                %br/
                            .col-12.col-md-4
                              %address
                                %strong Método de Pago
                                %br/
                                Pĺataforma: EnLineaPagos
                                %br/
                            .col-12.col-md-4
                              %address
                                %strong Estatus
                                %br/
                                %span.badge.badge-pill{class: @reservation.invoice.status_class?}= @reservation.invoice.status
                                %br/
                          .row
                            .col-12.col-md-12
                              %h5.text-center Información del Multidestino
                              %br/
                            .col-12.col-md-3
                              %address
                                %strong Multidestino
                                %br/
                                = truncate(@reservation.origin, :length => 25)
                                %br/
                            .col-12.col-md-3
                              %address
                                %strong Fecha de Reservación
                                %br/
                                = @reservation.flight_origin.blank? ? '-----------' : @reservation.flight_origin
                                %br/
                            .col-12.col-md-3
                              %address
                                %strong Pasajeros
                                %br/
                                = @reservation.travellers.count
                                %br/
                            .col-12.col-md-3
                              %address
                                %strong Adultos/Niños
                                %br/
                                = "#{@reservation['quantity_adults'].to_i} / #{@reservation['quantity_kids'].to_i}"
                                %br/
                            .col-12.col-md-12
                              %address
                                %strong Observación
                                %br/
                                = @reservation.description.blank? ? '-----------' : @reservation.description
                                %br/
                            .col-12.col-md-4
                              %strong Viajeros
                              %ul.list-group.list-group-flush
                                - @reservation.travellers.each do |traveller|
                                  %li.list-group-item
                                    %span="* #{traveller.name} -- #{traveller.dni}"                                
                          .row
                            .col-12.col-md-12
                              .card
                                .card-header.text-center
                                  %strong Descripción
                                .card-body
                                  %table.table.table-hover.table-striped
                                    %thead
                                      %tr
                                        %th
                                          %strong Concepto
                                        %th 
                                          %strong Precio
                                        %th 
                                          %strong Cantidad (Adultos/Niños)
                                        %th 
                                          %strong Total
                                    %tbody
                                      %tr
                                        %td= truncate(@reservation.origin, :length => 25)
                                        %td $ 1000 USD
                                        %td= "#{@reservation['quantity_adults'].to_i} / #{@reservation['quantity_kids'].to_i}"
                                        %td $ 5000 USD
                                .card-footer
                          .row
                            .col-12.col-md-12.d-flex.justify-content-center
                              - if @reservation.invoice.amount.nil?
                                %a
                                  %button.btn.btn-warning.btn-lg{:type => "button"}
                                    Por cotizar
                              - elsif @reservation.invoice.status_pay? :pending
                                %a{href: checkout_elp_redirect_path(@reservation.id, @reservation.invoice.id), target: '_blank'}
                                  %button.btn.btn-primary.btn-lg{:type => "button"}
                                    Pagar
                              - else
                                %a
                                  %button.btn.btn-success.btn-lg{:disabled => "disabled", :type => "button"} Primary button
                                  Pagado
                            .card-footer

-#.container-fluid
  .row
    .col-12.col-xl-8
      .card
        .card-header
          %h4.card-title Detalles de la Reservación
        .card-body
          .row
            .col-12.col-xl-8
              .row
                %ul.list-group.list-group-flush
                  %li.list-group-item
                    Orden:
                    %span= @reservation.id
                  %li.list-group-item
                    Factura:
                    %span= @reservation.invoice.token
                  %li.list-group-item
                    Moneda:
                    %span= @reservation.invoice.currency.upcase
                  %li.list-group-item
                    Costo:
                    - if @reservation.invoice.amount.nil?
                      %span Por cotizar
                    - else
                      = number_to_currency(@reservation.invoice.amount, locale: @locale)
                  %li.list-group-item
                    Estatus:
                    %span.badge.badge-pill{class: @reservation.invoice.status_class?}= @reservation.invoice.status
                  %li.list-group-item
                    Pago:
                    - if @reservation.invoice.amount.nil?
                      %span Por cotizar
                    - elsif @reservation.invoice.status_pay? :pending
                      %a{href: checkout_elp_redirect_path(@reservation.id, @reservation.invoice.id), target: '_blank'}
                        %button.btn.btn-primary.btn-xs{:type => "button"}
                          %span
                            %i.icon-credit-card.icons
                          Pagar
                    - else
                      %span Pagado
                  %li.list-group-item
                    Usuario:
                    %span= @reservation.user.email
                  %li.list-group-item
                    Cotizante:
                    %span= @reservation.travellers.first.name
                  %li.list-group-item
                    Circuito:
                    %span= truncate(@reservation.origin, :length => 25)
                  %li.list-group-item
                    Fecha Reservación:
                    %span= @reservation.flight_origin.blank? ? '-----------' : @reservation.flight_origin
                  %li.list-group-item
                    Cantidad Adultos:
                    %span= @reservation.quantity_adults
                  %li.list-group-item
                    Cantidad Niños:
                    %span= @reservation.quantity_kids
                  %li.list-group-item
                    Observación:
                    %span= @reservation.description.blank? ? '-----------' : @reservation.description
            .col-12.col-xl-4
              .row
        .card-footer

:scss
  .img-circuit{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
  }
