%nav.navbar.navbar-expand-lg
  .container-fluid
    = link_to root_path(@lang, @currency), class:'navbar-brand' do
      ="Mi tablero - ¡Bienvenido #{current_user.name}!"
    %button.navbar-toggler.navbar-toggler-right#js-menu-mobile{"aria-controls" => "navigation-index", "aria-expanded" => "false", "aria-label" => "Toggle navigation", :type => "button"}
      %span.navbar-toggler-bar.burger-lines
      %span.navbar-toggler-bar.burger-lines
      %span.navbar-toggler-bar.burger-lines
    .collapse.navbar-collapse.justify-content-end
      %ul.nav.navbar-nav.mr-auto
      %ul.navbar-nav.ml-auto
        %li.dropdown.nav-item{"aria-haspopup" => "true"}
          %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown"}
            .perfil
              = image_tag current_user.avatar.url.nil? ? "/assets/img/user.png" : current_user.avatar.url, alt: 'profile', height: '25px', width: '', class: 'img-fluid rounded-circle'
            %span.no-icon.drop-link{style:''} Mi cuenta
            %b.caret
          .dropdown-menu.dropdown-menu-right
            .card-profile{style:'padding:10px 0;'}
              %center
                = image_tag current_user.avatar.url.nil? ? "/assets/img/user.png" : current_user.avatar.url, alt: 'profile', height: '80', width: '80', class: 'img-fluid rounded-circle'
            %center
              %h6.dropdown-header= current_user.name
              %h6.dropdown-header= current_user.rol
            .dropdown-divider
            = link_to users_details_path(@lang, @currency), class:'dropdown-item'  do
              %i.nc-icon.nc-single-02
              Mi Perfil
            = link_to destroy_session_path(current_user), class:'dropdown-item'  do
              %i.nc-icon.nc-button-power
              Cerrar Sesión
:scss
  .ico-profile{
    font-weight: 700;
    font-size: 20px;
    margin-right: 6px;
    vertical-align: middle;
    color: #43b7e8;
  }
  .drop-link{
    font-size: 18px;
    color: #4e4e56;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }

  .perfil{
    height: 27px;
    width: 27px;
    background: #040404;
    margin-right: 5px;
    border-radius: 50%;
    vertical-align: middle;
    margin-top: -2px;
    img{
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
