.sidebar-wrapper
  .logo
    = link_to root_path(@lang, @currency), style:'font-family: "Poppins", sans-serif;font-weight: bold;text-transform: capitalize;font-size: 14px;', class:'simple-text' do
      .logo-img
        %img{:alt => "", :src => "/assets/img/isotipo-receptivo-colombia-invoice.svg"}/
      Receptivo Colombia
  %ul.nav

    - if current_user.has_role? :driver
      %li
        = link_to drivers_transfers_path(@lang, @currency), class:"nav-link" do
          %i.nc-icon.nc-delivery-fast
          %p= t('receptivo.dashboard.sidebar.transfers_assign')

    - if current_user.try(:has_role_agentable?)
      %li
        = link_to orders_path(@lang, @currency, 'transfers'), class:"nav-link" do
          %i.nc-icon.nc-delivery-fast
          %p= t('receptivo.dashboard.sidebar.transfers')
      %li
        = link_to orders_path(@lang, @currency, 'tours'), class:"nav-link" do
          %i.nc-icon.nc-map-big
          %p= t('receptivo.dashboard.sidebar.tours')

    - else
      %li
        = link_to orders_path(@lang, @currency, 'transfers'), class:"nav-link" do
          %i.nc-icon.nc-delivery-fast
          %p= t('receptivo.dashboard.sidebar.transfers')
      %li
        = link_to orders_path(@lang, @currency, 'tours'), class:"nav-link" do
          %i.nc-icon.nc-map-big
          %p= t('receptivo.dashboard.sidebar.tours')
      %li
        = link_to orders_path(@lang, @currency, 'circuits'), class:"nav-link" do
          %i.nc-icon.nc-bus-front-12
          %p= t('receptivo.dashboard.sidebar.circuits')
      %li
        = link_to orders_path(@lang, @currency, 'multidestinations'), class:"nav-link" do
          %i.nc-icon.nc-send
          %p= t('receptivo.dashboard.sidebar.multidestinations')
      -#%li
        = link_to dashboard_checkout_path(@lang, @currency), class:"nav-link" do
          %i.nc-icon.nc-send
          %p Checkout

    - if current_user.has_role? :agency
      %li
        = link_to agents_listing_path(@lang, @currency), class:"nav-link" do
          %i.nc-icon.nc-single-02
          %p= t('receptivo.dashboard.messages.my_agents')

    %li
      = link_to users_details_path(@lang, @currency), class:"nav-link" do
        %i.nc-icon.nc-single-02
        %p= t('receptivo.dashboard.messages.my_profile')
    %li.d-block.d-md-none
      = link_to destroy_session_path(current_user), class:'nav-link'  do
        %i.nc-icon.nc-button-power
        %p= t('receptivo.dashboard.sidebar.messages.sign_out')
