.sidebar-wrapper
  .logo
    = link_to root_path(@lang, @currency), style:'font-family: "Poppins", sans-serif;font-weight: bold;text-transform: capitalize;font-size: 14px;', class:'simple-text' do
      .logo-img
        %img{:alt => "", :src => "/assets/img/isotipo-receptivo-colombia-invoice.svg"}/
      Receptivo Colombia
  %ul.nav

    - if current_user.has_role? :driver
      %li
        = link_to drivers_transfers_path(@lang, @currency), class:"nav-link" do
          %i.nc-icon.nc-delivery-fast
          %p Traslados Asignados

    - if current_user.has_role? :agency
      %li
        = link_to orders_path(@lang, @currency, 'transfers'), class:"nav-link" do
          %i.nc-icon.nc-delivery-fast
          %p Traslados

    - else
      %li
        = link_to orders_path(@lang, @currency, 'transfers'), class:"nav-link" do
          %i.nc-icon.nc-delivery-fast
          %p Traslados
      %li
        = link_to orders_path(@lang, @currency, 'tours'), class:"nav-link" do
          %i.nc-icon.nc-map-big
          %p Tours
      %li
        = link_to orders_path(@lang, @currency, 'circuits'), class:"nav-link" do
          %i.nc-icon.nc-bus-front-12
          %p Circuitos
      %li
        = link_to orders_path(@lang, @currency, 'multidestinations'), class:"nav-link" do
          %i.nc-icon.nc-send
          %p Multidestinos

    %li
      = link_to users_details_path(@lang, @currency), class:"nav-link" do
        %i.nc-icon.nc-single-02
        %p Mi Perfil
    %li.d-block.d-md-none
      = link_to destroy_session_path(current_user), class:'nav-link'  do
        %i.nc-icon.nc-button-power
        %p Cerrar Sesión
