- reservation = session[:reservation]
- square = session[:square_multidestination]
- multidestination = KepplerTravel::Multidestination.find(session[:reservationable]['id'])
- multidestinationable = multidestination.multidestinationables.find_by(lodgment_id: square['lodgment_id'])
%section.invoice-transfers#invoice-transfers
  .container
    .gallary-header.text-center
      %h2
        Facturación
      %p
        Recuerde verificar la información antes de pagar su reserva
    .container
      .row
        .col-lg-2
        .col-lg-8
          .invoice-transfers__box
            = simple_form_for KepplerTravel::Reservation.new, url: '/create_reservation_multidestination', method: :post do |f|
              .row
                .col-xs-12
                  .row
                    .col-lg-2
                      %img{:alt => "", :src => "/assets/img/isotipo-receptivo-colombia-invoice.svg", :width => "60px"}/
                    .col-lg-6

                      %h2 Receptivo Colombia
                      %p Operador turístico - Bogotá, Colombia
                    .col-lg-1
                    .col-lg-3
                      %h3.pull-right N° de Orden
                      -# %h3.pull-right= @invoice['token']
                      -# %h3.pull-right= SecureRandom.random_number(1000..9999)
                      %h3.pull-right= KepplerTravel::Invoice.last.try(:id).to_i + 1
                  %hr/
                  .row
                    .col-xs-12
                      %address
                        -# dates billing
                        %strong Datos Personales
                        %br/
                        = @user['name']
                        %br/
                        = @user['dni']
                        %br/
                        = @user['phone']
                        %br/
                        = @user['email']
                        %br/
                        = @invoice['address']
                        %br/
                        = reservation['description']
                        %br/
                        = "Adultos (#{reservation['quantity_adults']})"
                        %br/
                        = "Niños (#{reservation['quantity_kids']})"

                  .row
                    .col-xs-12
                      %h5.text-center Información del Multidestino
                      %br/
                    .col-xs-4
                      %address
                        %strong Multidestino
                        %br/
                        = @reservation['origin']
                        %br/
                    .col-xs-4
                      %address
                        %strong Tipo de Alojamiento
                        %br/
                        = multidestinationable.lodgment.title[@lang]
                        %br/
                    .col-xs-4
                      %address
                        %strong Fecha/Hora de Ida
                        %br/
                        = @reservation['flight_origin']
                        %br/

                  .row
                    .col-md-12
                      .panel.panel-default
                        .panel-heading
                          %h3.panel-title
                            %strong Descripción
                        .panel-body
                          .table-responsive
                            %table.table.table-condensed
                              %thead
                                %tr
                                  %td
                                    %strong Concepto
                                  %td.text-center
                                    %strong Precio
                                  %td.text-center
                                    %strong Cantidad
                                  %td.text-center
                                    %strong Total
                              %tbody
                                - table = multidestinationable.price_table(square, @currency)
                                - table.each do |room|
                                  - unless room.keys.include?(:total_price_table)
                                    %tr
                                      %td{style:'text-align:left!important;'}= "Habitación #{room[:type]}"
                                      %td= number_to_currency(room[:price], locale: @locale)
                                      %td= room[:quantity]
                                      %td= number_to_currency(room[:total_room], locale: @locale)
                                %tr
                                  %td{style: 'border-top: 2px solid #000;'} -----
                                  %td{style: 'border-top: 2px solid #000;'} -----
                                  %td{style: 'border-top: 2px solid #000;'} -----
                                  %td{style: 'border-top: 2px solid #000;'}= table.last[:total_price_table]

                  .row
                    .col-lg-12
                      .invoice-transfers__box--payment
                        %input#button.about-view.travel-btn{:name => "button", :type => "submit", :value => "Cotizar"}/

%script{:src => "https://unpkg.com/sweetalert2@7.19.3/dist/sweetalert2.all.js"}
:javascript
  $('#button').on('click', function () {
    swal({
      type: 'warning',
      title: 'Tu reservación está siendo procesada...',
      text: 'Espere un momento...',
      timer: 300000,
      onOpen: () => {
        swal.showLoading()
      }
    })
  }); // END --- Seleccion de un Alojamiento u hotel
