%section.content-header
  %h1
    Órdenes de Reserva
    %small Traslados
%section.content.container-fluid
  .container
    .row
      .col-lg-12
        .table-responsive
          %table.table.table-condensed
            %thead
              %tr.items-orders
                %th Order N°
                %th Origen
                %th Destino
                %th Pasajeros
                %th Estatus
                %th Pago
                %th Usuario
            %tbody{style:'text-align: center;'}
              - current_user.reservations.each do |reservation|
                %tr
                  %td= reservation.invoice.token
                  %td= truncate(reservation.origin, :length => 25)
                  %td= truncate(reservation.arrival, :length => 25)
                  %td= reservation.travellers.count
                  %td{style:"text-align: center;"}
                    %span.label.label-info= reservation.status
                  %td{style:"text-align: center;"}
                    - if reservation.invoice.status_pay? :pending
                      %a
                        %button.btn.btn-primary.btn-xs{:type => "button"} Pagar

                  %td= current_user.email
