%section.content-header
  %h1
    Ordenes
    %small Traslados
  -#%ol.breadcrumb
    %li
      %a{:href => "#"}
        %i.fa.fa-dashboard
        Level
    %li.active Here
%section.content.container-fluid
  .container
    .col-lg-12
      .row
        .table-responsive
          %table.table.table-bordered.table-condensed
            %thead
              %tr.items-orders
                %th Order N°
                %th Origen
                %th Destino
                %th Pasajeros
                %th Estatus del Pago
                %th Pay
                %th Usuario
            %tbody{style:'text-align: center;'}
              - current_user.reservations.each do |reservation|
                -# - next unless reservation.reservationable_type == 'KepplerTravel::Vehicle'
                %tr
                  %td= reservation.invoice.token
                  %td= reservation.origin
                  %td= reservation.arrival
                  %td= reservation.travellers.count
                  %td{style:"text-align: center;"}
                    %span.label.label-info= reservation.status
                  %td{style:"text-align: center;"}
                    - if reservation.invoice.status_pay? :pending
                      %p{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Pagar factura"}
                        %a.btn.btn-primary.btn-xs{href: 'https://www.google.co.ve/'}
                          %span
                            %i.icon-credit-card.icons
                          Pay

                  %td= current_user.email
