!!!
%html.no-js{:lang => "en"}
  %head
    = render 'app/layouts/head'
    %link{:href => "/assets/css/dashboard.css", :rel => "stylesheet"}/
    %link{:href => "/assets/css/dashboard-skin.css", :rel => "stylesheet"}/
  %body.hold-transition.skin-blue.sidebar-mini.fixed
    -#.loader
      = render 'app/front/loader/loader'
    .wrapper
      %header.main-header
        = render 'app/dashboard/layouts/header'
      %aside.main-sidebar
        = render 'app/dashboard/layouts/aside'
      .content-wrapper
        = render 'app/dashboard/users/edit'

    %script{:src => "/assets/js/loader.js"}
    %script{:src => "/assets/js/navbar.js"}
    %script{:src => "/assets/js/dashboard.min.js"}
    %script{:src => "/assets/app/googlefontAsync.js"}
