.container
  .row
    .col-lg-2
      = link_to admin_travel_lodgments_path, class: "", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
        .arrow-back.btn.btn-default
          %i.fa.fa-angle-left
          = t('keppler.actions.back')

  .show-section
    .row
      .col-lg-12
        .box.slice-box
          .box-header.with-border
            %h3.box-title= t("keppler.modules.#{controller_path.underscore}")
            .box-tools.pull-right
              - if can?(KepplerTravel::Lodgment).update?
                = link_to edit_admin_travel_lodgment_path(@lodgment), class: "btn btn-box-tool", title: "#{t('keppler.actions.edit') }" do
                  %i.icon-pencil
              - if can?(KepplerTravel::Lodgment).destroy?
                = link_to admin_travel_lodgment_path(@lodgment), class: "btn btn-box-tool", title: "#{t('keppler.actions.delete')}", method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
                  %i.icon-trash
          .box-body.box-body-no-padding
          %table.table.table-striped
            %tbody
              %tr.list-row
                %th.display-label Título Español
                %td.display-value.fs-body-1.tc-black-2
                  = @lodgment.title['es'].blank? ? '-----------' : @lodgment.title['es']
              %tr.list-row
                %th.display-label Título Inglés
                %td.display-value.fs-body-1.tc-black-2
                  = @lodgment.title['en'].blank? ? '-----------' : @lodgment.title['en']
              %tr.list-row
                %th.display-label Título Portugués
                %td.display-value.fs-body-1.tc-black-2
                  = @lodgment.title['pt'].blank? ? '-----------' : @lodgment.title['pt']

              %tr.list-row
                %th.display-label Dirección Español
                %td.display-value.fs-body-1.tc-black-2
                  = @lodgment.address['es'].blank? ? '-----------' : @lodgment.address['es']

              %tr.list-row
                %th.display-label Dirección Inglés
                %td.display-value.fs-body-1.tc-black-2
                  = @lodgment.address['en'].blank? ? '-----------' : @lodgment.address['es']

              %tr.list-row
                %th.display-label Dirección Portugués
                %td.display-value.fs-body-1.tc-black-2
                  = @lodgment.address['pt'].blank? ? '-----------' : @lodgment.address['es']

              %tr.list-row
                %th.display-label= t("activerecord.attributes.email")
                %td.display-value.fs-body-1.tc-black-2
                  = @lodgment.email.blank? ? '-----------' : @lodgment.email

              %tr.list-row
                %th.display-label= t("activerecord.attributes.phone_one")
                %td.display-value.fs-body-1.tc-black-2
                  = @lodgment.phone_one.blank? ? '-----------' : @lodgment.phone_one

              %tr.list-row
                %th.display-label= t("activerecord.attributes.phone_two")
                %td.display-value.fs-body-1.tc-black-2
                  = @lodgment.phone_two.blank? ? '-----------' : @lodgment.phone_two

              %tr.list-row
                %th.display-label= t("activerecord.attributes.destinations")
                %td.display-value.fs-body-1.tc-black-2
                  = @lodgment.destination_id.blank? ? '-----------' : @lodgment.destination.custom_title[I18n.locale.to_s]
              %tr.list-row
                %th.display-label Tipos de Habitaciones
                %td.display-value.fs-body-1.tc-black-2
                  = @lodgment.room_ids.blank? ? '-----------' : @lodgment.rooms.map(&:type_room).join(', ')

              %tr.list-row
                %th.display-label= t("activerecord.attributes.status")
                %td.display-value.fs-body-1.tc-black-2
                  = @lodgment.status.blank? ? '-----------' : @lodgment.status


      .col-md-6
        .box.box-solid
          .box-header.with-border
            %h3.box-title Galería de Imágenes
          .box-body
            #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
              .carousel-inner
                - @lodgment.files.each_with_index do |img, index|
                  .item{class: "#{index.zero? ? 'active' : 'no-active'}"}
                    %img{alt: 'Galery', src: img.url}
              %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic"}
                %span.fa.fa-angle-left
              %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic"}
                %span.fa.fa-angle-right
