<!DOCTYPE html>
<html>
<head>
  <title>Keppler contactus</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "keppler_contactus/application", media: "all" %>
  <%= javascript_include_tag "keppler_contactus/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
