= simple_form_for @user, url: "/admin/travel/drivers/#{@driver.id}/update_user", method: :post do |f|
  .container
    .row
      .col-lg-2
        = link_to admin_travel_drivers_path, class: "", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
          .arrow-back.btn.btn-default
            %i.fa.fa-angle-left
            = t('keppler.actions.back')
    .row
      .col-lg-12
        .box.slice-box
          .box-header.with-border
            %h3.box-title
              = t("keppler.modules.#{controller_path.underscore}")
              = ' - '
              = t("keppler.modules.#{action_name.underscore}")
            .box-tools.pull-right
              %a.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"}
                %i.fa.fa-minus
          .box-body
            %table.table.table-bordered
              %tbody
                .form-padding
                  -#%h3.box-title= @user.name || 'User'
                  .col-xs-12.col-lg-8
                    .row
                      .col-xs-12.col-lg-6
                        = f.input :name, label: t('simple_form.labels.defaults.name'), placeholder: 'Nombre', input_html: {class: 'form-control'}, required: true
                      .col-xs-12.col-lg-6
                        = f.input :email, label: t('simple_form.labels.defaults.email'), placeholder: 'Correo', input_html: {class: 'form-control'}, required: true
                      .col-xs-12.col-lg-6
                        = f.input :phone, label: t('simple_form.labels.defaults.phone'), placeholder: 'Teléfono', input_html: {class: 'form-control'}, required: true
                      .col-xs-12.col-lg-6
                        = f.input :dni, label: t('simple_form.labels.defaults.dni'), placeholder: 'Identificación', input_html: {class: 'form-control'}, required: true
                      -# .col-xs-12.col-lg-12
                        -# = f.input :role_ids, collection: [['Driver', 5]], label: 'Rol', include_blank: false
                      - unless action_name == 'edit'
                        .col-xs-12.col-lg-6
                          = f.input :password, label: t('simple_form.labels.defaults.password'), placeholder: 'Password', input_html: {class: 'form-control'}, required: true
                        .col-xs-12.col-lg-6
                          = f.input :password_confirmation, label: t('simple_form.labels.defaults.password_confirmation'), placeholder: 'Password Confirmation', input_html: {class: 'form-control'}, required: true
                      .col-xs-12.col-lg-12
                        = f.simple_fields_for [:admin, :travel, @driver] do |x|
                          = x.input :timetrack, input_html: {type: 'hidden', value: 'Driver TimeTrack'}, label: false
                          .col-xs-12.col-lg-6
                            = x.input :bank
                          .col-xs-12.col-lg-6
                            = x.input :account_type
                          .col-xs-12.col-lg-6
                            = x.input :account_number
                          .col-xs-12.col-lg-6
                            = x.input :email_corporative
                          -# .row
                          -#   .col-xs-12
                      %br
                      .col-xs-12.col-lg-6
                        .col-xs-12.col-md-6
                          %label Vehículos
                          %br.hidden-md
                            %select.selectpicker{"data-style" => "btn-primary", id: 'drivers_vehicles', name: 'driver[vehicle_ids]', multiple: "multiple", style:'width: 100%;'}
                              - KepplerTravel::Vehicle.all.each do |vehicle|
                                %option{selected: @driver.selected_vehicle(vehicle.id), value: vehicle.id}= vehicle.title['es']
                      .col-xs-12.col-lg-6
                        %label Destino
                        %br
                        %select.selectpicker{"data-style" => "btn-primary", id: 'destinations_drivers', name: 'driver[destination_id]'}
                          - KepplerTravel::Destination.all.each do |destination|
                            %option{ value: destination.id, selected: @driver.selected(destination.id)}= destination.custom_title['es']

                  .col-xs-12.col-lg-4
                    .row
                      .col-lg-12
                        %label Imagen de Perfil
                        = f.input :avatar, as: :keppler_file, label: false

                  .col-xs-12
                    .pull-right
                      = f.button :submit, t('keppler.actions.save'), name: '_save', class: 'btn-primary'


%script{:src => "https://www.tutorialspoint.com/jquery/src/filer/js/jquery.filer.min.js", :type => "text/javascript"}
%link{:href => "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css", :rel => "stylesheet"}/
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"}

:javascript
  var user_id = #{raw @user.id};
  validateDriver2(`#edit_user_${user_id}`);
