#index-container{ :controller => "drivers" }
  .container
    .row
      .listing.col-lg-12.col-xs-12
        %section.content-header.index-header
          %h1{ style: 'display: inline-block' }
            = t("keppler.modules.#{controller_path.underscore}")
          = entries(@total, @objects)
          .toolbar
            - if can?(KepplerTravel::Driver).download?
              %li.toolbar-item.dropdown
                %a.dropdown-toggle{ 'data-toggle' => 'dropdown', href: '#', title: t('keppler.actions.download_records') }
                  %i.icon-cloud-download
                %ul.dropdown-menu
                  -# %li= link_to 'Descargar CSV', admin_travel_drivers_path(format: :csv), class: 'tool-btn'
                  %li= link_to 'Descargar XLS', admin_travel_drivers_path(format: :xls), class: 'tool-btn'
            -# - if can?(KepplerTravel::Driver).upload?
            -#   .toolbar-item
            -#     = link_to "", class: "tool-btn", title: t('keppler.actions.upload_records'), id: "driver" do
            -#       %i.icon-cloud-upload
            .toolbar-item
              = link_to reload_admin_travel_drivers_path, class: "tool-btn", remote: true do
                %i.icon-reload
            -# - if can?(KepplerTravel::Driver).destroy_multiple?
            -#   .toolbar-item
            -#     .checkbox
            -#       %label{ for: 'checkbox-all' }
            -#         %input{ type: 'checkbox', id: 'checkbox-all', ':disabled' => 'checkItems ? disabled : ""', '@click' => 'selectAll()' }
            -#         %span.cr
            -#           %i.cr-icon.glyphicon.glyphicon-ok
            -# .toolbar-item
            -#   %a.tool-btn{"data-confirm" => "¿Estás seguro?", "data-method" => "delete", "v-bind:href" => "link", :rel => "nofollow", ":class" => "{disabled: !checks}" }
            -#     %i.icon-trash
          .hide
            = form_tag admin_travel_driver_upload_path(@objects), id: "upload_form_drivers", multipart: true, method: :post do
              = file_field_tag :file, id: "upload_file_driver"
          %ol.breadcrumb
            %li
              %a{ href: '#' }
                %i.icon-directions
                = t("keppler.modules.#{action_name.underscore}")

        .form-group
          %label.control-label.string.required{ for: 'user_name' }
            Filtrar por Destino
          = simple_form_for KepplerTravel::Destination.last, url: admin_travel_drivers_filter_destination_path, method: :post do
            %select.form-control.form-control#filter_by_destination{ name: 'destination', onchange: '$(this).parent().submit()'}
              %option{ name: 'destination', value: 'all' } Todos
              - @destinations.each do |destination|
                %option{ name: 'destination', value: destination.custom_title['es'], selected: (@selected if destination.custom_title['es'] == @selected) }= destination.custom_title['es']

          -#%br
          -#%label.control-label.string.required{ for: 'user_name' } Filtrar por Conductores
          -#%br
          -#%select#js-search-multiple{:multiple => "multiple", :style => ""}
            %option{:value => "Gabriel"} Gabriel
            %option{:value => "Estrella"} Estrella
            %option{:value => "Yibely"} Yibely

        .box.slice-box
          .box-body.no-padding

            %table.table
              %thead
                - if @objects.size.zero?
                  %tr
                    %th{style: 'text-align: center;'}
                      %h6= t('keppler.messages.not_found_records', model:  t("keppler.models.pluralize.drivers"))
                - else
                  %tr
                    %th Destino
                    %th Avatar
                    -# %th Perfil
                    %th.hidden-xs Nombre
                    %th.hidden-xs E-mail
                    %th.hidden-xs E-mail Corporativo
                    %th.hidden-xs Identificación
                    %th.hidden-xs Teléfono
                    %th Vehículos
                    -#%th.center Menu
                    -#%th
              %tbody#objects-container
                = render 'admin/layouts/listing_preloader'
                = render 'listing', objects: @objects
        %center.paginator-module
          = paginate @objects, window: 1
  %aside.control-sidebar
    = render "description"
  %aside#index-show.control-sidebar

  .mixed-btn
    - if can?(KepplerTravel::Driver).create?
      = link_to new_admin_travel_driver_path, class: "btn-float" do
        +

:scss
  .status{
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;

  }

  .available{
   background-color: #5cb85c;
  }

  .not-available{
     background-color: #d9534f;
  }

  .select2-selection {
    border-radius: 0 !important;
  }
  .select2-container--default.select2-container--focus .select2-selection--multiple {
      border: solid #f44336 1px !important;
      outline: 0;
  }


:javascript


  $(document).ready(function(){
    $("#js-search-multiple").select2({
      placeholder: "Search drivers",
      allowClear: true,
      width: '100%'
    });
  });

  $(document).ready(function(){
    $('#driver').click(function() {
      $('#upload_file_driver').click()
      $('#upload_file_driver').change(function() {
        $('.waiting').css('display', 'block')
        $('#upload_form_driver').submit()
      })
    });

    renderImg();
  });
