.container
  .row
    .col-lg-2
      = link_to admin_travel_drivers_path, class: "", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
        .arrow-back.btn.btn-default
          %i.fa.fa-angle-left
          = t('keppler.actions.back')

  .show-section
    .row
      .col-lg-12
        .box.slice-box
          .box-header.with-border
            %h3.box-title= t("keppler.modules.#{controller_path.underscore}")
            .box-tools.pull-right
              - if can?(KepplerTravel::Driver).update?
                = link_to edit_admin_travel_driver_path(@driver), class: "btn btn-box-tool", title: "#{t('keppler.actions.edit') }" do
                  %i.icon-pencil
              - if can?(KepplerTravel::Driver).destroy?
                = link_to admin_travel_driver_path(@driver), class: "btn btn-box-tool", title: "#{t('keppler.actions.delete')}", method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
                  %i.icon-trash
          .box-body.box-body-no-padding
            .nav-tabs-custom
              %ul.nav.nav-tabs
                %li.active
                  %a{"data-toggle" => "tab", :href => "#pending"} Traslados Pendientes
                %li
                  %a{"data-toggle" => "tab", :href => "#complete"} Traslados Completados
              .tab-content{style: 'padding:inherit!important;margin-bottom:10px;'}
                // Pending
                #pending.tab-pane.active
                  - @driver.orders.where(status: 'pending').where.not(id: nil).each do |order|
                    - reservation = order.reservation
                    .listing.col-lg-12.col-xs-12
                      %section.content-header.index-header
                        %h1{:style => "display: inline-block;"}
                          Lista - Traslados Pendientes
                      .box.slice-box
                        .box-body.no-padding
                          %table.table
                            %thead
                              %tr
                                %th N° Orden
                                %th N° Factura
                                %th.hidden-xs Nombre del Cotizante
                                %th.hidden-xs Estatus Reserva
                                %th.hidden-xs Origen
                                %th.hidden-xs Destino
                                %th.hidden-xs.hidden-sm Vehiculo
                                %th.hidden-xs.hidden-sm Cant. Niño
                                %th.hidden-xs.hidden-sm Cant. Adultos
                                %th.center Detalles
                            %tbody#objects-container
                              %tr#row-1
                                %td.hidden-xs
                                  %a.show-row{"data-remote" => "true", :href => '#'}
                                    %span= reservation.id

                                %td.hidden-xs
                                  %a.show-row{"data-remote" => "true", :href => '#'}
                                    %span= reservation.invoice.token

                                %td.hidden-xs.hidden-sm
                                  %a.show-row{"data-remote" => "true", :href => '#'}
                                    %span= reservation.user.name
                                %td.hidden-xs
                                  %a.show-row{"data-remote" => "true", :href => '#'}
                                    %span= reservation.status
                                %td.hidden-xs
                                  %a.show-row{"data-remote" => "true", :href => '#'}
                                    %span= reservation.origin
                                %td.hidden-xs
                                  %a.show-row{"data-remote" => "true", :href => '#'}
                                    %span= reservation.arrival
                                %td.hidden-xs.hidden-sm
                                  %a.show-row{"data-remote" => "true", :href => '#'}
                                    %span= reservation.reservationable.title['es']
                                %td.hidden-xs.hidden-sm
                                  %a.show-row{"data-remote" => "true", :href => '#'}
                                    %span= reservation.quantity_kids
                                %td.hidden-xs.hidden-sm
                                  %a.show-row{"data-remote" => "true", :href => '#'}
                                    %span= reservation.quantity_adults
                                %td.hidden-xs.hidden-sm{style:'text-align: center;'}
                                  %a.new-menu{:href => "/admin/travel/reservations/1?model_name=vehicle", :title => "Ver"}
                                    %i.icon-eye


                // Complete
                #complete.tab-pane
                  - @driver.orders.where(status: 'complete').where.not(id: nil).each do |order|
                    .listing.col-lg-12.col-xs-12
                      %section.content-header.index-header
                        %h1{:style => "display: inline-block;"}
                          Lista - Traslados Pendientes
                      .box.slice-box
                        .box-body.no-padding
                          %table.table
                            %thead
                              %tr
                                %th N° Orden
                                %th N° Factura
                                %th.hidden-xs Nombre del Cotizante
                                %th.hidden-xs Estatus Reserva
                                %th.hidden-xs Origen
                                %th.hidden-xs Destino
                                %th.hidden-xs.hidden-sm Vehiculo
                                %th.hidden-xs.hidden-sm Cant. Niño
                                %th.hidden-xs.hidden-sm Cant. Adultos
                                %th.center Detalles
                            %tbody#objects-container
                              %tr#row-1
                                %td.hidden-xs
                                  %a.show-row{"data-remote" => "true", :href => '#'}
                                    %span= reservation.id

                                %td.hidden-xs
                                  %a.show-row{"data-remote" => "true", :href => '#'}
                                    %span= reservation.invoice.token

                                %td.hidden-xs.hidden-sm
                                  %a.show-row{"data-remote" => "true", :href => '#'}
                                    %span= reservation.user.name
                                %td.hidden-xs
                                  %a.show-row{"data-remote" => "true", :href => '#'}
                                    %span= reservation.status
                                %td.hidden-xs
                                  %a.show-row{"data-remote" => "true", :href => '#'}
                                    %span= reservation.origin
                                %td.hidden-xs
                                  %a.show-row{"data-remote" => "true", :href => '#'}
                                    %span= reservation.arrival
                                %td.hidden-xs.hidden-sm
                                  %a.show-row{"data-remote" => "true", :href => '#'}
                                    %span= reservation.reservationable.title['es']
                                %td.hidden-xs.hidden-sm
                                  %a.show-row{"data-remote" => "true", :href => '#'}
                                    %span= reservation.quantity_kids
                                %td.hidden-xs.hidden-sm
                                  %a.show-row{"data-remote" => "true", :href => '#'}
                                    %span= reservation.quantity_adults
                                %td.hidden-xs.hidden-sm{style:'text-align: center;'}
                                  %a.new-menu{:href => "/admin/travel/reservations/1?model_name=vehicle", :title => "Ver"}
                                    %i.icon-eye
