- objects.each do |transfer|
  %tr{ id: "row-#{transfer.id}" }
    %td.item-check{ style: 'width: 10%' }
      - if can?(KepplerTravel::Transfer).destroy_multiple?
        .checkbox
          %label{ for: "checkbox-#{transfer.id}" }
            %input{ type:"checkbox", id: "checkbox-#{transfer.id}", 'checklist-model' => 'check', 'checklist-value' => "#{transfer.id}", '@click' => "listDelete(#{transfer.id})"}
            %span.cr
              %i.cr-icon.glyphicon.glyphicon-ok
    %td
      = link_to admin_travel_transfer_path(transfer, search: @query), remote: true, class: 'list-rows' do
        %span
          - unless transfer.cover.url.blank?
            = image_tag transfer.cover.url, width: 100, height: 50, style: 'object-fit: cover;'
    %td.hidden-xs
      = link_to admin_travel_transfer_path(transfer, search: @query), remote: true, class: 'list-rows' do
        %span
          = transfer.title[I18n.locale.to_s]
    -# %td.hidden-xs
    -#   = link_to admin_travel_transfer_path(transfer, search: @query), remote: true, class: 'list-rows' do
    -#     %span
    -#       = sanitize(transfer.description[I18n.locale.to_s], tags: []).truncate(20)
    %td.hidden-xs.hidden-sm
      = link_to admin_travel_transfer_path(transfer, search: @query), remote: true, class: 'list-rows' do
        %span
          = transfer.quantity_adults
    %td.hidden-xs.hidden-sm
      = link_to admin_travel_transfer_path(transfer, search: @query), remote: true, class: 'list-rows' do
        %span
          = transfer.quantity_kids
    -# %td.hidden-xs.hidden-sm
    -#   = link_to admin_travel_transfer_path(transfer, search: @query), remote: true, class: 'list-rows' do
    -#     %span
    -#       = transfer.kit
    -# %td.hidden-xs.hidden-sm
    -#   = link_to admin_travel_transfer_path(transfer, search: @query), remote: true, class: 'list-rows' do
    -#     %span
    -#       = transfer.date
    -# %td.hidden-xs.hidden-sm
    -#   = link_to admin_travel_transfer_path(transfer, search: @query), remote: true, class: 'list-rows' do
    -#     %span
    -#       = transfer.time
    %td.hidden-xs.hidden-sm
      = link_to admin_travel_transfer_path(transfer, search: @query), remote: true, class: 'list-rows' do
        %span
          = transfer.price['cop']
    %td.dropdown{ style: 'width: 15px;padding-right:15px;' }
      %a.action-btn.pull-right{:id => "menu-#{transfer.id}", "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"}
        %i.icon-options-vertical
      %ul.actions.dropdown-menu{"aria-labelledby" => "menu-#{transfer.id}" }
        - if can?(KepplerTravel::Transfer).index?
          %li
            = link_to admin_travel_transfer_path(transfer), class: 'new-menu', title: t('keppler.actions.show') do
              %i.icon-eye
              = t('keppler.actions.show')
        - if can?(KepplerTravel::Transfer).update?
          %li
            = link_to edit_admin_travel_transfer_path(transfer), class: 'new-menu', title: t('keppler.actions.edit') do
              %i.icon-pencil
              = t('keppler.actions.edit')
        - if can?(KepplerTravel::Transfer).clone?
          %li
            = link_to admin_travel_transfer_clone_path(transfer), class: 'new-menu', title: t('keppler.actions.clone') do
              %i.icon-docs
              = t('keppler.actions.clone')
        - if can?(KepplerTravel::Transfer).destroy?
          %li
            = link_to admin_travel_transfer_path(transfer), class: 'new-menu', title: t('keppler.actions.delete'), method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
              %i.icon-trash
              = t('keppler.actions.delete')

    %td{:style => 'width: 5%;'}
      %a.drop{:href=>"#"}
        %i.icon-cursor-move
