.container
  .row
    .col-lg-2
      = link_to admin_travel_transfers_path, class: "", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
        .arrow-back.btn.btn-default
          %i.fa.fa-angle-left
          = t('keppler.actions.back')

  .show-section
    .row
      .col-lg-5
        - @transfer.as_json(only: ["cover"]).each do |attribute, value|
          .box.slice-box
            .box-header.with-border
              %h3.box-title= attribute.capitalize
              .box-tools.pull-right
                %a.btn.btn-box-tool{"data-widget" => "collapse", type: "button"}
                  %i.fa.fa-minus
            .box-body.box-body-no-padding
              - unless value.url.blank?
                = image_tag value.url, class: 'img-show'
      .col-lg-7
        .box.slice-box
          .box-header.with-border
            %h3.box-title= t("keppler.modules.#{controller_path.underscore}")
            .box-tools.pull-right
              = link_to edit_admin_travel_transfer_path(@transfer), class: "btn btn-box-tool", title: "#{t('keppler.actions.edit') }" do
                %i.icon-pencil
              = link_to admin_travel_transfer_path(@transfer), class: "btn btn-box-tool", title: "#{t('keppler.actions.delete')}", method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
                %i.icon-trash
              %a.btn.btn-box-tool{"data-widget" => "collapse", type: "button"}
                %i.fa.fa-minus
          .box-body.box-body-no-padding
            %table.table.table-striped
              %tbody
                - @transfer.as_json(only: ["title", "seat", "kit", "price"]).each do |attribute, value|
                  %tr.list-row
                    %th.display-label= t("activerecord.attributes.#{attribute}")
                    %td.display-value.fs-body-1.tc-black-2.text-overflow= value.blank? ? '-----------' : value
                -# %tr.list-row
                -#   %th.display-label= t("activerecord.attributes.destination_ids")
                -#   %td.display-value.fs-body-1.tc-black-2.text-overflow= @transfer.destinations.blank? ? '-----------' : @transfer.destinations.map(&:title)


      -# .col-md-6
      -#   -# - @transfer.files.each_with_index do |img, index|
      -#   -#   %img{src: img.url, style: 'width:200px;height:200px;'}
      -#   .box.box-solid
      -#     .box-header.with-border
      -#       %h3.box-title Galería de Imágenes
      -#     .box-body
      -#       #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
      -#         -# %ol.carousel-indicators
      -#         -#   %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
      -#         -#   %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
      -#         -#   %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
      -#         .carousel-inner
      -#           - @transfer.files.each_with_index do |img, index|
      -#             .item{class: "#{index.zero? ? 'active' : 'no-active'}"}
      -#               %img{alt: 'Galery', src: img.url}
      -#         %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic"}
      -#           %span.fa.fa-angle-left
      -#         %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic"}
      -#           %span.fa.fa-angle-right
