- objects.each do |circuit|
  %tr{ id: "row-#{circuit}" }
    %td.icon-position
      %span
        - if circuit.valid?
          %i.icon-check.icon-approved
        - else
          %i.icon-close.icon-rejected
    %td
      %span
        = circuit.title['es']
    %td
      %span
        = circuit.subtitle['es']
    %td
      %span
        = circuit.description['es']
    %td
      %span
        = circuit.include['es']
    %td
      %span
        = circuit.exclude['es']
    %td
      %span
        = circuit.itinerary['es']
    %td
      %span
        - if circuit.destinations.present?
          %ul
            - circuit.destinations.each do |destination|
              %li= destination.custom_title['es']
        - else
          = '--------'
    %td
      %span
        = circuit.status
    %td
      %span
        = circuit.featured

    %td
      - if circuit.errors.present?
        %ul{style:'list-style: none !important;padding: 0;'}
          - circuit.errors.messages.each do |error|
            %li
              %box-error
                %span{style:'font-weight: bold;'}
                  = "#{error[0].to_s}:"
                %span 
                  = "#{error[1].first}"
      - else
        = "------------" 


:scss
  .icon-position{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-approved{
    color: green !important;
  }
  .icon-rejected{
    color: red !important;
  }

      


