= simple_form_for [:admin, :travel, @circuit] do |f|
  .container
    .row
      .col-lg-2
        = link_to admin_travel_circuits_path, class: "", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
          .arrow-back.btn.btn-default
            %i.fa.fa-angle-left
            = t('keppler.actions.back')

    .row
      .col-lg-12
        .box.slice-box
          .box-header.with-border
            %h3.box-title= t("keppler.modules.#{action_name.underscore}")
            .box-tools.pull-right
              %a.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"}
                %i.fa.fa-minus
          .box-body
            .nav-tabs-custom
              %ul.nav.nav-tabs
                %li.active
                  %a{"data-toggle" => "tab", :href => "#usd"} Alojamientos / Habitaciones / USD
                %li
                  %a{"data-toggle" => "tab", :href => "#cop"} Alojamientos / Habitaciones / COP
              .tab-content{style: 'padding:inherit!important;margin-bottom:10px;'}

                // COP
                #cop.tab-pane
                  .col-12
                    .card
                      .card-header
                        %h3.card-title Alojamientos / Habitaciones / COP
                      .card-body.table-responsive.p-0
                        %table.table.table-hover
                          %tr
                            %th
                            %th Categoría
                            %th Simple
                            %th Dobles
                            %th Triples
                            %th Cuadruples
                            %th Quintuples
                            %th Sextuples
                            %th Niños

                          // Circuitables from Circuit
                          = f.simple_fields_for :circuitables, @circuit.circuitables do |circuitable|
                            - ranking = circuitable.object.ranking
                            - circuit = circuitable.object.circuit
                            %tr
                              %td
                                .form-group.boolean.optional.asd
                                  .checkbox
                                    %input{name: "asd", type: "hidden", value: "0"}/
                                    %label
                                      %input#multidestination_multidestinationables_attributes_0_status.boolean.optional{checked: "checked", name: "asd", type: "checkbox", disabled: true}/
                              %td= ranking.title['es']

                              // Circuitable Roms from one Circuitable from Circuit
                              = f.simple_fields_for :circuitable_rooms, circuitable.object.circuitable_rooms.sort_by{|room| room.id } do |cr|
                                %td
                                  = cr.input :price_cop, label: false, input_html: {min: 0}

                // USD
                #usd.tab-pane.active
                  .col-12
                    .card
                      .card-header
                        %h3.card-title Alojamientos / Habitaciones / USD
                      .card-body.table-responsive.p-0
                        %table.table.table-hover
                          %tr
                            %th
                            %th Categoría
                            %th Simple
                            %th Dobles
                            %th Triples
                            %th Cuadruples
                            %th Quintuples
                            %th Sextuples
                            %th Niños
                          // Circuitables from Circuit
                          = f.simple_fields_for :circuitables, @circuit.circuitables do |circuitable|
                            - ranking = circuitable.object.ranking
                            - circuit = circuitable.object.circuit
                            %tr
                              %td
                                = circuitable.input :status, as: :boolean, label: false
                              %td= ranking.title['es']

                              // Circuitable Roms from one Circuitable from Circuit
                              = f.simple_fields_for :circuitable_rooms, circuitable.object.circuitable_rooms.sort_by{|room| room.id } do |cr|
                                %td
                                  = cr.input :price_usd, label: false, input_html: {min: 0}




            .form-padding
              .col-xs-12
              .col-xs-12
                .pull-right
                  = f.button :submit, t('keppler.actions.save'), name: '_save', class: 'btn-primary'

// :javascript
//
// - if action_name == 'new'
//   :javascript
//     validateCircuit('#new_circuit');
// - else
//   :javascript
//     var circuit_id = #{raw @circuit.id};
//     validateCircuit(`#edit_circuit_${circuit_id}`);
//
:scss
  label.error-class{color: #e60707 !important;}
  .checkbox{position: unset!important;}
  .checkbox input[type="checkbox"]{
    position: unset!important;
    margin-left: unset!important;
  }
  [type="checkbox"]{
    display: unset!important;
  }
