= simple_form_for [:admin, :travel, @circuit] do |f|
  .container
    .row
      .col-lg-2
        = link_to admin_travel_circuits_path, class: "", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
          .arrow-back.btn.btn-default
            %i.fa.fa-angle-left
            = t('keppler.actions.back')

    .row
      .col-lg-12
        .box.slice-box
          .box-header.with-border
            %h3.box-title= t("keppler.modules.#{action_name.underscore}")
            .box-tools.pull-right
              %a.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"}
                %i.fa.fa-minus
          .box-body
            .col-12
              .card
                .card-header
                  %h3.card-title Alojamientos / Habitaciones / COP
                .card-body.table-responsive.p-0
                  %table.table.table-hover
                    %tr
                      %th
                      %th Destino
                      %th Alojamiento
                      %th Simple
                      %th Niños
                      %th Dobles
                      %th Triples
                      %th Cuadruples
                      %th Quintuples
                      %th Sextuples
                    = f.simple_fields_for :circuitables, @circuit.circuitables do |circuitable|
                      - lodgment = circuitable.object.lodgment
                      - destination = circuitable.object.destination
                      - circuit = circuitable.object.circuit
                      %tr
                        %td Check
                        %td= destination.custom_title[I18n.locale.to_s]
                        %td= lodgment.title['es']
                        = f.simple_fields_for :circuitable_rooms, circuitable.object.circuitable_rooms do |cr|
                          -# - if cr.object.id == circuitable.
                          %td
                            = cr.input :price_cop, label: false, disabled: lodgment.disabled_room(cr.object)
                            -# %input{value: cr.object.price['cop'], name: "price[#{cr.object.room.type_room}][cop][#{cr.object.id}]", disabled: lodgment.disabled_room(cr.object), min: 1, style: 'width:85%'}

                            -# = f.simple_fields_for :price, OpenStruct.new(cr.object.price) do |field|
                            -#   = field.input :cop, label: false, disable: lodgment.disabled_room(cr.object)

                .form-padding
                  .col-xs-12
                  .col-xs-12
                    .pull-right
                      = f.button :submit, t('keppler.actions.save'), name: '_save', class: 'btn-primary'
                      = f.button :submit, t('keppler.actions.save_and_add_another'), name: '_add_other'

-# if($('checkbox').attr('checked'))
-# {
-#     $(this).parent().hide();
-# }

// :javascript
//
// - if action_name == 'new'
//   :javascript
//     validateCircuit('#new_circuit');
// - else
//   :javascript
//     var circuit_id = #{raw @circuit.id};
//     validateCircuit(`#edit_circuit_${circuit_id}`);
//
// :scss
//   label.error-class{color: #e60707 !important;}
