!!!
%html{:lang => "en"}
  %head
    = render 'app/dashboard/dashboard/layouts/head'
    -#= render 'app/layouts/head'
  %body
    %header
      .loader
        = render 'app/front/loader/loader'
    #js-mobile
      .notifications
        %span{:mode => "in-out"}
      .wrapper
        .sidebar{style: "background-image: url(/assets/img/sidebar_dashboard.png)"}
          = render 'app/dashboard/dashboard/layouts/sidebar'
        .main-panel
          = render 'app/dashboard/dashboard/layouts/main'
          .content
            .container-fluid
              .row
                .col-12.col-xl-8
                  .card
                    .card-header
                      %h4.card-title Facturación de la Reservación 
                      -#%p.card-category Lorem ipsum dolor sit amet consectetur
                    .card-body
                      .row
                        .col-12
                          %section.invoice-checkout#invoice-checkout
                            .container
                              .col-md-12
                                .invoice-checkout__box
                                  -#= simple_form_for KepplerTravel::Reservation.new, url: '/create_reservation_transfer', method: :post do |f|
                                  .row
                                    .col-md-12
                                      .row
                                        .col-3.col-md-1
                                          %img{:alt => "", :src => "/assets/img/isotipo-receptivo-colombia-invoice.svg", :width => "60px"}/
                                        .col-7.col-md-7
                                          %h2{style:'margin:0;'} Receptivo Colombia
                                          %p Operador turístico - Bogotá, Colombia
                                        .col-12.col-md-4
                                          %h3.text-right N° de Orden
                                          %h3.text-right 10000523

                                      %hr/
                                      .row
                                        .col-md-12
                                          %address
                                            -# dates billing
                                            %strong Datos Personales
                                            %br/
                                            -#= @user['name']
                                            Leonard J. Ávila S.
                                            %br/
                                            12345678-A
                                            %br/
                                            -#= @user['email']
                                            info@slicegroup.co
                                            %br/
                                            -#= @invoice['address']
                                            Colombia
                                      .row
                                        .col-md-6
                                          %address
                                            %strong Método de Pago
                                            %br/
                                            Pĺataforma: EnLineaPagos
                                            -# %br/
                                            -# MasterCard terminada **** 4242
                                            %br/
                                            -#= @user['name']
                                            %br/
                                            -#= @user['email']
                                        .col-md-6.text-right
                                          %address
                                            %strong N°. Orden ELP
                                            %br/
                                            -#= @invoice['token']
                                            10000523
                                            %br/
                                            %br/
                                      .row
                                        .col-md-12
                                          %h5.text-center Información del Traslado
                                          %br/
                                        .col-md-4
                                          %address
                                            %strong Origen
                                            %br/
                                            -#= @reservation['origin']
                                            Colombia
                                            %br/
                                            %strong Destino
                                            %br/
                                            -#= @reservation['arrival']
                                            Falcon
                                            %br/
                                            %strong Aerolinea
                                            %br/
                                            -#= @reservation['airline_origin'].blank? ? '-----------' : @reservation['airline_origin']
                                            Copa Airline
                                            %br/
                                        .col-md-4
                                          %address
                                            %strong Tipo de Traslado
                                            %br/
                                            Ida/Vuelta
                                            %br/
                                            %strong Adultos/Niños
                                            %br/
                                            -#%br= "#{@reservation['quantity_adults'].to_i} / #{@reservation['quantity_kids'].to_i}"
                                            5
                                            %br/
                                            %strong N° de Vuelo
                                            %br/
                                            1000523
                                            -#= @reservation['flight_number_origin'].blank? ? '-----------' : @reservation['flight_number_origin']
                                            %br/
                                        .col-md-4
                                          %address
                                            %strong Fecha/Hora de Ida
                                            %br/
                                            -#= @reservation['flight_origin']
                                            10:00 am
                                            %br/
                                            %strong Fecha/Hora de Vuelta
                                            %br/
                                            -#= @reservation['flight_arrival']
                                            5:00 pm
                                            %br
                                            %strong Hora Traslado Ida
                                            %br/
                                            -#= @reservation['hour_origin']
                                            5:00pm
                                            %br/
                                      .row
                                        .col-md-12
                                          .card
                                            .card-header.text-center
                                              %strong Descripción
                                            .card-body
                                              %table.table
                                                %thead
                                                  %tr
                                                    %th
                                                      %strong Concepto
                                                    %th 
                                                      %strong Precio
                                                    %th 
                                                      %strong Cantidad
                                                    %th 
                                                      %strong Total
                                                %tbody
                                                  %tr
                                                    %td Tours Colombia
                                                    %td $ 1000 USD
                                                    %td 5
                                                    %td $ 5000 USD
                                            .card-footer
                                      .row
                                        .col-md-12.d-flex.justify-content-center
                                          %a{target: '_blank'}
                                            %button.btn.btn-primary.btn-lg{:type => "button"}
                                              Pagar
                                        .card-footer
    = render 'app/dashboard/dashboard/layouts/scripts'


-#!!!
-#%html{:lang => "en"}
  %head
    = render 'app/dashboard/dashboard/layouts/head'
    -#= render 'app/layouts/head'
  %body
    %header
      .loader
        = render 'app/front/loader/loader'
    #js-mobile
      .notifications
        %span{:mode => "in-out"}
      .wrapper
        .sidebar{style: "background-image: url(/assets/img/sidebar_dashboard.png)"}
          = render 'app/dashboard/dashboard/layouts/sidebar'
        .main-panel
          = render 'app/dashboard/dashboard/layouts/main'
          .content
            -#%section.invoice-transfers#invoice-transfers
              .container
                .gallary-header.text-center
                  %h2
                    Facturación
                  %p
                    Recuerde verificar la información antes de pagar su reserva
                .container
                  .row
                    .col-lg-2
                    .col-lg-8
                      .invoice-transfers__box
                        -#= simple_form_for KepplerTravel::Reservation.new, url: '/create_reservation_transfer', method: :post do |f|
                        .row
                          .col-xs-12
                            .row
                              .col-lg-2
                                %img{:alt => "", :src => "/assets/img/isotipo-receptivo-colombia-invoice.svg", :width => "60px"}/
                              .col-lg-6

                                %h2 Receptivo Colombia
                                %p Operador turístico - Bogotá, Colombia
                              .col-lg-1
                              .col-lg-3
                                %h3.pull-right N° de Orden
                                -# %h3.pull-right= @invoice['token']
                                -# %h3.pull-right= SecureRandom.random_number(1000..9999)
                                -#%h3.pull-right= KepplerTravel::Invoice.last.try(:id).to_i + 1
                            %hr/
                            .row
                              .col-xs-12
                                %address
                                  -# dates billing
                                  %strong Datos Personales
                                  %br/
                                  -#= @user['name']
                                  -# %br/
                                  -# 12345678-A
                                  %br/
                                  -#= @user['phone']
                                  %br/
                                  -#= @user['email']
                                  %br/
                                  -#= @invoice['address']
                            .row
                              .col-xs-6
                                %address
                                  %strong Método de Pago
                                  %br/
                                  Pĺataforma: EnLineaPagos
                                  -# %br/
                                  -# MasterCard terminada **** 4242
                                  %br/
                                  -#= @user['name']
                                  %br/
                                  -#= @user['email']
                              .col-xs-6.text-right
                                %address
                                  %strong N°. Orden ELP
                                  %br/
                                  -#= @invoice['token']
                                  %br/
                                  %br/
                            .row
                              .col-xs-12
                                %h5.text-center Información del Traslado
                                %br/
                              .col-xs-4
                                %address
                                  %strong Origen
                                  %br/
                                  -#= @reservation['origin']
                                  %br/
                                  %strong Destino
                                  %br/
                                  -#= @reservation['arrival']
                                  %br/
                                  %strong Aerolinea
                                  %br/
                                  -#= @reservation['airline_origin'].blank? ? '-----------' : @reservation['airline_origin']
                                  %br/
                              .col-xs-4
                                %address
                                  %strong Tipo de Traslado
                                  %br/
                                  Ida/Vuelta
                                  %br/
                                  %strong Adultos/Niños
                                  -#%br= "#{@reservation['quantity_adults'].to_i} / #{@reservation['quantity_kids'].to_i}"
                                  %br/
                                  %strong N° de Vuelo
                                  %br/
                                  -#= @reservation['flight_number_origin'].blank? ? '-----------' : @reservation['flight_number_origin']
                                  %br/
                              .col-xs-4
                                %address
                                  %strong Fecha/Hora de Ida
                                  %br/
                                  -#= @reservation['flight_origin']
                                  %br/
                                  %strong Fecha/Hora de Vuelta
                                  %br/
                                  -#= @reservation['flight_arrival']
                                  %br
                                  %strong Hora Traslado Ida
                                  %br/
                                  -#= @reservation['hour_origin']
                                  %br/
                                  %strong Hora Traslado Vuelta
                                  %br/
                                  -#= @reservation['hour_arrival']
                                  %br
                                  %strong Equipaje
                                  %br/
                                  -#= @reservation['quantity_kit']
                                  piezas
          = render 'app/dashboard/dashboard/layouts/scripts'



