!!!
%html{:lang => "en"}
  %head
    = render 'app/dashboard/dashboard/layouts/head'
    -#= render 'app/layouts/head'
  %body
    -#.loader
      = render 'app/front/loader/loader'
    %div#js-mobile
      .notifications
        %span{:mode => "in-out"}
      .wrapper
        .sidebar{style: "background-image: url(/assets/img/sidebar-5.jpg)"}
          = render 'app/dashboard/dashboard/layouts/sidebar'
        .main-panel
          = render 'app/dashboard/dashboard/layouts/main'
          .content
            .container-fluid
              .row
                .col-md-8
                  .card
                    .card-header
                      %h4.card-title Editar perfil
                    .card-body
                      %form
                        -#.row
                          .col-md-5
                            .form-group
                              %label.control-label
                                Company
                              %input.form-control{"aria-describedby" => "addon-right addon-left", :disabled => "disabled", :placeholder => "Paper dashboard", :type => "text"}/
                          .col-md-3
                            .form-group
                              %label.control-label
                                Username
                              %input.form-control{"aria-describedby" => "addon-right addon-left", :placeholder => "Username", :type => "text"}/
                          .col-md-4
                            .form-group
                              %label.control-label
                                Username
                              %input.form-control{"aria-describedby" => "addon-right addon-left", :placeholder => "Email", :type => "email"}/
                        .row
                          .col-md-6
                            .form-group
                              %label.control-label
                                Nombre
                              %input.form-control{"aria-describedby" => "addon-right addon-left", :placeholder => "Name", :type => "text"}/
                          .col-md-6
                            .form-group
                              %label.control-label
                                Identificación
                              %input.form-control{"aria-describedby" => "addon-right addon-left", :placeholder => "Identification", :type => "text"}/
                        .row
                          .col-md-6
                            .form-group
                              %label.control-label
                                Correo electrónico
                              %input.form-control{"aria-describedby" => "addon-right addon-left", :placeholder => "E-mail", :type => "email"}/
                          .col-md-6
                            .form-group
                              %label.control-label
                                Teléfono
                              %input.form-control{"aria-describedby" => "addon-right addon-left", :placeholder => "Phone", :type => "tel"}/
                        .row
                          .col-md-6
                            .form-group
                              %label.control-label
                                Contraseña
                              %input.form-control{"aria-describedby" => "addon-right addon-left", :placeholder => "Password", :type => "number"}/
                          .col-md-6
                            .form-group
                              %label.control-label
                                Confirmar contraseña
                              %input.form-control{"aria-describedby" => "addon-right addon-left", :placeholder => "Confirm Password", :type => "number"}/

                        -#.row
                          .col-md-12
                            .form-group
                              %label.control-label
                                Address
                              %input.form-control{"aria-describedby" => "addon-right addon-left", :placeholder => "Home Address", :type => "text"}/
                        -#.row
                          .col-md-4
                            .form-group
                              %label.control-label
                                City
                              %input.form-control{"aria-describedby" => "addon-right addon-left", :placeholder => "City", :type => "text"}/
                          .col-md-4
                            .form-group
                              %label.control-label
                                Country
                              %input.form-control{"aria-describedby" => "addon-right addon-left", :placeholder => "Country", :type => "text"}/
                          .col-md-4
                            .form-group
                              %label.control-label
                                Postal Code
                              %input.form-control{"aria-describedby" => "addon-right addon-left", :placeholder => "ZIP Code", :type => "number"}/
                        -#.row
                          .col-md-12
                            -#.form-group
                              %label About Me
                              %textarea.form-control.border-input{:placeholder => "Here can be your description", :rows => "5"}
                            .custom-file.mb-3
                              %input#customFile.custom-file-input{:name => "filename", :type => "file"}/
                              %label.custom-file-label{:for => "customFile"} Choose file

                        .text-center
                          %button.btn.btn-info.btn-fill.float-right{:type => "submit"}
                            Guardar
                        .clearfix
                .col-md-4
                  .card.card-user
                    .card-image
                      %img{:alt => "...", :src => "/assets/img/bg-3.jpg"}/
                    .card-body
                      .author
                        %a{:href => "#"}
                          %img.avatar.border-gray{:alt => "...", :src => "/assets/img/user.png"}/
                          %h4.title
                            keppler Admin
                            %br/
                            -#%small michael24
                      -#%p.description.text-center
                        "Lamborghini Mercy
                        %br/
                        Your chick she so thirsty
                        %br/
                        I'm in that two seat Lambo"
                    -#.card-footer
                      %hr/
                      .text-center
                        %button.btn.btn-simple{:href => "#"}
                          %i.fa.fa-facebook-square
                        %button.btn.btn-simple{:href => "#"}
                          %i.fa.fa-twitter
                        %button.btn.btn-simple{:href => "#"}
                          %i.fa.fa-google-plus-square
                  .row
                    .col-md-12
                      -#.form-group
                        %label About Me
                        %textarea.form-control.border-input{:placeholder => "Here can be your description", :rows => "5"}
                      .custom-file.mb-3
                        %input#customFile.custom-file-input{:name => "filename", :type => "file"}/
                        %label.custom-file-label{:for => "customFile"} Subir imagen de perfil
                        -#%label.custom-file-label{:for => "customFile"} Upload profile image

    = render 'app/dashboard/dashboard/layouts/scripts'




