!!!
%html{:lang => "en"}
  %head
    = render 'app/dashboard/dashboard/layouts/head'
    -#= render 'app/layouts/head'
  %body
    -#.loader
      = render 'app/front/loader/loader'
    %div#js-mobile
      .notifications
        %span{:mode => "in-out"}
      .wrapper
        .sidebar{style: "background-image: url(/assets/img/sidebar-2.jpg)"}
          = render 'app/dashboard/dashboard/layouts/sidebar'
        .main-panel
          = render 'app/dashboard/dashboard/layouts/main'
          -#.content
            .container-fluid
              .row
                .col-xl-3.col-md-6
                  .card.card-stats
                    / 
                    / 
                    .card-body
                      .row
                        .col-5
                          .icon-big.text-center
                            .icon-warning
                              %i.nc-icon.nc-chart.text-warning
                        .col-7
                          .numbers
                            %div
                              %p.card-category Capacity
                              %h4.card-title 105GB
                    .card-footer
                      %hr/
                      .stats
                        %div
                          %i.fa.fa-refresh>
                          Updated now
                .col-xl-3.col-md-6
                  .card.card-stats
                    / 
                    / 
                    .card-body
                      .row
                        .col-5
                          .icon-big.text-center
                            .icon-success
                              %i.nc-icon.nc-light-3.text-success
                        .col-7
                          .numbers
                            %div
                              %p.card-category Revenue
                              %h4.card-title $1,345
                    .card-footer
                      %hr/
                      .stats
                        %div
                          %i.fa.fa-calendar-o>
                          Last day
                .col-xl-3.col-md-6
                  .card.card-stats
                    / 
                    / 
                    .card-body
                      .row
                        .col-5
                          .icon-big.text-center
                            .icon-danger
                              %i.nc-icon.nc-vector.text-danger
                        .col-7
                          .numbers
                            %div
                              %p.card-category Errors
                              %h4.card-title 23
                    .card-footer
                      %hr/
                      .stats
                        %div
                          %i.fa.fa-clock-o>
                          Last day
                .col-xl-3.col-md-6
                  .card.card-stats
                    / 
                    / 
                    .card-body
                      .row
                        .col-5
                          .icon-big.text-center
                            .icon-info
                              %i.nc-icon.nc-favourite-28.text-primary
                        .col-7
                          .numbers
                            %div
                              %p.card-category Followers
                              %h4.card-title +45
                    .card-footer
                      %hr/
                      .stats
                        %div
                          %i.fa.fa-refresh>
                          Updated now
              .row
                .col-md-8
                  .card
                    .card-header
                      %h4.card-title Users Behavior
                      %p.card-category 24 Hours performance
                    .card-body
                      #div_35537179393.ct-chart
                        %svg.ct-chart-line{:height => "245px", :style => "width: 100%; height: 245px;", :width => "100%", "xmlns:ct" => "http://gionkunz.github.com/chartist-js/ct"}
                          %g.ct-grids
                            %line.ct-grid.ct-vertical{:x1 => "50", :x2 => "644.65625", :y1 => "210", :y2 => "210"}
                            %line.ct-grid.ct-vertical{:x1 => "50", :x2 => "644.65625", :y1 => "185.625", :y2 => "185.625"}
                            %line.ct-grid.ct-vertical{:x1 => "50", :x2 => "644.65625", :y1 => "161.25", :y2 => "161.25"}
                            %line.ct-grid.ct-vertical{:x1 => "50", :x2 => "644.65625", :y1 => "136.875", :y2 => "136.875"}
                            %line.ct-grid.ct-vertical{:x1 => "50", :x2 => "644.65625", :y1 => "112.5", :y2 => "112.5"}
                            %line.ct-grid.ct-vertical{:x1 => "50", :x2 => "644.65625", :y1 => "88.125", :y2 => "88.125"}
                            %line.ct-grid.ct-vertical{:x1 => "50", :x2 => "644.65625", :y1 => "63.75", :y2 => "63.75"}
                            %line.ct-grid.ct-vertical{:x1 => "50", :x2 => "644.65625", :y1 => "39.375", :y2 => "39.375"}
                            %line.ct-grid.ct-vertical{:x1 => "50", :x2 => "644.65625", :y1 => "15", :y2 => "15"}
                          %g
                            %g.ct-series.ct-series-a
                              %path.ct-line{:d => "M 50 184.036 C 78.317 182.448 106.634 180.914 134.951 179.271 C 163.268 177.627 191.585 174.228 219.902 174.165 C 248.219 174.101 276.536 174.13 304.853 174.068 C 333.17 174.005 361.487 171.737 389.804 171.053 C 418.121 170.369 446.438 170.303 474.754 169.497 C 503.071 168.69 531.388 164.05 559.705 164.05 C 588.022 164.05 616.339 164.148 644.656 164.196"}
                                %animate{:attributename => "d", :begin => "indefinite", :calcmode => "spline", :dur => "700ms", :fill => "freeze", :from => "M50,195C78.317,195,106.634,195,134.951,195C163.268,195,191.585,195,219.902,195C248.219,195,276.536,195,304.853,195C333.17,195,361.487,195,389.804,195C418.121,195,446.438,195,474.754,195C503.071,195,531.388,195,559.705,195C588.022,195,616.339,195,644.656,195", :keysplines => "0.23 1 0.32 1", :keytimes => "0;1", :to => "M50,140.044C78.317,132.081,106.634,124.393,134.951,116.156C163.268,107.919,191.585,90.881,219.902,90.563C248.219,90.244,276.536,90.39,304.853,90.075C333.17,89.76,361.487,78.392,389.804,74.963C418.121,71.533,446.438,71.207,474.754,67.163C503.071,63.118,531.388,39.863,559.705,39.863C588.022,39.863,616.339,40.35,644.656,40.594"}
                              %line.ct-point{"ct:value" => "287", :opacity => "0", :x1 => "50", :x2 => "50.01", :y1 => "140.04375", :y2 => "140.04375"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-point{"ct:value" => "385", :opacity => "0", :x1 => "134.95089285714286", :x2 => "134.96089285714285", :y1 => "116.15625", :y2 => "116.15625"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-point{"ct:value" => "490", :opacity => "0", :x1 => "219.90178571428572", :x2 => "219.9117857142857", :y1 => "90.5625", :y2 => "90.5625"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-point{"ct:value" => "492", :opacity => "0", :x1 => "304.85267857142856", :x2 => "304.86267857142855", :y1 => "90.075", :y2 => "90.075"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-point{"ct:value" => "554", :opacity => "0", :x1 => "389.80357142857144", :x2 => "389.81357142857144", :y1 => "74.9625", :y2 => "74.9625"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-point{"ct:value" => "586", :opacity => "0", :x1 => "474.75446428571433", :x2 => "474.7644642857143", :y1 => "67.1625", :y2 => "67.1625"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-point{"ct:value" => "698", :opacity => "0", :x1 => "559.7053571428571", :x2 => "559.7153571428571", :y1 => "39.86250000000001", :y2 => "39.86250000000001"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-point{"ct:value" => "695", :opacity => "0", :x1 => "644.65625", :x2 => "644.66625", :y1 => "40.59375", :y2 => "40.59375"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                            %g.ct-series.ct-series-b
                              %path.ct-line{:d => "M 50 194.734 C 78.317 193.357 106.634 190.601 134.951 190.601 C 163.268 190.601 191.585 191.039 219.902 191.039 C 248.219 191.039 276.536 187.348 304.853 186.322 C 333.17 185.295 361.487 184.806 389.804 184.036 C 418.121 183.266 446.438 182.754 474.754 181.702 C 503.071 180.651 531.388 176.903 559.705 176.839 C 588.022 176.776 616.339 176.775 644.656 176.742"}
                                %animate{:attributename => "d", :begin => "indefinite", :calcmode => "spline", :dur => "700ms", :fill => "freeze", :from => "M50,195C78.317,195,106.634,195,134.951,195C163.268,195,191.585,195,219.902,195C248.219,195,276.536,195,304.853,195C333.17,195,361.487,195,389.804,195C418.121,195,446.438,195,474.754,195C503.071,195,531.388,195,559.705,195C588.022,195,616.339,195,644.656,195", :keysplines => "0.23 1 0.32 1", :keytimes => "0;1", :to => "M50,193.669C78.317,186.763,106.634,172.95,134.951,172.95C163.268,172.95,191.585,175.144,219.902,175.144C248.219,175.144,276.536,156.645,304.853,151.5C333.17,146.355,361.487,143.903,389.804,140.044C418.121,136.185,446.438,133.614,474.754,128.344C503.071,123.073,531.388,104.287,559.705,103.969C588.022,103.65,616.339,103.644,644.656,103.481"}
                              %line.ct-point{"ct:value" => "67", :opacity => "0", :x1 => "50", :x2 => "50.01", :y1 => "193.66875", :y2 => "193.66875"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-point{"ct:value" => "152", :opacity => "0", :x1 => "134.95089285714286", :x2 => "134.96089285714285", :y1 => "172.95", :y2 => "172.95"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-point{"ct:value" => "143", :opacity => "0", :x1 => "219.90178571428572", :x2 => "219.9117857142857", :y1 => "175.14375", :y2 => "175.14375"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-point{"ct:value" => "240", :opacity => "0", :x1 => "304.85267857142856", :x2 => "304.86267857142855", :y1 => "151.5", :y2 => "151.5"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-point{"ct:value" => "287", :opacity => "0", :x1 => "389.80357142857144", :x2 => "389.81357142857144", :y1 => "140.04375", :y2 => "140.04375"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-point{"ct:value" => "335", :opacity => "0", :x1 => "474.75446428571433", :x2 => "474.7644642857143", :y1 => "128.34375", :y2 => "128.34375"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-point{"ct:value" => "435", :opacity => "0", :x1 => "559.7053571428571", :x2 => "559.7153571428571", :y1 => "103.96875", :y2 => "103.96875"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-point{"ct:value" => "437", :opacity => "0", :x1 => "644.65625", :x2 => "644.66625", :y1 => "103.48125", :y2 => "103.48125"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                            %g.ct-series.ct-series-c
                              %path.ct-line{:d => "M 50 196.874 C 78.317 195.415 106.634 192.497 134.951 192.497 C 163.268 192.497 191.585 194.734 219.902 194.734 C 248.219 194.734 276.536 193.627 304.853 192.741 C 333.17 191.855 361.487 189.748 389.804 188.753 C 418.121 187.759 446.438 187.294 474.754 186.37 C 503.071 185.447 531.388 183.096 559.705 183.064 C 588.022 183.032 616.339 183.031 644.656 183.015"}
                                %animate{:attributename => "d", :begin => "indefinite", :calcmode => "spline", :dur => "700ms", :fill => "freeze", :from => "M50,195C78.317,195,106.634,195,134.951,195C163.268,195,191.585,195,219.902,195C248.219,195,276.536,195,304.853,195C333.17,195,361.487,195,389.804,195C418.121,195,446.438,195,474.754,195C503.071,195,531.388,195,559.705,195C588.022,195,616.339,195,644.656,195", :keysplines => "0.23 1 0.32 1", :keytimes => "0;1", :to => "M50,204.394C78.317,197.081,106.634,182.456,134.951,182.456C163.268,182.456,191.585,193.669,219.902,193.669C248.219,193.669,276.536,188.117,304.853,183.675C333.17,179.233,361.487,168.672,389.804,163.688C418.121,158.703,446.438,156.372,474.754,151.744C503.071,147.116,531.388,135.329,559.705,135.169C588.022,135.009,616.339,135.006,644.656,134.925"}
                              %line.ct-point{"ct:value" => "23", :opacity => "0", :x1 => "50", :x2 => "50.01", :y1 => "204.39375", :y2 => "204.39375"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-point{"ct:value" => "113", :opacity => "0", :x1 => "134.95089285714286", :x2 => "134.96089285714285", :y1 => "182.45625", :y2 => "182.45625"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-point{"ct:value" => "67", :opacity => "0", :x1 => "219.90178571428572", :x2 => "219.9117857142857", :y1 => "193.66875", :y2 => "193.66875"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-point{"ct:value" => "108", :opacity => "0", :x1 => "304.85267857142856", :x2 => "304.86267857142855", :y1 => "183.675", :y2 => "183.675"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-point{"ct:value" => "190", :opacity => "0", :x1 => "389.80357142857144", :x2 => "389.81357142857144", :y1 => "163.6875", :y2 => "163.6875"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-point{"ct:value" => "239", :opacity => "0", :x1 => "474.75446428571433", :x2 => "474.7644642857143", :y1 => "151.74375", :y2 => "151.74375"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-point{"ct:value" => "307", :opacity => "0", :x1 => "559.7053571428571", :x2 => "559.7153571428571", :y1 => "135.16875", :y2 => "135.16875"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-point{"ct:value" => "308", :opacity => "0", :x1 => "644.65625", :x2 => "644.66625", :y1 => "134.925", :y2 => "134.925"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                          %g.ct-labels
                            %foreignobject{:height => "20", :style => "overflow: visible;", :width => "84.95089285714286", :x => "50", :y => "215"}
                              %span.ct-label.ct-horizontal.ct-end{:style => "width: 85px; height: 20px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                9:00AM
                            %foreignobject{:height => "20", :style => "overflow: visible;", :width => "84.95089285714286", :x => "134.95089285714286", :y => "215"}
                              %span.ct-label.ct-horizontal.ct-end{:style => "width: 85px; height: 20px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                12:00AM
                            %foreignobject{:height => "20", :style => "overflow: visible;", :width => "84.95089285714286", :x => "219.90178571428572", :y => "215"}
                              %span.ct-label.ct-horizontal.ct-end{:style => "width: 85px; height: 20px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                3:00PM
                            %foreignobject{:height => "20", :style => "overflow: visible;", :width => "84.95089285714286", :x => "304.85267857142856", :y => "215"}
                              %span.ct-label.ct-horizontal.ct-end{:style => "width: 85px; height: 20px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                6:00PM
                            %foreignobject{:height => "20", :style => "overflow: visible;", :width => "84.95089285714289", :x => "389.80357142857144", :y => "215"}
                              %span.ct-label.ct-horizontal.ct-end{:style => "width: 85px; height: 20px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                9:00PM
                            %foreignobject{:height => "20", :style => "overflow: visible;", :width => "84.95089285714283", :x => "474.75446428571433", :y => "215"}
                              %span.ct-label.ct-horizontal.ct-end{:style => "width: 85px; height: 20px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                12:00PM
                            %foreignobject{:height => "20", :style => "overflow: visible;", :width => "84.95089285714283", :x => "559.7053571428571", :y => "215"}
                              %span.ct-label.ct-horizontal.ct-end{:style => "width: 85px; height: 20px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                3:00AM
                            %foreignobject{:height => "20", :style => "overflow: visible;", :width => "30", :x => "644.65625", :y => "215"}
                              %span.ct-label.ct-horizontal.ct-end{:style => "width: 30px; height: 20px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                6:00AM
                            %foreignobject{:height => "24.375", :style => "overflow: visible;", :width => "30", :x => "10", :y => "185.625"}
                              %span.ct-label.ct-vertical.ct-start{:style => "height: 24px; width: 30px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                0
                            %foreignobject{:height => "24.375", :style => "overflow: visible;", :width => "30", :x => "10", :y => "161.25"}
                              %span.ct-label.ct-vertical.ct-start{:style => "height: 24px; width: 30px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                100
                            %foreignobject{:height => "24.375", :style => "overflow: visible;", :width => "30", :x => "10", :y => "136.875"}
                              %span.ct-label.ct-vertical.ct-start{:style => "height: 24px; width: 30px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                200
                            %foreignobject{:height => "24.375", :style => "overflow: visible;", :width => "30", :x => "10", :y => "112.5"}
                              %span.ct-label.ct-vertical.ct-start{:style => "height: 24px; width: 30px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                300
                            %foreignobject{:height => "24.375", :style => "overflow: visible;", :width => "30", :x => "10", :y => "88.125"}
                              %span.ct-label.ct-vertical.ct-start{:style => "height: 24px; width: 30px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                400
                            %foreignobject{:height => "24.375", :style => "overflow: visible;", :width => "30", :x => "10", :y => "63.75"}
                              %span.ct-label.ct-vertical.ct-start{:style => "height: 24px; width: 30px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                500
                            %foreignobject{:height => "24.375", :style => "overflow: visible;", :width => "30", :x => "10", :y => "39.375"}
                              %span.ct-label.ct-vertical.ct-start{:style => "height: 24px; width: 30px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                600
                            %foreignobject{:height => "24.375", :style => "overflow: visible;", :width => "30", :x => "10", :y => "15"}
                              %span.ct-label.ct-vertical.ct-start{:style => "height: 24px; width: 30px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                700
                            %foreignobject{:height => "30", :style => "overflow: visible;", :width => "30", :x => "10", :y => "-15"}
                              %span.ct-label.ct-vertical.ct-start{:style => "height: 30px; width: 30px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                800
                    .card-footer
                      .legend
                        %i.fa.fa-circle.text-info
                        Open
                        %i.fa.fa-circle.text-danger
                        Click
                        %i.fa.fa-circle.text-warning
                        Click Second Time
                      %hr/
                      .stats
                        %i.fa.fa-history
                        Updated 3 minutes ago
                .col-md-4
                  .card
                    .card-header
                      %h4.card-title Email Statistics
                      %p.card-category Last Campaign Performance
                    .card-body
                      #div_1168131944994.ct-chart
                        %svg.ct-chart-pie{:height => "100%", :style => "width: 100%; height: 100%;", :width => "100%", "xmlns:ct" => "http://gionkunz.github.com/chartist-js/ct"}
                          %g.ct-series.ct-series-a
                            %path.ct-slice-pie{"ct:value" => "40", :d => "M227.229,217.559A117.5,117.5,0,0,0,158.164,5L158.164,122.5Z"}
                          %g.ct-series.ct-series-b
                            %path.ct-slice-pie{"ct:value" => "20", :d => "M89.099,217.559A117.5,117.5,0,0,0,227.56,217.318L158.164,122.5Z"}
                          %g.ct-series.ct-series-c
                            %path.ct-slice-pie{"ct:value" => "40", :d => "M158.164,5A117.5,117.5,0,0,0,89.432,217.8L158.164,122.5Z"}
                          %g
                            %text.ct-label{:dx => "214.03863283234028", :dy => "104.34525158047184", "text-anchor" => "middle"} 40%
                            %text.ct-label{:dx => "158.1640625", :dy => "181.25", "text-anchor" => "middle"} 20%
                            %text.ct-label{:dx => "102.28949216765973", :dy => "104.34525158047182", "text-anchor" => "middle"} 40%
                    .card-footer
                      .legend
                        %i.fa.fa-circle.text-info
                        Open
                        %i.fa.fa-circle.text-danger
                        Bounce
                        %i.fa.fa-circle.text-warning
                        Unsubscribe
                      %hr/
                      .stats
                        %i.fa.fa-clock-o
                        Campaign sent 2 days ago
              .row
                .col-md-6
                  .card{"chart-responsive-options" => "screen and (max-width: 640px),[object Object]"}
                    .card-header
                      %h4.card-title 2014 Sales
                      %p.card-category All products including Taxes
                    .card-body
                      #div_1495084549769.ct-chart
                        %svg.ct-chart-bar{:height => "245px", :style => "width: 100%; height: 245px;", :width => "100%", "xmlns:ct" => "http://gionkunz.github.com/chartist-js/ct"}
                          %g.ct-grids
                            %line.ct-grid.ct-vertical{:x1 => "50", :x2 => "490.5", :y1 => "210", :y2 => "210"}
                            %line.ct-grid.ct-vertical{:x1 => "50", :x2 => "490.5", :y1 => "188.33333333333334", :y2 => "188.33333333333334"}
                            %line.ct-grid.ct-vertical{:x1 => "50", :x2 => "490.5", :y1 => "166.66666666666666", :y2 => "166.66666666666666"}
                            %line.ct-grid.ct-vertical{:x1 => "50", :x2 => "490.5", :y1 => "145", :y2 => "145"}
                            %line.ct-grid.ct-vertical{:x1 => "50", :x2 => "490.5", :y1 => "123.33333333333333", :y2 => "123.33333333333333"}
                            %line.ct-grid.ct-vertical{:x1 => "50", :x2 => "490.5", :y1 => "101.66666666666667", :y2 => "101.66666666666667"}
                            %line.ct-grid.ct-vertical{:x1 => "50", :x2 => "490.5", :y1 => "80", :y2 => "80"}
                            %line.ct-grid.ct-vertical{:x1 => "50", :x2 => "490.5", :y1 => "58.33333333333334", :y2 => "58.33333333333334"}
                            %line.ct-grid.ct-vertical{:x1 => "50", :x2 => "490.5", :y1 => "36.66666666666666", :y2 => "36.66666666666666"}
                            %line.ct-grid.ct-vertical{:x1 => "50", :x2 => "490.5", :y1 => "15", :y2 => "15"}
                          %g
                            %g.ct-series.ct-series-a
                              %line.ct-bar{"ct:value" => "542", :opacity => "0", :x1 => "63.35416666666667", :x2 => "63.35416666666667", :y1 => "210", :y2 => "92.56666666666666"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-bar{"ct:value" => "443", :opacity => "0", :x1 => "100.06250000000001", :x2 => "100.06250000000001", :y1 => "210", :y2 => "114.01666666666667"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-bar{"ct:value" => "320", :opacity => "0", :x1 => "136.77083333333334", :x2 => "136.77083333333334", :y1 => "210", :y2 => "140.66666666666669"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-bar{"ct:value" => "780", :opacity => "0", :x1 => "173.47916666666666", :x2 => "173.47916666666666", :y1 => "210", :y2 => "41"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-bar{"ct:value" => "553", :opacity => "0", :x1 => "210.1875", :x2 => "210.1875", :y1 => "210", :y2 => "90.18333333333334"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-bar{"ct:value" => "453", :opacity => "0", :x1 => "246.89583333333334", :x2 => "246.89583333333334", :y1 => "210", :y2 => "111.85"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-bar{"ct:value" => "326", :opacity => "0", :x1 => "283.6041666666667", :x2 => "283.6041666666667", :y1 => "210", :y2 => "139.36666666666667"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-bar{"ct:value" => "434", :opacity => "0", :x1 => "320.31250000000006", :x2 => "320.31250000000006", :y1 => "210", :y2 => "115.96666666666667"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-bar{"ct:value" => "568", :opacity => "0", :x1 => "357.02083333333337", :x2 => "357.02083333333337", :y1 => "210", :y2 => "86.93333333333334"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-bar{"ct:value" => "610", :opacity => "0", :x1 => "393.7291666666667", :x2 => "393.7291666666667", :y1 => "210", :y2 => "77.83333333333334"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-bar{"ct:value" => "756", :opacity => "0", :x1 => "430.43750000000006", :x2 => "430.43750000000006", :y1 => "210", :y2 => "46.19999999999999"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-bar{"ct:value" => "895", :opacity => "0", :x1 => "467.14583333333337", :x2 => "467.14583333333337", :y1 => "210", :y2 => "16.083333333333343"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                            %g.ct-series.ct-series-b
                              %line.ct-bar{"ct:value" => "412", :opacity => "0", :x1 => "73.35416666666667", :x2 => "73.35416666666667", :y1 => "210", :y2 => "120.73333333333333"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-bar{"ct:value" => "243", :opacity => "0", :x1 => "110.06250000000001", :x2 => "110.06250000000001", :y1 => "210", :y2 => "157.35"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-bar{"ct:value" => "280", :opacity => "0", :x1 => "146.77083333333334", :x2 => "146.77083333333334", :y1 => "210", :y2 => "149.33333333333334"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-bar{"ct:value" => "580", :opacity => "0", :x1 => "183.47916666666666", :x2 => "183.47916666666666", :y1 => "210", :y2 => "84.33333333333333"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-bar{"ct:value" => "453", :opacity => "0", :x1 => "220.1875", :x2 => "220.1875", :y1 => "210", :y2 => "111.85"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-bar{"ct:value" => "353", :opacity => "0", :x1 => "256.89583333333337", :x2 => "256.89583333333337", :y1 => "210", :y2 => "133.51666666666665"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-bar{"ct:value" => "300", :opacity => "0", :x1 => "293.6041666666667", :x2 => "293.6041666666667", :y1 => "210", :y2 => "145"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-bar{"ct:value" => "364", :opacity => "0", :x1 => "330.31250000000006", :x2 => "330.31250000000006", :y1 => "210", :y2 => "131.13333333333333"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-bar{"ct:value" => "368", :opacity => "0", :x1 => "367.02083333333337", :x2 => "367.02083333333337", :y1 => "210", :y2 => "130.26666666666665"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-bar{"ct:value" => "410", :opacity => "0", :x1 => "403.7291666666667", :x2 => "403.7291666666667", :y1 => "210", :y2 => "121.16666666666667"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-bar{"ct:value" => "636", :opacity => "0", :x1 => "440.43750000000006", :x2 => "440.43750000000006", :y1 => "210", :y2 => "72.19999999999999"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                              %line.ct-bar{"ct:value" => "695", :opacity => "0", :x1 => "477.14583333333337", :x2 => "477.14583333333337", :y1 => "210", :y2 => "59.41666666666666"}
                                %animate{:attributename => "opacity", :begin => "indefinite", :dur => "500ms", :fill => "freeze", :from => "0", :to => "1"}
                          %g.ct-labels
                            %foreignobject{:height => "20", :style => "overflow: visible;", :width => "36.708333333333336", :x => "50", :y => "215"}
                              %span.ct-label.ct-horizontal.ct-end{:style => "width: 37px; height: 20px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                Jan
                            %foreignobject{:height => "20", :style => "overflow: visible;", :width => "36.708333333333336", :x => "86.70833333333334", :y => "215"}
                              %span.ct-label.ct-horizontal.ct-end{:style => "width: 37px; height: 20px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                Feb
                            %foreignobject{:height => "20", :style => "overflow: visible;", :width => "36.70833333333333", :x => "123.41666666666667", :y => "215"}
                              %span.ct-label.ct-horizontal.ct-end{:style => "width: 37px; height: 20px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                Mar
                            %foreignobject{:height => "20", :style => "overflow: visible;", :width => "36.70833333333334", :x => "160.125", :y => "215"}
                              %span.ct-label.ct-horizontal.ct-end{:style => "width: 37px; height: 20px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                Apr
                            %foreignobject{:height => "20", :style => "overflow: visible;", :width => "36.70833333333334", :x => "196.83333333333334", :y => "215"}
                              %span.ct-label.ct-horizontal.ct-end{:style => "width: 37px; height: 20px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                Mai
                            %foreignobject{:height => "20", :style => "overflow: visible;", :width => "36.708333333333314", :x => "233.54166666666669", :y => "215"}
                              %span.ct-label.ct-horizontal.ct-end{:style => "width: 37px; height: 20px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                Jun
                            %foreignobject{:height => "20", :style => "overflow: visible;", :width => "36.70833333333337", :x => "270.25", :y => "215"}
                              %span.ct-label.ct-horizontal.ct-end{:style => "width: 37px; height: 20px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                Jul
                            %foreignobject{:height => "20", :style => "overflow: visible;", :width => "36.708333333333314", :x => "306.95833333333337", :y => "215"}
                              %span.ct-label.ct-horizontal.ct-end{:style => "width: 37px; height: 20px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                Aug
                            %foreignobject{:height => "20", :style => "overflow: visible;", :width => "36.708333333333314", :x => "343.6666666666667", :y => "215"}
                              %span.ct-label.ct-horizontal.ct-end{:style => "width: 37px; height: 20px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                Sep
                            %foreignobject{:height => "20", :style => "overflow: visible;", :width => "36.70833333333337", :x => "380.375", :y => "215"}
                              %span.ct-label.ct-horizontal.ct-end{:style => "width: 37px; height: 20px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                Oct
                            %foreignobject{:height => "20", :style => "overflow: visible;", :width => "36.708333333333314", :x => "417.08333333333337", :y => "215"}
                              %span.ct-label.ct-horizontal.ct-end{:style => "width: 37px; height: 20px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                Nov
                            %foreignobject{:height => "20", :style => "overflow: visible;", :width => "36.708333333333314", :x => "453.7916666666667", :y => "215"}
                              %span.ct-label.ct-horizontal.ct-end{:style => "width: 37px; height: 20px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                Dec
                            %foreignobject{:height => "21.666666666666668", :style => "overflow: visible;", :width => "30", :x => "10", :y => "188.33333333333334"}
                              %span.ct-label.ct-vertical.ct-start{:style => "height: 22px; width: 30px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                0
                            %foreignobject{:height => "21.666666666666668", :style => "overflow: visible;", :width => "30", :x => "10", :y => "166.66666666666669"}
                              %span.ct-label.ct-vertical.ct-start{:style => "height: 22px; width: 30px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                100
                            %foreignobject{:height => "21.666666666666664", :style => "overflow: visible;", :width => "30", :x => "10", :y => "145"}
                              %span.ct-label.ct-vertical.ct-start{:style => "height: 22px; width: 30px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                200
                            %foreignobject{:height => "21.66666666666667", :style => "overflow: visible;", :width => "30", :x => "10", :y => "123.33333333333333"}
                              %span.ct-label.ct-vertical.ct-start{:style => "height: 22px; width: 30px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                300
                            %foreignobject{:height => "21.666666666666657", :style => "overflow: visible;", :width => "30", :x => "10", :y => "101.66666666666667"}
                              %span.ct-label.ct-vertical.ct-start{:style => "height: 22px; width: 30px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                400
                            %foreignobject{:height => "21.66666666666667", :style => "overflow: visible;", :width => "30", :x => "10", :y => "80"}
                              %span.ct-label.ct-vertical.ct-start{:style => "height: 22px; width: 30px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                500
                            %foreignobject{:height => "21.666666666666657", :style => "overflow: visible;", :width => "30", :x => "10", :y => "58.33333333333334"}
                              %span.ct-label.ct-vertical.ct-start{:style => "height: 22px; width: 30px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                600
                            %foreignobject{:height => "21.666666666666686", :style => "overflow: visible;", :width => "30", :x => "10", :y => "36.66666666666666"}
                              %span.ct-label.ct-vertical.ct-start{:style => "height: 22px; width: 30px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                700
                            %foreignobject{:height => "21.666666666666657", :style => "overflow: visible;", :width => "30", :x => "10", :y => "15"}
                              %span.ct-label.ct-vertical.ct-start{:style => "height: 22px; width: 30px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                800
                            %foreignobject{:height => "30", :style => "overflow: visible;", :width => "30", :x => "10", :y => "-15"}
                              %span.ct-label.ct-vertical.ct-start{:style => "height: 30px; width: 30px;", :xmlns => "http://www.w3.org/2000/xmlns/"}
                                900
                    .card-footer
                      .legend
                        %i.fa.fa-circle.text-info
                        Tesla Model S
                        %i.fa.fa-circle.text-danger
                        BMW 5 Series
                      %hr/
                      .stats
                        %i.fa.fa-check
                        Data information certified
                .col-md-6
                  .card
                    / 
                    .card-header
                      %h5.title Tasks
                      %p.category Backend development
                    .card-body
                      %table.table
                        %thead
                        %tbody
                          %tr
                            %td
                              .form-check
                                %label.form-check-label{:for => "fb0a99549ce3a"}
                                  %input#fb0a99549ce3a.form-check-input{:type => "checkbox"}/
                                  %span.form-check-sign
                                %span
                            %td Sign contract for "What are conference organizers afraid of?"
                            %td.td-actions.text-right
                              %button.btn-simple.btn.btn-xs.btn-info.has-tooltip{:type => "button"}
                                %i.fa.fa-edit
                              %button.btn-simple.btn.btn-xs.btn-danger.has-tooltip{:type => "button"}
                                %i.fa.fa-times
                          %tr
                            %td
                              .form-check
                                %label.form-check-label{:for => "7b9f11056f166"}
                                  %input#7b9f11056f166.form-check-input{:type => "checkbox"}/
                                  %span.form-check-sign
                                %span
                            %td Lines From Great Russian Literature? Or E-mails From My Boss?
                            %td.td-actions.text-right
                              %button.btn-simple.btn.btn-xs.btn-info.has-tooltip{:type => "button"}
                                %i.fa.fa-edit
                              %button.btn-simple.btn.btn-xs.btn-danger.has-tooltip{:type => "button"}
                                %i.fa.fa-times
                          %tr
                            %td
                              .form-check
                                %label.form-check-label{:for => "6070884d0e212"}
                                  %input#6070884d0e212.form-check-input{:type => "checkbox"}/
                                  %span.form-check-sign
                                %span
                            %td
                              Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through
                              metro
                              Detroit
                            %td.td-actions.text-right
                              %button.btn-simple.btn.btn-xs.btn-info.has-tooltip{:type => "button"}
                                %i.fa.fa-edit
                              %button.btn-simple.btn.btn-xs.btn-danger.has-tooltip{:type => "button"}
                                %i.fa.fa-times
                          %tr
                            %td
                              .form-check
                                %label.form-check-label{:for => "3cbb5bd143883"}
                                  %input#3cbb5bd143883.form-check-input{:type => "checkbox"}/
                                  %span.form-check-sign
                                %span
                            %td Create 4 Invisible User Experiences you Never Knew About
                            %td.td-actions.text-right
                              %button.btn-simple.btn.btn-xs.btn-info.has-tooltip{:type => "button"}
                                %i.fa.fa-edit
                              %button.btn-simple.btn.btn-xs.btn-danger.has-tooltip{:type => "button"}
                                %i.fa.fa-times
                          %tr
                            %td
                              .form-check
                                %label.form-check-label{:for => "8135c5b228ed1"}
                                  %input#8135c5b228ed1.form-check-input{:type => "checkbox"}/
                                  %span.form-check-sign
                                %span
                            %td Read "Following makes Medium better"
                            %td.td-actions.text-right
                              %button.btn-simple.btn.btn-xs.btn-info.has-tooltip{:type => "button"}
                                %i.fa.fa-edit
                              %button.btn-simple.btn.btn-xs.btn-danger.has-tooltip{:type => "button"}
                                %i.fa.fa-times
                          %tr
                            %td
                              .form-check
                                %label.form-check-label{:for => "e06b3ab3e3fa"}
                                  %input#e06b3ab3e3fa.form-check-input{:type => "checkbox"}/
                                  %span.form-check-sign
                                %span
                            %td Unfollow 5 enemies from twitter
                            %td.td-actions.text-right
                              %button.btn-simple.btn.btn-xs.btn-info.has-tooltip{:type => "button"}
                                %i.fa.fa-edit
                              %button.btn-simple.btn.btn-xs.btn-danger.has-tooltip{:type => "button"}
                                %i.fa.fa-times
                      .footer
                        %hr/
                        .stats
                          %i.fa.fa-history
                          Updated 3 minutes ago
                    / 
          -#.content
            .container-fluid
              .row
                .col-md-8
                  .card
                    .card-header
                      %h4.card-title Edit Profile
                    .card-body
                      %form
                        .row
                          .col-md-5
                            .form-group
                              %label.control-label
                                Company
                              %input.form-control{"aria-describedby" => "addon-right addon-left", :disabled => "disabled", :placeholder => "Paper dashboard", :type => "text"}/
                          .col-md-3
                            .form-group
                              %label.control-label
                                Username
                              %input.form-control{"aria-describedby" => "addon-right addon-left", :placeholder => "Username", :type => "text"}/
                          .col-md-4
                            .form-group
                              %label.control-label
                                Username
                              %input.form-control{"aria-describedby" => "addon-right addon-left", :placeholder => "Email", :type => "email"}/
                        .row
                          .col-md-6
                            .form-group
                              %label.control-label
                                First Name
                              %input.form-control{"aria-describedby" => "addon-right addon-left", :placeholder => "First Name", :type => "text"}/
                          .col-md-6
                            .form-group
                              %label.control-label
                                Last Name
                              %input.form-control{"aria-describedby" => "addon-right addon-left", :placeholder => "Last Name", :type => "text"}/
                        .row
                          .col-md-12
                            .form-group
                              %label.control-label
                                Address
                              %input.form-control{"aria-describedby" => "addon-right addon-left", :placeholder => "Home Address", :type => "text"}/
                        .row
                          .col-md-4
                            .form-group
                              %label.control-label
                                City
                              %input.form-control{"aria-describedby" => "addon-right addon-left", :placeholder => "City", :type => "text"}/
                          .col-md-4
                            .form-group
                              %label.control-label
                                Country
                              %input.form-control{"aria-describedby" => "addon-right addon-left", :placeholder => "Country", :type => "text"}/
                          .col-md-4
                            .form-group
                              %label.control-label
                                Postal Code
                              %input.form-control{"aria-describedby" => "addon-right addon-left", :placeholder => "ZIP Code", :type => "number"}/
                        .row
                          .col-md-12
                            .form-group
                              %label About Me
                              %textarea.form-control.border-input{:placeholder => "Here can be your description", :rows => "5"}
                        .text-center
                          %button.btn.btn-info.btn-fill.float-right{:type => "submit"}
                            Update Profile
                        .clearfix
                .col-md-4
                  .card.card-user
                    .card-image
                      %img{:alt => "...", :src => "/assets/img/cover.jpg"}/
                    .card-body
                      .author
                        %a{:href => "#"}
                          %img.avatar.border-gray{:alt => "...", :src => "/assets/img/profile.jpg"}/
                          %h4.title
                            Mike Andrew
                            %br/
                            %small michael24
                      %p.description.text-center
                        "Lamborghini Mercy
                        %br/
                        Your chick she so thirsty
                        %br/
                        I'm in that two seat Lambo"
                    .card-footer
                      %hr/
                      .text-center
                        %button.btn.btn-simple{:href => "#"}
                          %i.fa.fa-facebook-square
                        %button.btn.btn-simple{:href => "#"}
                          %i.fa.fa-twitter
                        %button.btn.btn-simple{:href => "#"}
                          %i.fa.fa-google-plus-square
          -#.content
            .container-fluid
              .row
                .col-12
                  .card
                    / 
                    .card-header
                      %h4.card-title Striped Table with Hover
                      %p.card-category Here is a subtitle for this table
                    .card-body
                      .table-responsive
                        %table.table.table-hover.table-striped
                          %thead
                            %th Id
                            %th Name
                            %th Salary
                            %th Country
                            %th City
                          %tbody
                            %tr
                              %td 1
                              %td Dakota Rice
                              %td $36.738
                              %td Niger
                              %td Oud-Turnhout
                            %tr
                              %td 2
                              %td Minerva Hooper
                              %td $23,789
                              %td Curaao
                              %td Sinaai-Waas
                            %tr
                              %td 3
                              %td Sage Rodriguez
                              %td $56,142
                              %td Netherlands
                              %td Baileux
                            %tr
                              %td 4
                              %td Philip Chaney
                              %td $38,735
                              %td Korea, South
                              %td Overland Park
                            %tr
                              %td 5
                              %td Doris Greene
                              %td $63,542
                              %td Malawi
                              %td Feldkirchen in Krnten
                    / 
                .col-12
                  .card.card-plain
                    / 
                    .card-header
                      %h4.card-title Table on Plain Background
                      %p.card-category Here is a subtitle for this table
                    .card-body
                      .table-responsive
                        %table.table.table-hover
                          %thead
                            %th Id
                            %th Name
                            %th Salary
                            %th Country
                            %th City
                          %tbody
                            %tr
                              %td 1
                              %td Dakota Rice
                              %td $36.738
                              %td Niger
                              %td Oud-Turnhout
                            %tr
                              %td 2
                              %td Minerva Hooper
                              %td $23,789
                              %td Curaao
                              %td Sinaai-Waas
                            %tr
                              %td 3
                              %td Sage Rodriguez
                              %td $56,142
                              %td Netherlands
                              %td Baileux
                            %tr
                              %td 4
                              %td Philip Chaney
                              %td $38,735
                              %td Korea, South
                              %td Overland Park
                            %tr
                              %td 5
                              %td Doris Greene
                              %td $63,542
                              %td Malawi
                              %td Feldkirchen in Krnten
                    / 
          -#%footer.footer
            .container-fluid
              -#%nav
                %ul.footer-menu
                  %li
                    %a.nav-item.active{:href => "#"} Dashboard
              -#.copyright.text-center
                 Coded with
                %i.fa.fa-heart.heart
                by
                = succeed "." do
                  %a{:href => "#", :target => "_blank"} Cristi Jora
                = succeed "." do
                  %a{:href => "#", :target => "_blank"} Creative Tim
    = render 'app/dashboard/dashboard/layouts/scripts'
