!!!
%html.no-js{:lang => "en"}
  %head
    = render 'app/layouts/head'
    %link{:href => "/assets/css/dashboard.css", :rel => "stylesheet"}/
    %link{:href => "/assets/css/dashboard-skin.css", :rel => "stylesheet"}/
  %body.hold-transition.skin-blue.sidebar-mini.fixed
<<<<<<< HEAD
<<<<<<< HEAD
    .loader
      = render 'app/front/loader/loader'
=======
>>>>>>> 30e2f9564e26b8c60df7a6a18208b065a377207b
=======
    .loader
      = render 'app/front/loader/loader'
>>>>>>> 95ff8e0146e95616a1ec5ced0b77cb077d7de3eb
    .wrapper
      %header.main-header
        = render 'app/dashboard/dashboard/layouts/header'
      %aside.main-sidebar
        = render 'app/dashboard/dashboard/layouts/aside'
      .content-wrapper
        = render 'app/dashboard/dashboard/transfers/show'

    %script{:src => "/assets/js/loader.js"}
    %script{:src => "/assets/js/navbar.js"}
    %script{:src => "/assets/js/dashboard.min.js"}
    %script{:src => "/assets/app/googlefontAsync.js"}
