.edit_perfile{style:"width: 100%; padding-top: 25px;"}
= simple_form_for @user, url: user_update_path, method: :post do |f|
  .container
    %h1 Editar Perfil
    %hr/
    .row

      .col-lg-9
        %h3="¡Hola! #{@user.name}"
        %form.form-horizontal{:role => "form"}
          .col-lg-6
            .form-group
              %label.control-label Nombre:
              = f.input :name, :autofocus => true, class: 'form-control', label: false

            .form-group
              %label.control-label Correo electrónico:
              = f.input :email, class: 'form-control', label: false
          .col-lg-6
            .form-group
              %label.control-label Identificación:
              = f.input :dni, class: 'form-control', label: false

            .form-group
              %label.control-label Teléfono:
              = f.input :phone, class: 'form-control', label: false

          .col-lg-6
            .form-group
              %label.control-label Contraseña
              = f.input :password, :autocomplete => 'off', class: 'form-control', label: false
          .col-lg-6
            .form-group
              %label.control-label Confirmar contraseña
              = f.input :password_confirmation, class: 'form-control', label: false

      .col-md-3
        .form-group
          %label Subir Imagen
          %center
            %img.avatar.img-circle{alt: "", src: current_user.avatar.url.nil? ? "/assets/img/user.png" : current_user.avatar.url}
            = f.input :avatar, as: :keppler_file, label: false

      .col-lg-12
        .form-group
          %input.btn.btn-primary{:type => "submit", :value => "Guadar"}/


%script{:src => "/assets/js/jquery-validate.js"}
%script{:src => "https://unpkg.com/sweetalert2@7.19.3/dist/sweetalert2.all.js"}
:javascript
  var notice = "#{notice}";

  if (notice == 'success'){
   swal({
    type: 'success',
    title: '¡Listo!',
    text: '¡Cambios guardados exitosamente!'
   })
  }
