%section.widget-banner#widget-banner
  .container
    .widget-banner__content
      .container
        .row.row-flex
          .col-lg-9
            %p
              %h5 Su búsqueda
              %p="Destino: #{@tour.title[@lang].titleize.truncate(100)}"
              -#%p="Hasta: #{@arrival_name.truncate(100)}"
              -#%p="Desde #{@locality[0]} > Hasta #{@locality[1]}"
          .col-lg-3
            %p
              %span
                %a.pull-right.link-widget
                  Volver a relizar la búsqueda


  .container.js-widget.js-hide-widget.widget-results
    .row
      .col-lg-12
        = render 'app/layouts/widget'

%section.reservation-tours#reservation-tours
  .container
    .gallary-header.text-center
      %h2
        Reserva de Tours
      %p
        Completa todos los datos para confirmar y pagar tu reserva.
  .box-reservation
    .container
      = simple_form_for @reservation, url: '/session_reservation_tour', method: :post do |f|
        .row.r__flex
          %input{value: @tour.id, type: 'hidden', name: 'reservationable_id'}
          %input{value: @seats, type: 'hidden', name: 'quantity_seats'}
          %input{value: @lang, type: 'hidden', name: 'lang'}
          %input{value: @currency, type: 'hidden', name: 'currency'}
          %input{value: SecureRandom.hex(4), type: 'hidden', name: 'invoice[][token]'}
          %input{value: @currency, type: 'hidden', name: 'invoice[][currency]'}
          .col-xs-12.col-sm-12.col-md-7.col-lg-8
            .reservation-data
              //Reservation Data
              = render 'app/front/reservations/tours/dates_reservations', f: f

              //Personal Data
              = render 'app/front/reservations/tours/dates_personal', f: f

              //Requests / Observations
              = render 'app/front/reservations/tours/requests_observations'

              //Billing Data
              = render 'app/front/reservations/tours/dates_billing'

              //Privacy Policy
              = render 'app/front/reservations/tours/dates_privacy_policy'

              //Cancellations Policy
              = render 'app/front/reservations/tours/dates_cancellations_policy'

              //Terms & Conditions
              = render 'app/front/reservations/tours/dates_terms_conditions'

          .col-xs-12.col-sm-12.col-md-5.col-lg-4
            // Reservation Summary
            -#.reservation-resumen
            = render 'app/front/reservations/tours/resumen'

    .container
      //Modal - Privacy Policy
      = render 'app/front/reservations/tours/modal/privacy_policy'

      //Modal - Cancellations Policy
      = render 'app/front/reservations/tours/modal/cancellations_policy'

      //Modal - Terms & Conditions
      = render 'app/front/reservations/tours/modal/terms_conditions'


:scss
  label.error-class{color: #e60707 !important;}

-# %script{:src => "http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"}
%script{:src => '/assets/app/jquery-validate.js'}

:javascript
  validateReservationTour('#new_reservation')
  validateWidgetForm('#search-input');

  $( '.link-widget' ).on( 'click', function() {
      $('.js-widget').removeClass('js-hide-widget');
      $('.js-widget').addClass('js-show-widget');
  });
  $(document).ready(function(){
      $("#js_privacyPolicy").click(function(){
        $("#modalPrivacyPolicy").modal();
      });
      $("#js_termsConditions").click(function(){
        $("#modalTermsConditions").modal();
      });
      $("#js_cancellationsPolicy").click(function(){
        $("#modalCancellationsPolicy").modal();
      });

  });
