-#%hr
%h3 Alojamiento
.row
  .col-lg-12
    .box-hotel-room
      %h4 Seleccione el tipo de hotel
    .set_room
      - @multidestination.multidestinationables.each do |multidestinationable|
        - if multidestinationable.status
          .col-xs-12.col-sm-4.col-md-12.col-lg-6.jshotelbox
            .row
              .col-lg-12.js-hotel
                .row
                  .box_hotel.row-flex
                    .icon-checked{style: "background-image: url(/assets/img/checked.svg)"}
                    .col-xs-12.col-md-6.col-lg-4
                      %label.btn.btn-hotel
                        %center
                          .icon-hotel{style: "background-image: url(/assets/img/hotel.svg)"}
                            %input.room.js-hotelRoom{name: "lodgment_multidestinationable", type: "radio", value: multidestinationable.lodgment_id}/
                    .col-xs-12.col-md-6.col-lg-8
                      %p.title-hotel= multidestinationable.lodgment.title[@lang]
                      -# %p
                      -#   = link_to 'Ver más información', '#' , class: 'js_detailsHotel', id: "modal_id_#{multidestinationable.id}", type: 'button'

.box_type_rooms.room-hidden.room-disabled
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .box-type-room
        %h4 Seleccione el tipo y cantidad de habitaciones
    .col-xs-4.col-sm-3.col-md-4.col-lg-2
      %label.btn.btn-room.js-boxRoom
        %center
          %input.type-room.js-typeRoom{name: 'room_single', type: "checkbox"}/
          .icon-room{style: "background-image: url(/assets/img/type-rooms/hab1.svg)"}
          %p Habitación
          %p Simple
          %p.price#room_single
        .quantity-type-room.js-quantityRoom.quantity-disabled
          .quantity-room{style: 'background: transparent;'}
            %center
              %select.form-control#select_single
                - 10.times do |i|
                  %option{ value: i+1}= i+1
            %input.js-square#single{type: 'hidden', name: "square_multidestination[][single]", type: "number", min: 1, placeholder:'1'}/
    .col-xs-4.col-sm-3.col-md-4.col-lg-2
      %label.btn.btn-room.js-boxRoom
        %center
          %input.type-room.js-typeRoom{name: 'room_doubles', type: "checkbox"}/
          .icon-room{style: "background-image: url(/assets/img/type-rooms/hab2.svg)"}
          %p Habitación
          %p Doble
          %p.price#room_doubles
        .quantity-type-room.js-quantityRoom.quantity-disabled
          .quantity-room{style: 'background: transparent;'}
            %center
              %select.form-control#select_doubles
                - 10.times do |i|
                  %option{ value: i+1}= i+1
            %input.js-square#doubles{type: 'hidden', name: "square_multidestination[][doubles]", type: "number", min: 1, placeholder:'1'}/
    .col-xs-4.col-sm-3.col-md-4.col-lg-2
      %label.btn.btn-room.js-boxRoom
        %center
          %input.type-room.js-typeRoom{name: 'room_triples', type: "checkbox"}/
          .icon-room{style: "background-image: url(/assets/img/type-rooms/hab3.svg)"}
          %p Habitación
          %p Triple
          %p.price#room_triples
        .quantity-type-room.js-quantityRoom.quantity-disabled
          .quantity-room{style: 'background: transparent;'}
            %center
              %select.form-control#select_triples
                - 10.times do |i|
                  %option{ value: i+1}= i+1
            %input.js-square#triples{type: 'hidden', name: "square_multidestination[][triples]", type: "number", min: 1, placeholder:'1'}/
    .col-xs-4.col-sm-3.col-md-4.col-lg-2
      %label.btn.btn-room.js-boxRoom
        %center
          %input.type-room.js-typeRoom{name: 'room_quadruples', type: "checkbox"}/
          .icon-room{style: "background-image: url(/assets/img/type-rooms/hab4.svg)"}
          %p Habitación
          %p Cuadruple
          %p.price#room_quadruples
        .quantity-type-room.js-quantityRoom.quantity-disabled
          .quantity-room{style: 'background: transparent;'}
            %center
              %select.form-control#select_quadruples
                - 10.times do |i|
                  %option{ value: i+1}= i+1
            %input.js-square#quadruples{type: 'hidden', name: "square_multidestination[][quadruples]", type: "number", min: 1, placeholder:'1'}/
    .col-xs-4.col-sm-3.col-md-4.col-lg-2
      %label.btn.btn-room.js-boxRoom
        %center
          %input.type-room.js-typeRoom{name: 'room_quintuples', type: "checkbox"}/
          .icon-room{style: "background-image: url(/assets/img/type-rooms/hab5.svg)"}
          %p Habitación
          %p Quintuple
          %p.price#room_quintuples
        .quantity-type-room.js-quantityRoom.quantity-disabled
          .quantity-room{style: 'background: transparent;'}
            %center
              %select.form-control#select_quintuples
                - 10.times do |i|
                  %option{ value: i+1}= i+1
            %input.js-square#quintuples{type: 'hidden', name: "square_multidestination[][quintuples]", type: "number", min: 1, placeholder:'1'}/
    .col-xs-4.col-sm-3.col-md-4.col-lg-2
      %label.btn.btn-room.js-boxRoom
        %center
          %input.type-room.js-typeRoom{name: 'room_sextuples', type: "checkbox"}/
          .icon-room{style: "background-image: url(/assets/img/type-rooms/hab6.svg)"}
          %p Habitación
          %p Sextuple
          %p.price#room_sextuples
        .quantity-type-room.js-quantityRoom.quantity-disabled
          .quantity-room{style: 'background: transparent;'}
            %center
              %select.form-control#select_sextuples
                - 10.times do |i|
                  %option{ value: i+1}= i+1
            %input.js-square#sextuples{type: 'hidden', name: "square_multidestination[][sextuples]", type: "number", min: 1, placeholder:'1'}/

    .col{style: 'visibility: hidden;'}
      %label.btn.btn-room.js-boxRoom
        %center
          %input.type-room.js-typeRoom{name: 'room_children', type: "checkbox"}/
          .icon-room{style: "background-image: url(/assets/img/type-rooms/room_children.svg)"}
          %p Habitación
          %p Niño
          %p.price#room_children
        .quantity-type-room.js-quantityRoom.quantity-disabled
          .quantity-room
            %input.js-square#children{type: 'hidden', name: "square_multidestination[][children]", type: "number", min: 1, value: @kids}/


//Solution to failure of hotel selection - User Experience (Bad)
:javascript
  
  //Hide the check icon
  $('.icon-checked').css('visibility', 'hidden');
  
  //Hotel selection by click
  $(".jshotelbox").click( 'change', function() {
    $(this).find('.js-hotelRoom').prop( "checked", true );    
    $('.box_hotel').removeClass('bg-active');
    $('.icon-checked').css('visibility', 'hidden');
      if( $(this).find('.js-hotelRoom').is(':checked') ) {
          // Hacer algo si el checkbox ha sido seleccionado
        $(this).find('.box_hotel').addClass('bg-active');
        $(this).find('.icon-checked').css('visibility', 'visible');
        $('.box_type_rooms').removeClass('room-hidden');
        $('.box_type_rooms').removeClass('room-disabled');
        $('.box_type_rooms').addClass('room-show');
        setTimeout(function () {
          $('.box_type_rooms').addClass('room-activated');
        }, 20);

      } else {
         $(this).find('.box_hotel').removeClass('bg-active');
      }
  });
  
  //Hide input hidden
  $('.js-square').hide();
  
  //Rooms selection by click
  $(".js-boxRoom").click( 'change', function() {
      if( $(this).find('.js-typeRoom').is(':checked') ) {
        $(this).find('.js-typeRoom').parents('label').addClass('bg-active');
        $(this).find('.quantity-type-room').removeClass('quantity-disabled').addClass('quantity-active');
      } else {
        $(this).find('.js-typeRoom').prop( "checked", false );  
        $(this).find('.js-typeRoom').parents('label').removeClass('bg-active');
        $(this).find('.quantity-type-room').removeClass('quantity-active').addClass('quantity-disabled');
      }
  });

  //Solution to failure of hotel selection - User Experience (Bad)



-#:javascript
  var adults = #{raw @adults};
  var kids   = #{raw @kids};
  var currency = "#{raw @currency.upcase}";
  var coin     = "#{raw @currency.downcase}";
  var lodgments_ruby = #{raw @lodgments.to_json};

-#%script{:src => "https://unpkg.com/sweetalert2@7.19.3/dist/sweetalert2.all.js"}
-#%script{src: "/assets/js/hotel-room.js"}
