%h3= t('receptivo.reservation_multidestinations.title_date_billing')
%br
%br
%p= t('receptivo.reservation_multidestinations.notification_billing')
- if user_signed_in?
  .row
    .col-lg-6
      .form-group.form-custom
        %label{for: "name"}= t('receptivo.reservation_multidestinations.input_name')
        %input#name_user.form-control{disabled: 'disabled', value: current_user.name, placeholder: t('receptivo.reservation_multidestinations.input_name')}/
      .form-group
        %label{for: "phone"}= t('receptivo.reservation_multidestinations.input_phone')
        %input#phone_user.form-control{disabled: 'disabled', value: current_user.phone, placeholder: t('receptivo.reservation_multidestinations.input_phone')}/
    .col-lg-6
      .form-group.form-custom
        %label{for: "dni"}= t('receptivo.reservation_multidestinations.input_id')
        %input#dni_user.form-control{disabled: 'disabled', value: current_user.dni, placeholder: t('receptivo.reservation_multidestinations.input_id')}/
      .form-group
        %label.title{for: "email"}= t('receptivo.reservation_multidestinations.input_email')
        %input#email_user.form-control{disabled: 'disabled', value: current_user.email}/
    .col-lg-12
      .form-group
        %label{for: ""}= t('receptivo.reservation_multidestinations.input_address')
        %textarea{placeholder: t('receptivo.reservation_multidestinations.input_address'), id: "", class:"form-control", name: "invoice[][address]", rows: "4", style:"width: 100%;"}
- else
  .row
    .col-lg-6
      .form-group.form-custom
        %label{for: "name"}= t('receptivo.reservation_multidestinations.input_name')
        %input#name_user.form-control{name: 'user[][name]', type: "text", placeholder: t('receptivo.reservation_multidestinations.input_name')}/
      .form-group
        %label{for: "phone"}= t('receptivo.reservation_multidestinations.input_phone')
        %input#phone_user.form-control{name: 'user[][phone]', type: "text", placeholder: t('receptivo.reservation_multidestinations.input_phone')}/
    .col-lg-6
      .form-group.form-custom
        %label{for: "dni"}= t('receptivo.reservation_multidestinations.input_id')
        %input#dni_user.form-control{name: 'user[][dni]', type: "text", placeholder: t('receptivo.reservation_multidestinations.input_id')}/
      .form-group
        %label{for: "email"}= t('receptivo.reservation_multidestinations.input_email')
        %input#email_user.form-control{name: 'user[][email]', type: "email", placeholder: t('receptivo.reservation_multidestinations.input_email')}/
    .col-lg-12
      .form-group
        %label{for: "address"}= t('receptivo.reservation_multidestinations.input_address')
        %textarea.form-control{placeholder: t('receptivo.reservation_multidestinations.input_address'), id: "", class:"form-control", name: "invoice[][address]", rows: "4", style:"width: 100%;"}
