%h3= t('receptivo.reservation_multidestinations.title_dates_reservation')
.row
  .col-lg-6
    .form-group.form-custom
      %label{for: "name"}= t('receptivo.reservation_multidestinations.name')
      %input.form-control.custom_input{name: 'travellers[][name]', type: "text", placeholder: "Ingrese nombre"}/
  .col-lg-6
    .form-group.form-custom
      %label{:for => "origin_multidestination_booking"}= t('receptivo.reservation_multidestinations.multidestinations')
      %input{name: 'reservation[origin]', value: @multidestination.title[@lang].titleize, type: 'hidden'}
      %input.google-input.form-control.custom_input{disabled: 'disabled', value: @multidestination.title[@lang].titleize}
  .col-lg-4
    // Inputs Datepicker Fecha Origen (Ida) - Fecha Destino (Vuelta)
    .form-group.form-custom#fecha_origen_ida
      %label{:for => ""}= t('receptivo.reservation_multidestinations.travel_date')
      %input{name: 'reservation[flight_origin]', value: @flight_origin_multidestination_picker, type: 'hidden'}
      %input.form-control.custom-input.custom_input{name: 'flight_origin_multidestination_picker', id: 'flight_origin_multidestination_picker', autocomplete: 'off', disabled: 'disabled', value: @flight_origin_multidestination_picker}/
    // End -- Inputs Datepicker Fecha Origen (Ida) - Fecha Destino (Vuelta)
  .col-lg-4
    .form-group.form-custom
      %label{:for => "adults"}= t('receptivo.reservation_multidestinations.adult_amount')
      %input{name: 'reservation[quantity_adults]', value: @adults, type: 'hidden'}
      %input.form-control.custom_input{value: @adults, disabled: 'disabled'}
  .col-lg-4 
    .form-group.form-custom
      %label{:for => "kids"}= t('receptivo.reservation_multidestinations.children_amount')
      %input{name: 'reservation[quantity_kids]', value: @kids, type: 'hidden'}
      %input.form-control.custom_input{value: @kids, disabled: 'disabled'}




