.row
  .col-lg-12
    .reservation-resumen
      .sticky
        %h3  Resumen
        %br/
        %br/
        %ul.list-group.list-summary.mb-3
          %li.list-group-item.d-flex.justify-content-between.lh-condensed
            %div
              %h6.my-0 Multidestino
              %small.text-muted= @multidestination.title[@lang].titleize
          %li.list-group-item.d-flex.justify-content-between.lh-condensed
            %div
              %h6.my-0 Fecha de Viaje
              %small.text-muted= params[:flight_origin_multidestination_picker]

          %li.list-group-item.d-flex.justify-content-between.lh-condensed
            %div
              %h6.my-0 Adultos - Niños
              %small.text-muted= "#{@adults} - #{@kids}"

          %li.list-group-item.d-flex.justify-content-between
            %div
              %h6.my-0 Sub-total
              %small.text-muted -----
              %br
              %small.text-muted#price_single Hab. single (0)     x $ 0.0 = $ 0.0
              %br
              %small.text-muted -----
              %br
              %small.text-muted#price_doubles Hab. doubles (0)    x $ 0.0 = $ 0.0
              %br
              %small.text-muted -----
              %br
              %small.text-muted#price_triples Hab. triples (0)    x $ 0.0 = $ 0.0
              %br
              %small.text-muted -----
              %br
              %small.text-muted#price_quadruples Hab. quadruples (0) x $ 0.0 = $ 0.0
              %br
              %small.text-muted -----
              %br
              %small.text-muted#price_quintuples Hab. quintuples (0) x $ 0.0 = $ 0.0
              %br
              %small.text-muted -----
              %br
              %small.text-muted#price_sextuples Hab. sextuples (0)  x $ 0.0 = $ 0.0
              %br
              %small.text-muted -----

              - if @kids.positive?
                %br
                %small.text-muted#price_children= "Cant. Niños (#{@kids}) x $ 0.0 = $ 0.0"
                %br
                %small.text-muted -----
                %br
                %small.text-muted= "Total #{@seats} personas"
          %li.list-group-item.d-flex.justify-content-between
            %div
              %span
                Precio Total
              %strong#price_total{style:"float: right; color:#4e4e56;"}
                = @currency.upcase
                = number_to_currency(0, locale: @locale)
        .box-btn-payment
          %br/
          %span
            %p.text-center.title-reser ¡Cotiza tu reserva!
          %br/
          %center
            .about-btn.travel-mrt-0
              %button.about-view.travel-btn.btn-reser Cotizar
