.container-fluid
  .row
    .col-12.col-xl-8
      .card
        .card-header
          %h4.card-title Detalles de la Reservaci칩n 
          -#%p.card-category Lorem ipsum dolor sit amet consectetur
        .card-body
          .row
            .col-12.col-xl-8
              %ul.list-group.list-group-flush
                %li.list-group-item 
                  Orden:
                  %span= @reservation.id
                %li.list-group-item 
                  Factura:
                  %span= @reservation.invoice.token
                %li.list-group-item 
                  Moneda:
                  %span= @reservation.invoice.currency.upcase
                %li.list-group-item 
                  Costo:
                  - if @reservation.invoice.amount.nil?
                    %span Por cotizar
                  - else
                    = number_to_currency(@reservation.invoice.amount, locale: @locale)
                %li.list-group-item 
                  Estatus:
                  %span.badge.badge-pill{class: @reservation.invoice.status_class?}= @reservation.invoice.status
                %li.list-group-item 
                  Pago:
                  - if @reservation.invoice.amount.nil?
                    %span Por cotizar
                  - elsif @reservation.invoice.status_pay? :pending
                    %a{href: checkout_elp_redirect_path(@reservation.id, @reservation.invoice.id), target: '_blank'}
                      %button.btn.btn-primary.btn-xs{:type => "button"}
                        %span
                          %i.icon-credit-card.icons
                        Pagar
                  - else
                    %span Pagado
                %li.list-group-item 
                  Usuario:
                  %span= @reservation.user.email
                %li.list-group-item 
                  Cotizante:
                  %span= @reservation.travellers.first.name
                %li.list-group-item
                  Multidestino:
                  %span= truncate(@reservation.origin, :length => 25)
                %li.list-group-item 
                  Fecha Reservaci칩n:
                  %span= @reservation.flight_origin.blank? ? '-----------' : @reservation.flight_origin
                %li.list-group-item 
                  Cantidad Adultos:
                  %span= @reservation.quantity_adults
                %li.list-group-item 
                  Cantidad Ni침os:
                  %span= @reservation.quantity_kids
                %li.list-group-item 
                  Observaci칩n:
                  %span= @reservation.description.blank? ? '-----------' : @reservation.description
            .col-12.col-xl-4
              %ul.list-group.list-group-flush
                %li.list-group-item 
                  %h5.title Cover
                  %img{src: @reservation.reservationable.banner.url, class: 'rounded img-multidestination img-fluid'}  
                  -#%img{src: @reservation.reservationable.banner.url, class: 'rounded img-multidestination img-fluid'}  
        .card-footer
:scss
  .img-multidestination{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
  }
