-#conditioned snippet - variable in the controller
.container-fluid
  .row
    .empty-states
      - if current_user.reservations_where('multidestination').blank?
        .col-12
          %center
            .image-ico
              %img{:alt => "", :src => "/assets/img/orders.svg", :class => "img-responsive"}/
            -#%i.icon-directions.icons
        .col-12
          .error
            %center
              %p ¡Lo sentimos!
              %p No hemos encontrado órdenes de tours.
      - else
        .col-12
          .card
            /
            .card-header
              %h4.card-title Órdenes de Multidestinos
              -#%p.card-category Lorem ipsum dolor sit amet consectetur adipisicing elit.
            .card-body
              .table-responsive
                %table.table.table-hover.table-striped
                  %thead
                    %th N° Orden
                    %th N° Factura
                    %th Costo Cotización
                    %th Estatus Reserva
                    %th Cotizante
                    %th Multidestino
                    %th Fecha de Reserva
                    %th Cant. Adultos
                    %th Cant. Niños
                  %tbody
                  - current_user.reservations_where('multidestination').each do |reservation|
                    %tr
                      %td= reservation.id
                      %td= reservation.invoice.token
                      %td= number_to_currency(reservation.invoice.amount, locale: @locale)
                      %td{style:"text-align: center;"}
                        %span.label{class: reservation.invoice.status_class?}= reservation.invoice.status
                      %td= reservation.travellers.first.try(:name)
                      %td= truncate(reservation.origin, :length => 25)
                      %td= reservation.flight_origin
                      %td= reservation.quantity_adults
                      %td= reservation.quantity_kids
