.container-fluid
  .row
    .col-12.col-lg-12.col-xl-8
      .card
        .card-header
          %h4.card-title Facturación de la Reservación
        .card-body
          .row
            .col-lg-12
              %section.invoice-checkout#invoice-checkout
                .col-lg-12
                  .box-body.box-body-no-padding
                    .invoice-transfers__box
                      .row
                        .col-md-12
                          .row.d-none.d-lg-flex.d-xl-flex
                            .col-md-2
                              %img{:alt => "", :src => "/assets/img/isotipo-receptivo-colombia-invoice.svg", :width => "60px"}/
                            .col-md-6
                              %h2{style:'margin:0;'} Receptivo Colombia
                              %p Operador turístico - Bogotá, Colombia
                            .col-md-4
                              %h3.text-right{style:'margin:0;'} N° de Orden
                              %h3.text-right= @reservation.id
                          .row.d-lg-none.d-xl-noneyy
                          %hr/
                          .row
                            .col-xs-12.col-lg-6
                              %address
                                %strong Datos del Cotizante
                                %br/
                                = @reservation.user.name
                                %br/
                                = @reservation.user.phone.blank? ? '-----------' : @reservation.user.phone
                                %br/
                                = @reservation.user.email
                                %br/
                                = @reservation.invoice.address.blank? ? '-----------' : @reservation.invoice.address
                          .row
                            .col-xs-12.col-lg-3
                              %address
                                %strong Método de Pago
                                %br/
                                Pĺataforma: EnLineaPagos
                                %br/
                            .col-xs-12.col-lg-3
                              %address
                                %strong Tipo de Moneda
                                %br/
                                = @reservation.invoice.currency.upcase
                                %br/
                                %br/
                            .col-xs-12.col-lg-3
                              %address
                                %strong Estatus Reserva
                                %br/
                                %span.badge.badge-pill{class: @reservation.order.status_class?}= t("keppler.messages.#{@reservation.order.status}")
                                -#Status / Color
                                  Green / Approved  ---- .btn-success
                                  Red  / Canceled   ---- .btn-danger
                                  Yellow / Pending  ---- .btn-warning
                                %br/
                                %br/

                            .col-xs-12.col-lg-3
                              %address
                                %strong Estatus Pago
                                %br/
                                %span.badge.badge-pill{class: @reservation.order.status_pay_class?}= t("keppler.messages.#{@reservation.order.status_pay}")
                                %br/
                                %br/

                            .col-xs-12.col-lg-3
                              %address
                                %strong N°. Orden ELP
                                %br/
                                = @reservation.invoice.token
                                %br/
                                %br/
                          .row
                            .col-xs-12.col-lg-12
                              %h4.text-center Información del Tours
                              %br/
                            .col-xs-12.col-lg-4
                              %address
                                %strong Origen
                                %br/
                                = @reservation.origin.blank? ? '-----------' : @reservation.origin
                                %br/
                            .col-xs-12.col-lg-4
                              %address
                                %strong Fecha de Ida
                                %br/
                                = @reservation.flight_origin.blank? ? '-----------' : @reservation.flight_origin
                                %br/
                            .col-xs-12.col-lg-4
                              %address
                                %strong Adultos/Niños
                                %br/
                                = "#{@reservation.quantity_adults.to_i} / #{@reservation.quantity_kids.to_i}"
                                %br/
                            .col-xs-12.col-lg-12
                              %address
                                %strong Observaciones
                                %br/
                                = @reservation.description.blank? ? '-----------' : @reservation.description
                                %br
                            .col-xs-12.col-lg-12
                              %strong Datos de los Viajeros
                              %br/
                              %table.table.table-striped#travellers
                                -#%thead
                                  %tr
                                    %th
                                %tbody
                                  - @reservation.travellers.each_with_index do |traveller, index|
                                    %tr.list-row{style:'background-color: transparent !important;'}
                                      %td.display-value.fs-body-1.tc-black-2{style:'border-top: 1px solid transparent !important;'}
                                      = traveller.name.blank? ? '-----------' : "#{traveller.name.titleize} - #{traveller.dni}"
                          .row
                            .col-xs-12.col-lg-12
                              .panel.panel-default
                                .panel-heading
                                  %h3.panel-title
                                    %strong Descripción
                                .panel-body
                                  .table-responsive
                                    %table.table.table-condensed
                                      %thead
                                        %tr
                                          %td.text-center
                                            %strong Concepto
                                          %td.text-center
                                            %strong Precio
                                          %td.text-center
                                            %strong Cantidad
                                          %td.text-center
                                            %strong Total
                                      %tbody
                                        %tr
                                          %td= @reservation.reservationable.title['es']
                                          %td.text-center
                                            Adultos
                                            = "(#{@reservation.quantity_adults})"
                                            = number_to_currency(@reservation.reservationable.price_adults[@reservation.invoice.currency], locale: @locale)
                                            = "/"
                                            Niños
                                            = "(#{@reservation.quantity_kids})"
                                            = number_to_currency(@reservation.reservationable.calculate_kids(@reservation.invoice.currency), locale: @locale)
                                          %td.text-center= @reservation.quantity_kids.to_i + @reservation.quantity_adults.to_i
                                          %td.text-right= number_to_currency(@reservation.order.price_total_pax.to_f, locale: @locale)
                            - if @type_search == 'agency'
                              .col-md-12
                                .panel.panel-default
                                  .panel-heading
                                    %h3.panel-title
                                      %strong Porcentajes de Agencia
                                  .panel-body
                                    .table-responsive
                                      %table.table.table-condensed
                                        %thead
                                          %tr
                                            %td.text-center
                                              %strong Concepto
                                            %td.text-center
                                              %strong Valor
                                            %td.text-center
                                              %strong Subtotal
                                            %td.text-center
                                              %strong Total
                                        %tbody
                                          %tr
                                            %td.text-center Comisión
                                            %td.text-center= "#{@reservation.order.comission} %"
                                            %td.text-center= number_to_currency(@reservation.order.price_comission, locale: @locale)
                                            %td.text-center -----

                                          %tr
                                            %td.text-center Prestación
                                            %td.text-center= "#{@reservation.order.lending} %"
                                            %td.text-center= number_to_currency(@reservation.order.price_lending, locale: @locale)
                                            %td.text-center -----

                                          %tr
                                            %td.text-center Total PAX
                                            %td.text-center -----
                                            %td.text-center -----
                                            %td.text-center= number_to_currency(@reservation.order.price_total_pax, locale: @locale)

                                          %tr
                                            %td.text-center Total Agencia
                                            %td.text-center -----
                                            %td.text-center -----
                                            %td.text-center= number_to_currency(@reservation.order.price_total_agency, locale: @locale)

:scss
  .img-tour{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
  }
