.container-fluid
  .row
    .col-12.col-lg-12.col-xl-8
      .card
        .card-header
          %h4.card-title Facturación de la Reservación
        .card-body
          .row
            .col-12
              %section.invoice-checkout#invoice-checkout
                .container
                  .col-md-12
                    .invoice-checkout__box
                      .row
                        .col-md-12
                          .row.d-none.d-lg-flex.d-xl-flex
                            .col-md-2
                              %img{:alt => "", :src => "/assets/img/isotipo-receptivo-colombia-invoice.svg", :width => "60px"}/
                            .col-md-6
                              %h2{style:'margin:0;'} Receptivo Colombia
                              %p Operador turístico - Bogotá, Colombia
                            .col-md-4
                              %h3.text-right{style:'margin:0;'} N° de Orden
                              %h3.text-right= @reservation.id
                          .row.d-lg-none.d-xl-none
                            .col-3.col-sm-2
                              %img{:alt => "", :src => "/assets/img/isotipo-receptivo-colombia-invoice.svg", :width => "60px"}/
                            .col-9.col-sm-7
                              %h4.text-center{style:'margin:0;'} Receptivo Colombia
                              %p.text-center Operador turístico - Bogotá, Colombia
                            .col-12.col-sm-3
                              %h5.text-right N° de Orden
                              %h5.text-right= @reservation.id
                          %hr/
                          .row
                            .col-12.col-md-3
                              %address
                                %strong Cotizante
                                %br/
                                = @reservation.user.name
                                %br/
                            .col-12.col-md-3
                              %address
                                %strong E-mail
                                %br/
                                = @reservation.user.email
                                %br/
                            .col-12.col-md-3
                              %address
                                %strong Tipo de Moneda
                                %br/
                                = @reservation.invoice.currency.upcase
                                %br/
                            .col-12.col-md-3
                              %address
                                %strong N°. Factura
                                %br/
                                = @reservation.invoice.token
                                %br/
                          .row
                            .col-12.col-md-4
                              %address
                                %strong Tipo de Moneda
                                %br/
                                = @reservation.invoice.currency.upcase
                                %br/
                            .col-12.col-md-4
                              %address
                                %strong Método de Pago
                                %br/
                                Pĺataforma: EnLineaPagos
                                %br/
                            .col-12.col-md-4
                              %address
                                %strong Estatus
                                %br/
                                %span.badge.badge-pill{class: @reservation.order.status_class?}= t("keppler.messages.#{@reservation.order.status}")
                                %br/
                          .row
                            .col-12.col-md-12
                              %h5.text-center Información del Tours
                              %br/
                            .col-12.col-md-3
                              %address
                                %strong Tours
                                %br/
                                = truncate(@reservation.origin, :length => 25)
                                %br/
                            .col-12.col-md-3
                              %address
                                %strong Fecha de Reservación
                                %br/
                                = @reservation.flight_origin.blank? ? '-----------' : @reservation.flight_origin
                                %br/
                            .col-12.col-md-3
                              %address
                                %strong Pasajeros
                                %br/
                                = @reservation.travellers.count
                                %br/
                            .col-12.col-md-3
                              %address
                                %strong Adultos/Niños
                                %br/
                                = "#{@reservation['quantity_adults'].to_i} / #{@reservation['quantity_kids'].to_i}"
                                %br/
                            .col-12.col-md-12
                              %address
                                %strong Observación
                                %br/
                                = @reservation.description.blank? ? '-----------' : @reservation.description
                                %br/
                            .col-12.col-md-4
                              %strong Viajeros
                              %ul.list-group.list-group-flush
                                - @reservation.travellers.each do |traveller|
                                  %li.list-group-item
                                    %span="* #{traveller.name} -- #{traveller.dni}"
                          .row
                            .col-12.col-md-12
                              .card
                                .card-header.text-center
                                  %strong Descripción
                                .card-body
                                  %table.table.table-hover.table-striped
                                    %thead
                                      %tr
                                        %th
                                          %strong Concepto
                                        %th
                                          %strong Precio
                                        %th
                                          %strong Cantidad (Adultos/Niños)
                                        %th
                                          %strong Total
                                    %tbody
                                      %tr
                                        %td= truncate(@reservation.origin, :length => 25)
                                        -# %td= number_to_currency(@reservation.reservationable.price_adults['usd'], locale: @locale)
                                        %td= number_to_currency(@reservation.order.price_total_pax, locale: @locale)
                                        %td= "#{@reservation['quantity_adults'].to_i} / #{@reservation['quantity_kids'].to_i}"
                                        %td= number_to_currency(@reservation.order.price_total_pax, locale: @locale)
                                .card-footer
                          .row
                            .col-12.col-md-12.d-flex.justify-content-center
                              - if @reservation.invoice.amount.nil? || current_user.has_role_agentable?
                                %a
                                  %button.btn.btn-warning.btn-lg{:type => "button"}
                                    Por cotizar
                              - elsif @reservation.order.status_pay? :pending
                                %a{href: checkout_elp_redirect_path(@reservation.id, @reservation.invoice.id), target: '_blank'}
                                  %button.btn.btn-primary.btn-lg{:type => "button"}
                                    Pagar
                              - else
                                %a
                                  %button.btn.btn-success.btn-lg{:disabled => "disabled", :type => "button"} Primary button
                                  Pagado
                            .card-footer

                          .row
                            .col-md-12
                              .panel.panel-default
                                .panel-heading
                                  %h3.panel-title
                                    %strong Porcentajes de Agencia
                                .panel-body
                                  .table-responsive
                                    %table.table.table-condensed
                                      %thead
                                        %tr
                                          %td.text-center
                                            %strong Concepto
                                          %td.text-center
                                            %strong Valor
                                          %td.text-center
                                            %strong Subtotal
                                          %td.text-center
                                            %strong Total
                                      %tbody
                                        %tr
                                          %td.text-center Comisión
                                          %td.text-center= "#{@reservation.order.comission} %"
                                          %td.text-center= number_to_currency(@reservation.order.price_comission, locale: @locale)
                                          %td.text-center -----

                                        %tr
                                          %td.text-center Prestación
                                          %td.text-center= "#{@reservation.order.lending} %"
                                          %td.text-center= number_to_currency(@reservation.order.price_lending, locale: @locale)
                                          %td.text-center -----

                                        %tr
                                          %td.text-center Total PAX
                                          %td.text-center -----
                                          %td.text-center -----
                                          %td.text-center= number_to_currency(@reservation.order.price_total_pax, locale: @locale)

                                        %tr
                                          %td.text-center Total Agencia
                                          %td.text-center -----
                                          %td.text-center -----
                                          %td.text-center= number_to_currency(@reservation.order.price_total_agency, locale: @locale)



-#TOUR
-#.container-fluid
  .row
    .col-12.col-xl-8
      .card
        .card-header
          %h4.card-title Detalles de la Reservación
        .card-body
          .row
            .col-12.col-xl-8
              .row
                %ul.list-group.list-group-flush
                  %li.list-group-item
                    Orden:
                    %span= @reservation.id
                  %li.list-group-item
                    Factura:
                    %span= @reservation.invoice.token
                  %li.list-group-item
                    Moneda:
                    %span= @reservation.invoice.currency.upcase


                  %li.list-group-item
                    Costo:
                    - if @reservation.invoice.amount.nil?
                      %span Por cotizar
                    - else
                      = number_to_currency(@reservation.invoice.amount, locale: @locale)



                  %li.list-group-item
                    Estatus:
                    %span.badge.badge-pill{class: @reservation.order.status_class?}= t("keppler.messages.#{@reservation.order.status}")



                  %li.list-group-item
                    Pago:
                    - if @reservation.invoice.amount.nil?
                      %span Por cotizar
                    - elsif @reservation.order.status_pay? :pending
                      %a{href: checkout_elp_redirect_path(@reservation.id, @reservation.invoice.id), target: '_blank'}
                        %button.btn.btn-primary.btn-xs{:type => "button"}
                          %span
                            %i.icon-credit-card.icons
                          Pagar
                    - else
                      %span Pagado
                  %li.list-group-item
                    Cotizante:
                    %span= @reservation.user.name
                  %li.list-group-item
                    Tour:
                    %span= truncate(@reservation.origin, :length => 25)
                  %li.list-group-item
                    Fecha Reservación:
                    %span= @reservation.flight_origin.blank? ? '-----------' : @reservation.flight_origin
                  %li.list-group-item
                    Pasajeros:
                    %span= @reservation.travellers.count
                  %li.list-group-item
                    Cantidad Adultos:
                    %span= @reservation.quantity_adults
                  %li.list-group-item
                    Cantidad Niños:
                    %span= @reservation.quantity_kids
                  %li.list-group-item
                    Observación:
                    %span= @reservation.description.blank? ? '-----------' : @reservation.description
            .col-12.col-xl-4
              .row
                %ul.list-group.list-group-flush
                  %li.list-group-item
                    %span.title Viajeros
                  - @reservation.travellers.each do |traveller|
                    %li.list-group-item
                      %span="#{traveller.name} -- #{traveller.dni}"
        .card-footer

:scss
  .img-tour{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
  }
