.container-fluid
  .row
    - if current_user.reservations_where('tour').blank?
      .col-12
        .empty-states
          .col-12
            %center
              .image-ico
                %img{:alt => "", :src => "/assets/img/orders.svg", :class => "img-responsive"}/
          .col-12
            .error
              %center
                %p ¡Lo sentimos!
                %p No hemos encontrado órdenes de tours.
    - else
      .col-12
        .card
          .card-header
            %h4.card-title Órdenes de Tours
          .card-body
            .table-responsive
              %table.table.table-hover.table-striped
                %thead
                  %th Orden
                  %th Factura
                  %th Monto
                  %th Estatus
                  %th ¿Pagado?
                  %th Detalles
                %tbody
                  - current_user.reservations_where('tour').reverse.each do |reservation|
                    %tr
                      %td= reservation.id
                      %td= reservation.invoice.token
                      - if reservation.invoice.amount.nil?
                        %td Por cotizar
                      - else
                        %td= number_to_currency(reservation.invoice.amount, locale: @locale)
                      %td
                        %span.badge.badge-pill{class: reservation.order.status_class?}= t("keppler.messages.#{reservation.order.status}").capitalize
                      %td
                        - if reservation.order.try(:details) == 'agency'
                          Por cotizar
                        - elsif reservation.invoice.amount.nil?
                          Por cotizar
                          Por cotizar
                        - elsif reservation.order.status_pay? :pending
                          %a{href: checkout_elp_redirect_path(reservation.id, reservation.invoice.id), target: '_blank'}
                            %button.btn.btn-primary.btn-xs{:type => "button"}
                              %span
                                %i.icon-credit-card.icons
                              Pagar
                        - else
                          %h6 Pagado
                      %td
                        %a{href: order_details_path(@lang, @currency, params[:module], reservation.id)}
                          %button.btn.btn-primary.btn-xs{:type => "button"}
                            %span
                              %i.icon-credit-card.icons
                            Detalles
