-# conditioned snippet - variable in the controller
.container-fluid
  .row
    - if current_user.reservations_where('tour').blank?
      .col-12
        .empty-states
          .col-12
            %center
              .image-ico
                %img{:alt => "", :src => "/assets/img/orders.svg", :class => "img-responsive"}/
              -#%i.icon-directions.icons
          .col-12
            .error
              %center
                %p ¡Lo sentimos!
                %p No hemos encontrado órdenes de tours.
    - else
      .col-12
        .card
          .card-header
            %h4.card-title Órdenes de Tours
            -#%p.card-category Lorem ipsum dolor sit amet consectetur adipisicing elit.
          .card-body
            .table-responsive
              %table.table.table-hover.table-striped
                %thead
                  %th Orden
                  %th Factura
                  %th Monto
                  %th Estatus
                  %th ¿Pagado?
                  %th Detalles
                %tbody
                  - current_user.reservations_where('tour').reverse.each do |reservation|
                    %tr
                      %td= reservation.id
                      %td= reservation.invoice.token
                      - if reservation.invoice.amount.nil?
                        %td Por cotizar
                      - else
                        %td= number_to_currency(reservation.invoice.amount, locale: @locale)
                      %td
                        %span.badge.badge-pill{class: reservation.invoice.status_class?}= reservation.invoice.status.capitalize
                      %td
                        - if reservation.invoice.amount.nil?
                          Por cotizar
                        - elsif reservation.invoice.status_pay? :pending
                          %a{href: checkout_elp_redirect_path(reservation.id, reservation.invoice.id), target: '_blank'}
                            %button.btn.btn-primary.btn-xs{:type => "button"}
                              %span
                                %i.icon-credit-card.icons
                              Pagar
                        - else
                          %h6 Pagado
                      %td
                        %a{href: order_details_path(@lang, @currency, params[:module], reservation.id)}
                          %button.btn.btn-primary.btn-xs{:type => "button"}
                            %span
                              %i.icon-credit-card.icons
                            Detalles

                    -#%td= reservation.invoice.currency.upcase
                    -#%td= number_to_currency(reservation.invoice.amount, locale: @locale)
                    -#%td{style:"text-align: center;"}
                      %span.label{class: reservation.invoice.status_class?}= reservation.invoice.status
                    -#%td{style:"text-align: center;"}
                      - if reservation.invoice.status_pay? :pending
                        %a{href: checkout_elp_redirect_path(reservation.id, reservation.invoice.id), target: '_blank'}
                          %button.btn.btn-primary.btn-xs{:type => "button"}
                            %span
                              %i.icon-credit-card.icons
                            Pagar
                      - else
                        %h6 Pagado
                    -#%td= reservation.reservationable.title[@lang]
                    -#%td= reservation.travellers.count
                    -#%td= reservation.quantity_adults
                    -#%td= reservation.quantity_kids
