%section#circuits.circuits
  - unless @results.blank?
    .banner-circuits{:style => "background-image: url(#{@results.banner.url})"}
      .banner-circuits--mask
        %h2= @results.title[@lang].titleize
        %p Duis aute irure dolor in velit esse cillum dolore eu fugiat nulla.

  .content-circuits
    .container
      .row
        - if @results.blank?
          .col-lg-12
            .box-results
              .image-search
                = image_tag '/assets/img/loupe.svg'
              .gallary-header.text-center
                %h2
                  ¡Lo sentimos! No hemos encontrado ningún resultado.
                %p
                  = link_to root_path do
                    Volver a relizar la búsqueda
        - else
          .col-xs-12.col-sm-12.col-md-6.col-lg-7
            .content-circuits__description
              %h3 Descripción
              .content-circuits__description--summary
                %p= raw @results.description[@lang]

            .content-circuits__button
              .row
                .col-lg-12
                  %center
                    %span.price
                      Costo por persona:
                      %h3.price
                        Desde
                        = number_to_currency(@results.low_price(@currency), locale: @locale)
                -# User click from a Cards - Condition
                -#.col-lg-offset-2.col-lg-8
                  .row
                    %center
                      .col-lg-6
                        .form-group
                          %inputl.form-control{:type => "text", :placeholder => "Fecha", disabled: 'disabled'}/
                      .col-lg-3
                        .form-group
                          %input.form-control{:type => "text", :placeholder => "Niños"}/
                      .col-lg-3
                        .form-group
                          %input.form-control{:type => "text", :placeholder => "Adulto"}/
                .col-lg-12
                  %center
                    = link_to reservations_path(@lang, @currency, 'circuit', @results, quantity_adults: @adults, quantity_kids: @kids, flight_origin_circuit_picker: @flight_origin_circuit_picker), class:'' do
                      %button.about-view.packages-btn.btn-reservation
                        solicitar
                        %br/
                        reservación

          .col-xs-12.col-sm-12.col-md-6.col-lg-5
            .content-.visible-xs.visible-sm
              %h3 Galería de Imágenes
            .content-circuits__image
              .carrusel-galery
                .galery_circuits
                  - @results.files.each_with_index do |image|
                    .galery__item
                      %img{:alt => "", :src => image.url, :class => "img-responsive"}/

          .col-xs-12.col-sm-12-col-md-12.col-lg-12
            .content-circuits__tab
              .content-circuits__tab--box
                %ul.nav.nav-tabs.nav-item-circuits
                  %li.active
                    %a{"data-toggle" => "tab", :href => "#information"} Información
                  %li
                    %a{"data-toggle" => "tab", :href => "#includes"} Incluye
                  %li
                    %a{"data-toggle" => "tab", :href => "#excludes"} No Incluye
                  %li
                    %a{"data-toggle" => "tab", :href => "#itinerary"} Itinerario
                  %li
                    %a{"data-toggle" => "tab", :href => "#rooms_prices"} Habitaciones
                .tab-content
                  #information.tab-pane.active
                    .box-information
                      %h4 Información
                      %p= raw @results.description[@lang]

                  #includes.tab-pane
                    .box-includes
                      %h4 Incluye
                      %p= raw @results.include[@lang]

                  #excludes.tab-pane
                    .box-excludes
                      %h4 No Incluye
                      %p= raw @results.exclude[@lang]

                  #itinerary.tab-pane
                    .box-description
                      %h4 Itinerario
                      %p= raw @results.itinerary[@lang]

                  #rooms_prices.tab-pane
                    .box-rooms_prices
                      %h4.text-center Habitaciones
                      .row
                        .col-lg-12
                          %table.table.table-hover.table-room
                            %thead
                              %tr
                                %th Categoría
                                %th Simple
                                %th Doble
                                %th Triple
                                %th Cuádruple
                                %th Quíntuple
                                %th Sextuple
                                %th Precio por niño
                            %tbody
                              - @results.circuitables.each do |circuitable|
                                - if circuitable.status
                                  %tr
                                    %td= circuitable.ranking.title[@lang]
                                    - circuitable.circuitable_rooms.sort_by{|room| room.id }.each do |room|
                                      - price = room.try("price_#{@currency}")
                                      - if price.zero? || room === false
                                        %td No Disponible
                                      - else
                                        %td= number_to_currency(room.try("price_#{@currency}"), locale: @locale)
