%section#seach-widget
  .container
    - unless @results.blank?
      .box-search
        .container
          .row
            .col-lg-9
              %p.result
                %span
                  Su búsqueda:
                %span
                  ="#{@results.title[@lang]}".titleize
            .col-lg-3
              %p
                %span
                  %a.pull-right.link-widget
                    Volver a relizar la búsqueda

  .container.js-widget.js-hide-widget.widget-results
    .row
      .col-lg-12
        = render 'app/layouts/widget'

%section#circuits.circuits
  .container
    - unless @results.blank?
      .gallary-header.text-center
        %h2= @results.title[@lang].titleize
        %p
          //Description circuits
          Duis aute irure dolor in velit esse cillum dolore eu fugiat nulla.
  .content-circuits
    .container
      .row
        - if @results.blank?
          .col-lg-12
            .box-results
              .image-search
                = image_tag '/assets/img/loupe.svg'
              .gallary-header.text-center
                %h2
                  ¡Lo sentimos! No hemos encontrado ningún resultado.
                %p
                  = link_to root_path do
                    Volver a relizar la búsqueda

        - else
          .col-lg-7
            .content-circuits__description
              %h3 Descripción del Circuitos
              .content-circuits__description--summary
                %p= raw @results.description[@lang]
            .content-circuits__data
              .row
                .col-lg-12
                  .row
                    .col-lg-4
                      .form-group
                        %label Fecha de Reserva
                        %input.form-control.custom-input{value: @flight_origin_circuit_picker, disabled: 'disabled'}/
                    .col-lg-4
                      .form-group
                        %label Cantidad de Adultos
                        %input.form-control.custom-input{value: @adults, disabled: 'disabled'}/
                    .col-lg-4
                      .form-group
                        %label Cantidad de Niños
                        %input.form-control.custom-input{value: @kids, disabled: 'disabled'}/
            %br
            .content-circuits__button
              %center
                = link_to reservations_path(@lang, @currency, 'circuit', @results, quantity_adults: @adults, quantity_kids: @kids, flight_origin_circuit_picker: @flight_origin_circuit_picker) do
                  %button.about-view.packages-btn.btn-reservation
                    Reservar
          .col-lg-5
            .content-circuits__image
              .carrusel-galery
                .galery
                  - @results.files.each_with_index do |image|
                    .galery__item
                      %img{:alt => "", :src => image.url, :class => "img-responsive"}/

          .content-circuits__tab
            .col-lg-12
              .content-circuits__tab--box
                %ul.nav.nav-tabs
                  %li.active
                    %a{"data-toggle" => "tab", :href => "#information"} Información
                  %li
                    %a{"data-toggle" => "tab", :href => "#includes"} Incluye
                  %li
                    %a{"data-toggle" => "tab", :href => "#excludes"} No Incluye
                  %li
                    %a{"data-toggle" => "tab", :href => "#itinerary"} Itinerario 
                  %li
                    %a{"data-toggle" => "tab", :href => "#terms"} Condiciones 
                  %li
                    %a{"data-toggle" => "tab", :href => "#rooms_prices"} Habitaciones/Precios
                .tab-content
                  #information.tab-pane.active
                    .box-includes
                      %h4 Información
                      %p= raw @results.description[@lang]

                  #includes.tab-pane
                    .box-includes
                      %h4 Incluye
                      %p= raw @results.include[@lang]

                  #excludes.tab-pane
                    .box-description
                      %h4 No Incluye
                      %p= raw @results.exclude[@lang]

                  #itinerary.tab-pane
                    .box-includes
                      %h4 Itinerario
                      %ul
                        %li 
                          %p
                            %i.icon-bag.icons
                            %span Dia 1:
                            Lorem ipsum dolor sit amet
                        %li 
                          %p
                            %i.icon-bag.icons
                            %span Dia 1:
                            Lorem ipsum dolor sit amet
                        %li 
                          %p
                            %i.icon-bag.icons
                            %span Dia 1:
                            Lorem ipsum dolor sit amet
                        %li 
                          %p
                            %i.icon-bag.icons
                            %span Dia 1:
                            Lorem ipsum dolor sit amet                                         

                  #terms.tab-pane
                    .box-includes
                      %h4 Condiciones 
                      -#%p= raw @results.include[@lang]
                      
                  #rooms_prices.tab-pane
                    .box-description
                      %h4 Habitaciones/Precios
                      -#%p= raw @results.exclude[@lang]
                      .row
                        .col-lg-12
                          %table.table.table-bordered
                            %thead
                              %tr
                                %th Hotel
                                %th Hab. Individual
                                %th Hab. Doble
                                %th Hab. Triple
                                %th Hab. Cuadruple
                            %tbody
                              %tr
                                %td Hotel Mare Mare Inn
                                %td $ 1000,00 USD
                                %td $ 2500,00 USD
                                %td $ 3800,00 USD
                                %td $ 5000,00 USD
                              %tr
                                %td Hotel Casa Blanca
                                %td $ 1200,00 USD
                                %td $ 2700,00 USD
                                %td $ 4000,00 USD
                                %td $ 5200,00 USD
                              %tr
                                %td Blue Emerald Inn
                                %td $ 1400,00 USD
                                %td $ 2900,00 USD
                                %td $ 4200,00 USD
                                %td $ 5600,00 USD
