%section#seach-widget
  .container
    - unless @results.blank?
      .box-search
        .container
          .row.row-flex
            .col-lg-9
              .row
                .items-search
                  .col-lg-12
                    %span
                      Su búsqueda:
                  .col-lg-4
                    %span
                      ="Destino: #{@results.title[@lang]}".titleize
                  .col-lg-4
                    %span
                      ="Fecha: #{@flight_origin_circuit_picker}"
                  .col-lg-2
                    %span
                      ="Adultos: #{@adults}"
                  .col-lg-2
                    %span
                      ="Niños: #{@kids}"

            .col-lg-3
              %p
                %span
                  %a.pull-right.link-widget
                    Volver a relizar la búsqueda

  .container.js-widget.js-hide-widget.widget-results
    .row
      .col-lg-12
        = render 'app/layouts/widget'

%section#circuits.circuits
  .container
    - unless @results.blank?
      .gallary-header.text-center
        %h2= @results.title[@lang].titleize
        %p
          //Description circuits
          Duis aute irure dolor in velit esse cillum dolore eu fugiat nulla.
  .content-circuits
    .container
      .row
        - if @results.blank?
          .col-lg-12
            .box-results
              .image-search
                = image_tag '/assets/img/loupe.svg'
              .gallary-header.text-center
                %h2
                  ¡Lo sentimos! No hemos encontrado ningún resultado.
                %p
                  = link_to root_path do
                    Volver a relizar la búsqueda

        - else
          .col-lg-7
            .content-circuits__description
              %h3 Descripción del Circuitos
              .content-circuits__description--summary
                %p= raw @results.description[@lang]
            -#.content-circuits__data
              .row
                .col-lg-12
                  .row
                    .col-lg-4
                      .form-group
                        %label Fecha de Reserva
                        %input.form-control.custom-input{value: @flight_origin_circuit_picker, disabled: 'disabled'}/
                    .col-lg-4
                      .form-group
                        %label Cantidad de Adultos
                        %input.form-control.custom-input{value: @adults, disabled: 'disabled'}/
                    .col-lg-4
                      .form-group
                        %label Cantidad de Niños
                        %input.form-control.custom-input{value: @kids, disabled: 'disabled'}/
            .content-circuits__button
              .row
                .col-lg-12
                  %center
                    %span.price
                      Costo por persona:
                      %h3.price COP $ 99999,00
                .col-lg-12
                  %center
                    = link_to reservations_path(@lang, @currency, 'circuit', @results, quantity_adults: @adults, quantity_kids: @kids, flight_origin_circuit_picker: @flight_origin_circuit_picker), class:'' do
                      %button.about-view.packages-btn.btn-reservation
                        Reservar

          .col-lg-5
            .content-circuits__image
              .carrusel-galery
                .galery_circuits
                  - @results.files.each_with_index do |image|
                    .galery__item
                      %img{:alt => "", :src => image.url, :class => "img-responsive"}/

          .content-circuits__tab
            .col-lg-12
              .content-circuits__tab--box
                %ul.nav.nav-tabs.nav-item-circuits
                  %li.active
                    %a{"data-toggle" => "tab", :href => "#information"} Información
                  %li
                    %a{"data-toggle" => "tab", :href => "#includes"} Incluye
                  %li
                    %a{"data-toggle" => "tab", :href => "#excludes"} No Incluye
                  %li
                    %a{"data-toggle" => "tab", :href => "#itinerary"} Itinerario
                  %li
                    %a{"data-toggle" => "tab", :href => "#rooms_prices"} Habitaciones
                .tab-content
                  #information.tab-pane.active
                    .box-information
                      %h4 Información
                      %p= raw @results.description[@lang]

                  #includes.tab-pane
                    .box-includes
                      %h4 Incluye
                      %p= raw @results.include[@lang]

                  #excludes.tab-pane
                    .box-excludes
                      %h4 No Incluye
                      %p= raw @results.exclude[@lang]

                  #itinerary.tab-pane
                    .box-description
                      %h4 Itinerario
                      %p= raw @results.itinerary[@lang]

                  #rooms_prices.tab-pane
                    .box-rooms_prices
                      %h4.text-center Habitaciones
                      .row
                        .col-lg-12
                          %table.table.table-hover.table-room
                            %thead
                              %tr
                                %th Hotel
                                %th Simple
                                %th Doble
                                %th Triple
                                %th Cuádruple
                                %th Quíntuple
                                %th Sextuple
                                %th Precio por niño
                            %tbody
                              - @results.circuitables.each do |circuitable|
                                - if circuitable.status
                                  %tr
                                    %td= circuitable.lodgment.title[@lang]
                                    - circuitable.circuitable_rooms.each do |room|
                                      - price = room.try("price_#{@currency}")
                                      - if price.zero? || room === false
                                        %td No Disponible
                                      - else circuitable.lodgment.avaible_room? room
                                        %td= number_to_currency(room.try("price_#{@currency}"), locale: @locale)
