%section#seach-widget
  .container
    - unless @results.blank?
      .box-search
        .container
          .row.row-flex
            .col-lg-9
              .row
                .items-search
                  .col-lg-12
                    %span
                      %h5= t('receptivo.widget.your_search')
                  .col-lg-4
                    %span
                      ="#{t('receptivo.widget.origin')}: #{@results.title[@lang]}".titleize
                  .col-lg-4
                    %span
                      ="#{t('receptivo.widget.date')}: #{@flight_origin_circuit_picker}"
                  .col-lg-2
                    %span
                      ="#{t('receptivo.widget.adults')}: #{@adults}"
                  .col-lg-2
                    %span
                      ="#{t('receptivo.widget.children')}: #{@kids}"

            .col-lg-3
              %p
                %span
                  %a.pull-right.link-widget
                    = t('receptivo.widget.redo_search')

  .container.js-widget.js-hide-widget.widget-results
    .row
      .col-lg-12
        = render 'app/layouts/widget'
%br
%br

%section#circuits.circuits
  - unless @results.blank?
    .banner-circuits{:style => "background-image: url(#{@results.banner.url})"}
      .banner-circuits--mask
        %h2= @results.title[@lang].titleize
        %p= @results.subtitle[@lang].titleize

  .content-circuits
    .container
      .row
        - if @results.blank?
          .col-lg-12
            .box-results
              .image-search
                = image_tag '/assets/img/loupe.svg'
              .gallary-header.text-center
                %h2
                  = t('receptivo.widget.not_found')
                %p
                  = link_to root_path do
                    = t('receptivo.widget.redo_search')
        - else
          .col-xs-12.col-sm-12.col-md-6.col-lg-7
            .content-circuits__description
              %h3= t('receptivo.messages.description')
              .content-circuits__description--summary
                %p= raw @results.description[@lang]

            .content-circuits__button
              .row
                .col-lg-12
                  %center
                    %span.price
                      = t('receptivo.messages.cost_per_person')
                      %h3.price
                        = t('receptivo.messages.from')
                        = number_to_currency(@results.low_price(@currency), locale: @locale)
                -# User click from a Cards - Condition
                - unless @flight_origin_circuit_picker
                  .col-lg-offset-2.col-lg-8
                    = search_form_for @q, url: "/#{@lang}/#{@currency}/reservations/circuit/#{@results.id}", html: {class: 'input-group', style:'width: 100%;', id: 'search-metadata', method: :get } do |f|
                      .row
                        %center
                          .col-lg-6
                            .form-group
                              %input.form-control{name: 'flight_circuit_data', id: 'flight_circuit_data', autocomplete: 'off', style:'border-radius: 6px;'}/
                          .col-lg-3
                            .form-group
                              %input.form-control{name: 'quantity_adults', :type => "number", min: 1, value: 2, :placeholder => "#{t('receptivo.widget.adults')}", style:'border-radius: 6px;' }/
                          .col-lg-3
                            .form-group
                              %input.form-control{name: 'quantity_kids', :type => "number", min: 0, :placeholder => "#{t('receptivo.widget.children')}", style:'border-radius: 6px;'}/
                      .col-lg-12
                        %br
                        %center
                          %button.about-view.packages-btn.btn-reservation{style: 'width: 165px;height: 48px;font-size: 14px;', type: 'submit'}
                            = t('receptivo.messages.request')
                            %br/
                            = t('receptivo.messages.reservation')
                - else
                  %br
                  .col-lg-12
                    %center
                      = link_to reservations_path(@lang, @currency, 'circuit', @results, circuit: @results.title['es'], quantity_adults: @adults, quantity_kids: @kids, flight_origin_circuit_picker: @flight_origin_circuit_picker) do
                        %button.about-view.packages-btn.btn-reservation
                          = t('receptivo.messages.request')
                          %br/
                          = t('receptivo.messages.reservation')

          .col-xs-12.col-sm-12.col-md-6.col-lg-5
            .content-.visible-xs.visible-sm
              %h3 Galería de Imágenes
            .content-circuits__image
              .carrusel-galery
                .galery_circuits
                  - @results.files.each_with_index do |image|
                    .galery__item
                      %img{:alt => "", :src => image.url, :class => "img-responsive"}/

          .col-xs-12.col-sm-12-col-md-12.col-lg-12
            .content-circuits__tab
              .content-circuits__tab--box
                %ul.nav.nav-tabs.nav-item-circuits
                  %li.active
                    %a{"data-toggle" => "tab", :href => "#information"}= t('receptivo.messages.tab.information')
                  %li
                    %a{"data-toggle" => "tab", :href => "#includes"}= t('receptivo.messages.tab.includes')
                  %li
                    %a{"data-toggle" => "tab", :href => "#excludes"}= t('receptivo.messages.tab.excludes')
                  %li
                    %a{"data-toggle" => "tab", :href => "#itinerary"}= t('receptivo.messages.tab.itinerary')
                  %li
                    %a{"data-toggle" => "tab", :href => "#rooms_prices"}= t('receptivo.messages.tab.rooms')
                .tab-content
                  #information.tab-pane.active
                    .box-information
                      %h4= t('receptivo.messages.tab.information')
                      %p= raw @results.description[@lang]

                  #includes.tab-pane
                    .box-includes
                      %h4= t('receptivo.messages.tab.includes')
                      %p= raw @results.include[@lang]

                  #excludes.tab-pane
                    .box-excludes
                      %h4= t('receptivo.messages.tab.excludes')
                      %p= raw @results.exclude[@lang]

                  #itinerary.tab-pane
                    .box-description
                      %h4= t('receptivo.messages.tab.itinerary')
                      %p= raw @results.itinerary[@lang]

                  #rooms_prices.tab-pane
                    .box-rooms_prices
                      %h4.text-center= t('receptivo.messages.tab.rooms')
                      .row
                        .col-lg-12
                          %table.table.table-hover.table-room
                            %thead
                              %tr
                                %th= t('receptivo.messages.table.category')
                                %th= t('receptivo.messages.table.single')
                                %th= t('receptivo.messages.table.double')
                                %th= t('receptivo.messages.table.triple')
                                %th= t('receptivo.messages.table.quadruple')
                                %th= t('receptivo.messages.table.quintuple')
                                %th= t('receptivo.messages.table.sextuple')
                                %th= t('receptivo.messages.table.price_per_child')
                            %tbody
                              - @results.circuitables.each do |circuitable|
                                - if circuitable.status
                                  %tr
                                    %td= circuitable.ranking.title[@lang]
                                    - circuitable.circuitable_rooms.sort_by{|room| room.id }.each do |room|
                                      - price = room.try("price_#{@currency}")
                                      - if price.zero? || room === false
                                        %td= t('receptivo.messages.table.not_avaible')
                                      - else
                                        %td= number_to_currency(room.try("price_#{@currency}"), locale: @locale)
                                  %tr
                                    %td= t('receptivo.messages.table.additional_night')
                                    - circuitable.circuitable_rooms.sort_by{|room| room.id }.each do |room|
                                      - price = room.try("night_price_#{@currency}")
                                      - if price.zero? || room === false
                                        %td= t('receptivo.messages.table.not_avaible')
                                      - else
                                        %td= number_to_currency(room.try("night_price_#{@currency}"), locale: @locale)

:javascript
  // circuits
  $(function () {
    $('#flight_circuit_data').datetimepicker({
      locale: 'es',
      minDate: moment().add(5, 'd').toDate(),
      format: "DD-MM-YYYY",
      widgetPositioning: {
        horizontal: 'left',
        vertical: 'bottom'
      },
      useCurrent: false //Important! See issue #1075
    });
    $("#flight_circuit_data").on("dp.change", function (e) {
      var date = $('#flight_circuit_data').val()
      $('#reservation_flight_origin_data').val(date);
    });
  });

  // End --- circuits

  $('#search-metadata').validate({
    event: "blur",
    errorClass: "error-class",
    validClass: "valid-class",
    rules: {
      'flight_circuit_data': { required: true},
      'quantity_adults': { required: true},
    },
    messages: {
      'flight_circuit_data': 'No puede estar en blanco',
      'quantity_adults': 'No puede estar en blanco'
    },
    debug: true,
    errorElement: "label",
    submitHandler: function (form) {
      form.submit();
    }

  });
