%section.invoice-transfers#invoice-transfers
  .container
    .gallary-header.text-center
      %h2
        = t('receptivo.checkout.billing')
      %p
        = t('receptivo.checkout.billing_details')
    .container
      .row
        .col-lg-2
        .col-lg-8
          .invoice-transfers__box
            = simple_form_for KepplerTravel::Reservation.new, url: '/create_reservation_circuit', method: :post do |f|
              .row
                .col-xs-12
                  .row
                    .col-lg-2
                      %img{:alt => "", :src => "/assets/img/isotipo-receptivo-colombia-invoice.svg", :width => "60px"}/
                    .col-lg-6

                      %h2 Receptivo Colombia
                      %p= t('receptivo.dashboard.table.tourism')
                    .col-lg-1
                    .col-lg-3
                      %h3.pull-right
                        =  t('receptivo.dashboard.table.order')
                        %span= KepplerTravel::Reservation.last.try(:id).to_i + 1
                  %hr/
                  .row
                    .col-xs-12
                      %address
                        %strong= t('receptivo.checkout.details_person')
                        %br/
                        = @user['name']
                        %br/
                        = @user['dni']
                        %br/
                        = @user['phone']
                        %br/
                        = @user['email']
                        %br/
                        = @invoice['address']
                        %br/
                        = @reservation['description']
                        %br/
                        = "#{t('receptivo.widget.adults')} (#{@reservation['quantity_adults']})"
                        %br/
                        = "#{t('receptivo.widget.children')} (#{@reservation['quantity_kids']})"

                  .row
                    .col-xs-12
                      %h5.text-center= t('receptivo.dashboard.table.circuit_information')
                      %br/
                    .col-xs-4
                      %address
                        %strong= t('receptivo.dashboard.table.circuit')
                        %br/
                        = @reservation['origin']
                        %br/
                    .col-xs-4
                      %address
                        %strong= t('receptivo.checkout.type_lodgment')
                        %br/
                        = @circuitable.ranking.title[@lang]
                        %br/
                    .col-xs-4
                      %address
                        %strong= t('receptivo.dashboard.table.date_origin')
                        %br/
                        = @reservation['flight_origin']
                        %br/

                  .row
                    .col-md-12
                      .panel.panel-default
                        .panel-heading
                          %h3.panel-title
                            %strong= t('receptivo.dashboard.table.description')
                        .panel-body
                          .table-responsive
                            %table.table.table-condensed
                              %thead
                                %tr
                                  %td
                                    %strong= t('receptivo.dashboard.table.concept')
                                  %td.text-center
                                    %strong= t('receptivo.dashboard.table.price')
                                  %td.text-center
                                    %strong= t('receptivo.dashboard.table.quantity')
                                  %td.text-center
                                    %strong Total
                              %tbody
                                - @table_reservationable[:pricing_table].each do |room|
                                  -# - unless room.keys.include?(:total_price_table)
                                  %tr
                                    - if room[:type] == 'children'
                                      %td{style:'text-align:left!important;'}= t('receptivo.dashboard.table.quantity_kids_short')
                                    - else
                                      %td{style:'text-align:left!important;'}= "#{t('receptivo.dashboard.table.room')} #{room[:type]}"
                                    %td= number_to_currency(room[:price], locale: @locale)
                                    %td= room[:quantity]
                                    %td= number_to_currency(room[:total_room], locale: @locale)
                                %tr
                                  %td{style: 'border-top: 2px solid #000;'} -----
                                  %td{style: 'border-top: 2px solid #000;'} -----
                                  %td{style: 'border-top: 2px solid #000;'} -----
                                  %td{style: 'border-top: 2px solid #000;'}= number_to_currency(@table_reservationable[:total_price_table], locale: @locale)
                  .row
                    .col-lg-12
                      .invoice-transfers__box--payment
                        %input#button.about-view.travel-btn{:name => "button", :type => "submit", :value => t('receptivo.checkout.cotization')}/

%script{:src => "https://unpkg.com/sweetalert2@7.19.3/dist/sweetalert2.all.js"}
:javascript
  $('#button').on('click', function () {
    swal({
      type: 'warning',
      title: 'Tu reservación está siendo procesada...',
      text: 'Espere un momento...',
      timer: 300000,
      onOpen: () => {
        swal.showLoading()
      }
    })
  }); // END --- Seleccion de un Alojamiento u hotel
