= simple_form_for [:admin, :travel, @reservation] do |f|

  %input{name: 'model_name', value: params[:model_name], hidden: ''}
  %input{name: 'type_search', value: params[:type_search], hidden: ''}

  .container
    .row
      .col-lg-2
        = link_to admin_travel_reservations_path(model_name: params[:model_name], type_search: params[:type_search]), class: "", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
          .arrow-back.btn.btn-default
            %i.fa.fa-angle-left
            = t('keppler.actions.back')

    .row
      .col-lg-12
        .box.slice-box
          .box-header.with-border
            %h3.box-title= t("keppler.modules.#{action_name.underscore}")
            .box-tools.pull-right
              %a.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"}
                %i.fa.fa-minus
          .box-body
            %table.table.table-bordered
              %tbody
                .form-padding
                  .col-xs-12.col-lg-6
                    .form-group.radio_buttons.optional.reservation_status
                      %label.control-label.radio_buttons.optional Estatus de la reservación

                      - if @reservation.status == 'pending'
                        %span.radio
                          %span Pendiente
                          %i.icon-check
                      - else
                        %span.radio
                          -# %strike Pendiente

                      %span.radio
                        - if @reservation.status == 'pending'
                          %label{id: 'cancelled', for: "reservation_status_2"}
                            -# = f.input :position_status, input_html: {value: 2}, as: :hidden
                            %input#reservation_status_2.radio_buttons.optional{name: "reservation[status]", type: "radio", value: "cancelled"}>/
                            Cancelada
                        - elsif @reservation.status == 'cancelled'
                          %span Cancelada
                          %i.icon-check
                          -# %span.radio
                          -#   %strike Credito Agencia
                          -#   %br
                          -#   %strike Link de Cobro

                      %span.radio
                        - if @reservation.status == 'pending'
                          %label{id: 'credit_agency', for: "reservation_status_3"}
                            -# = f.input :position_status, input_html: {value: 3}, as: :hidden
                            %input#reservation_status_3.radio_buttons.optional{name: "reservation[status]", type: "radio", value: "credit_agency"}>/
                            Credito Agencia
                        - elsif @reservation.status == 'credit_agency'
                          %span Credito Agencia
                          %i.icon-check
                          -# %span.radio
                          -#   %strike Cancelada
                          -#   %br
                          -#   %strike Link de Cobro

                      %span.radio
                        - if @reservation.status == 'pending'
                          %label{id: 'payment_link', for: "reservation_status_4"}
                            -# = f.input :position_status, input_html: {value: 4}, as: :hidden
                            %input#reservation_status_4.radio_buttons.optional{name: "reservation[status]", type: "radio", value: "payment_link"}>/
                            Link de Cobro
                          %br
                            .col-lg-12
                              .col-lg-6
                                = f.input :url_payment, label: 'URL'
                        - elsif @reservation.status == 'payment_link'
                          %span Link de Cobro
                          %i.icon-check
                          %br
                          %a{href: @reservation.url_payment, target: '_blank'} Ir a URL
                          %br
                          %span= @reservation.url_payment

                          -# %span.radio
                          -#   %strike Cancelada
                          -#   %br
                          -#   %strike Crédito Agencia


                  .col-xs-12.col-lg-6
                    = f.simple_fields_for :order, @reservation.order do |order|
                      .col-xs-12.col-lg-12
                        = order.input :price_total_pax, label: 'Precio Total Reservación (Total PAX)'
                        = order.input :price_total_agency, as: :hidden,  label: 'Precio Total Agencia'
                        = order.input :price_comission, as: :hidden,  label: 'Precio Comisión'
                        = order.input :price_lending, as: :hidden,  label: 'Precio Prestación'



                  -# - if @reservation.status != 'pending'
                  .col-xs-12#status_payment
                    .form-group.radio_buttons.optional.reservation_status_pay
                      %label.control-label.radio_buttons.optional Estatus del pago
                      - if @reservation.status_pay == 'pending' && @reservation.status != 'payment_link'
                        %span.radio
                          %label{for: "reservation_status_pay_1"}
                            -# = f.input :position_status_pay, input_html: {value: 2}, as: :hidden
                            %input#reservation_status_pay_1.radio_buttons.optional{checked: 'checked', name: "reservation[status_pay]", type: "radio", value: "pending"}>/
                            Pago Pendiente
                        %br
                        %span.radio
                          %label{for: "reservation_status_pay_2"}
                            -# = f.input :position_status_pay, input_html: {value: 2}, as: :hidden
                            %input#reservation_status_pay_2.radio_buttons.optional{name: "reservation[status_pay]", type: "radio", value: "approved"}>/
                            Pago Aprobado

                      - if @reservation.status_pay == 'pending' && @reservation.status == 'payment_link'
                        %span.radio
                          %label{for: "reservation_status_pay_1"}
                            -# = f.input :position_status_pay, input_html: {value: 2}, as: :hidden
                            %input#reservation_status_pay_1.radio_buttons.optional{checked: 'checked', name: "reservation[status_pay]", type: "radio", value: "pending"}>/
                            Pago Pendiente
                        %br
                        %span.radio
                          %label{for: "reservation_status_pay_2"}
                            -# = f.input :position_status_pay, input_html: {value: 2}, as: :hidden
                            %input#reservation_status_pay_2.radio_buttons.optional{name: "reservation[status_pay]", type: "radio", value: "approved"}>/
                            Pago Aprobado

                      - elsif @reservation.status_pay == 'pending'
                        .col-xs-12

                          %span.radio
                            %span Pago Pendiente
                            %i.icon-check

                      - if @reservation.status_pay == 'approved'
                        .col-xs-12
                          %span.radio
                            %span Pago Aprobado
                            %i.icon-check
                          %br



            - if @reservation.order.details == 'agency'
              %br
              %br
              .col-xs-12.col-lg-12
                .panel.panel-default
                  .panel-heading
                    %h3.panel-title
                      %strong= t('receptivo.dashboard.table.agency_percentages')
                  .panel-body
                    .table-responsive
                      %table.table.table-condensed
                        %thead
                          %tr
                            %td.text-center
                              %strong= t('receptivo.dashboard.table.concept')
                            %td.text-center
                              %strong= t('receptivo.dashboard.table.value')
                            %td.text-center
                              %strong Subtotal
                            %td.text-center
                              %strong Total
                        %tbody
                          %tr
                            %td.text-center= t('receptivo.dashboard.table.comission')
                            %td.text-center= "#{@reservation.order.comission} %"
                            %td.text-center#subtotal_comission= number_to_currency(@reservation.order.price_comission, locale: @locale)
                            %td.text-center -----

                          %tr
                            %td.text-center= t('receptivo.dashboard.table.lending')
                            %td.text-center= "#{@reservation.order.lending} %"
                            %td.text-center#subtotal_lending= number_to_currency(@reservation.order.price_lending, locale: @locale)
                            %td.text-center -----

                          %tr
                            %td.text-center Total PAX
                            %td.text-center -----
                            %td.text-center -----
                            %td.text-center#total_pax= number_to_currency(@reservation.order.price_total_pax, locale: @locale)

                          %tr
                            %td.text-center= t('receptivo.dashboard.table.total_agency')
                            %td.text-center -----
                            %td.text-center -----
                            %td.text-center#total_agency= number_to_currency(@reservation.order.price_total_agency, locale: @locale)

            - if @reservation.status_pay == 'pending'
              .col-xs-12
                .pull-right
                  = f.button :submit, t('keppler.actions.save'), name: '_save', class: 'btn-primary', data: { confirm: '¿Estás seguro?, esta acción es irreversible' }
                  -# = f.button :submit, t('keppler.actions.save_and_add_another'), name: '_add_other'
:javascript
  var reservation_id = #{raw @reservation.id};
  var comission      = #{raw @reservation.order.comission};
  var lending        = #{raw @reservation.order.lending};
  validateReservationStatus(`#edit_reservation_${reservation_id}`);

  $('#reservation_order_attributes_price_total_pax').keyup(function(e){

    current_price = parseFloat(e.target.value)
    price_comission = current_price * (comission/100)
    price_lending   = current_price * (lending/100)
    current_price_pax = current_price
    current_price_agency = current_price - price_comission - price_lending

    $('#subtotal_comission').text('$' + formatMoney(price_comission));
    $('#subtotal_lending').text('$' + formatMoney(price_lending));
    $('#total_pax').text('$' + formatMoney(current_price_pax));
    $('#total_agency').text('$' + formatMoney(current_price_agency));


    $('#reservation_order_attributes_price_total_agency').val(current_price_agency);
    $('#reservation_order_attributes_price_comission').val(price_comission);
    $('#reservation_order_attributes_price_lending').val(price_lending);
  });

  function formatMoney(n, c, d, t) {
    var c = isNaN(c = Math.abs(c)) ? 2 : c,
      d = d == undefined ? "," : d,
      t = t == undefined ? "." : t,
      s = n < 0 ? "-" : "",
      i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
      j = (j = i.length) > 3 ? j % 3 : 0;

    return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
  };


:javascript
  var status = "#{raw @reservation.status}";
  var status_pay = "#{raw @reservation.status_pay}";

  $('.reservation_url_payment').hide();
  $('#status_payment').hide();

  if (status == 'payment_link' && status_pay == 'pending'){
    $('#status_payment').show();
  }

  if (status == 'credit_agency' && status_pay == 'pending'){
    $('#status_payment').show();
  }

  $('#payment_link').click(function(){
    $('.reservation_url_payment').show();
    $('#status_payment').hide();
  });

  $('#cancelled').click(function(){
    $('.reservation_url_payment').hide();
    $('#status_payment').hide();
  });

  $('#credit_agency').click(function(){
    $('.reservation_url_payment').hide();
    $('#status_payment').show();
  });
