= simple_form_for [:admin, :travel, @reservation] do |f|
  .container
    .row
      .col-lg-2
        = link_to admin_travel_reservations_path(model_name: 'vehicle', type_search: 'agency'), class: "", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
          .arrow-back.btn.btn-default
            %i.fa.fa-angle-left
            = t('keppler.actions.back')

    .row
      .col-lg-12
        .box.slice-box
          .box-header.with-border
            %h3.box-title= t("keppler.modules.#{action_name.underscore}")
            .box-tools.pull-right
              %a.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"}
                %i.fa.fa-minus
          .box-body
            %table.table.table-bordered
              %tbody
                .form-padding
                  .col-xs-12
                    .form-group.radio_buttons.optional.reservation_status
                      %label.control-label.radio_buttons.optional Status
                      %input{name: "reservation[status]", type: "hidden", value: ""}/
                      %span.radio
                        %span Pendiente
                        %i.icon-check

                      %span.radio
                        - if @reservation.position_status <= 1
                          %label{for: "reservation_status_1"}
                            = f.input :position_status, input_html: {value: 2}, as: :hidden
                            %input#reservation_status_1.radio_buttons.optional{name: "reservation[status]", type: "radio", value: "cancelled"}>/
                            Cancelada
                        - elsif @reservation.position_status == 2
                          %span Cancelada
                          %i.icon-check
                          %span.radio
                            %strike Aprobada

                      %span.radio
                        - if @reservation.position_status <= 1
                          %label{for: "reservation_status_2"}
                            = f.input :position_status, input_html: {value: 3}, as: :hidden
                            %input#reservation_status_2.radio_buttons.optional{name: "reservation[status]", type: "radio", value: "approved"}>/
                            Aprobada
                        - elsif @reservation.position_status == 3
                          %span Aprobada
                          %i.icon-check
                          %span.radio
                            %strike Cancelada

                  .col-xs-12
                    .pull-right
                      = f.button :submit, t('keppler.actions.save'), name: '_save', class: 'btn-primary', data: { confirm: '¿Estás seguro?, esta acción es irreversible' }
                      -# = f.button :submit, t('keppler.actions.save_and_add_another'), name: '_add_other'
