!!!
%html.no-js{:lang => "en"}
  %head
    = render 'app/layouts/head'

  %body.body-settings
    %header
      = render 'app/layouts/navbar'
      .loader
        = render 'app/front/loader/loader'

    %section#aboutus.aboutus
      .banner-aboutus{style: "background-image: url(/assets/img/banner.jpg)"}
        .banner-aboutus--mask
          %h2= t('receptivo.about.title_primary_banner')
          %p= t('receptivo.about.title_secondary_banner')
      .box-aboutus
        .info-aboutus 
          .container
            -# desktop
            .row.visible-lg
              .col-md-12
                .box__info
                  %center
                    %h2.item_general Receptivo Colombia
                  %p= t('receptivo.about.receptivo_colombia_one')
                  %p= t('receptivo.about.receptivo_colombia_two')
              .col-md-4
                .box__image{style: "background-image: url(/assets/img/mision.png)"} 
              .col-md-8
                %h2.item_mision= t('receptivo.about.title_mission')
                %p= t('receptivo.about.mission')
              .col-md-12
                .separator
              .col-md-8
                %h2.item_vision= t('receptivo.about.title_vision')
                %p= t('receptivo.about.vision')
              .col-md-4
                .box__image{style: "background-image: url(/assets/img/vision.png)"}                             
              .col-md-12
                %center
                  .box-btn-cta
                    .about-btn.travel-mrt-0{style:'margin-top: 10px'}
                      = link_to tours_all_path(@lang, @currency) do
                        %button.about-view.travel-btn.btn-reser= t('receptivo.about.CTA')
            
            -# mobile
            .row.hidden-lg
              .col-xs-12
                .box__info
                  %center
                    %h2.item_general Receptivo Colombia
                    %p= t('receptivo.about.receptivo_colombia_one')
                    %p= t('receptivo.about.receptivo_colombia_two')                    
              .col-xs-12
                .box__image{style: "background-image: url(/assets/img/mision.png)"} 
              .col-xs-12
                %h2= t('receptivo.about.title_mission')
                %p= t('receptivo.about.mission')
              .col-xs-12
                .separator
              .col-xs-12
                .box__image{style: "background-image: url(/assets/img/vision.png)"}  
              .col-xs-12
                %h2= t('receptivo.about.title_vision')
                %p= t('receptivo.about.vision')
              .col-xs-12
                %center
                  .box-btn-cta
                    .about-btn.travel-mrt-0{style:'margin: 30px 0'}
                      = link_to tours_all_path(@lang, @currency) do
                        %button.about-view.travel-btn.btn-reser= t('receptivo.about.CTA')




    %footer#footer.footer.footer-copyright
      = render 'app/layouts/footer'
%script{:src => "/assets/js/loader.js"}
:javascript
  $('.navigation-front').removeClass('background-hide');
  $('.navigation-front').addClass('background-show');

