!!!
%html.no-js{:lang => "en"}
  %head
    = render 'app/layouts/head'

  %body{style:"padding-top:120px;"}
    %header
      = render 'app/layouts/navbar'
      .loader
        = render 'app/front/loader/loader'

    //transfer invoice
    = render "app/front/checkout/#{@render}/index"

    %footer.footer-copyright
      = render 'app/layouts/footer'
    %script{:src => "/assets/js/loader.js"}
    %script{:src => "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"}

    :javascript
      $('.navigation-front').removeClass('background-hide');
      $('.navigation-front').addClass('background-show');
