!!!
%html.no-js{:lang => "en"}
  %head
    = render 'app/layouts/head'

  %body
    %header
      = render 'app/layouts/navbar'
      .loader
        = render 'app/front/loader/loader'


    %section#home.about-us
      %video#my-video.myvideo{:autoplay => "true", :loop => "true", :muted => "true"}
        %source{:src => "/assets/img/video.mp4", :type => "video/mp4"}
      %section.travel-box.widget.p-widget
        .container
          .row
            = render 'app/layouts/widget'

    %section#services.services
      .container
        .gallary-header.text-center.wow.fadeInUp.animated{"data-wow-duration" => "2s", :style => "visibility: visible;-webkit-animation-duration: 2s; -moz-animation-duration: 2s; animation-duration: 2s;"}

          %h2
            Conoce lo que tenemos para ti
          %p
            Duis aute irure dolor in velit esse cillum dolore eu fugiat nulla.
      .category-services
        %ul
          %li.filter-btn{"data-filter" => "all"}
            %a
              %span todos

          -#%li.filter-btn{"data-filter" => ".js_filterVehicles"}
            %a
              %span traslados

          %li.filter-btn{"data-filter" => ".js_filterTours"}
            %a
              %span tours

          %li.filter-btn{"data-filter" => ".js_filterCircuits"}
            %a
              %span circuitos
          %li.filter-btn{"data-filter" => ".js_filterMultidestines"}
            %a
              %span multidestinos
      .cards-services
        .container#mix-wrapper
          .row
            - @tours.each do |tour|
              .col-md-4.col-sm-6.mix-target.js_filterTours
                .box-card
                  .box-image{:style => "background-image: url(#{tour.files.first.url})"}
                  .box-information
                    %h3= tour.title[@lang]
                    %span.pull-left.price
                      = number_to_currency(tour.price_adults[@currency], locale: @locale)
                    .more-information
                      -# %p
                      -#   %span
                      -#     10 dias 5 noches
                      %span= raw tour.description[@lang].truncate(100)

                      -#%p
                        %i.fa.fa-star.fa-star-custom
                        %i.fa.fa-star.fa-star-custom
                        %i.fa.fa-star.fa-star-custom
                        %i.fa.fa-star.fa-star-custom
                        %i.fa.fa-star.fa-star-custom
                    .about-btn
                      %a.link-card{:href => "#"}
                        %button.about-view.packages-btn
                          ver más

            - @circuits.each do |circuit|
              .col-md-4.col-sm-6.mix-target.js_filterCircuits
                .box-card
                  .box-image{:style => "background-image: url(#{circuit.files.first.url})"}
                  .box-information
                    %h3= circuit.title[@lang]
                    %span.pull-left.price
                      Desde
                      = number_to_currency(circuit.low_price(@currency), locale: @locale)
                    .more-information
                      -# %p
                      -#   %span
                      -#     10 dias 5 noches
                      %span= raw circuit.description[@lang].truncate(100)

                      -#%p
                        %i.fa.fa-star.fa-star-custom
                        %i.fa.fa-star.fa-star-custom
                        %i.fa.fa-star.fa-star-custom
                        %i.fa.fa-star.fa-star-custom
                        %i.fa.fa-star.fa-star-custom
                    .about-btn
                      %a.link-card{:href => "#"}
                        %button.about-view.packages-btn
                          ver más

            - @multidestinations.each do |multidestination|
              .col-md-4.col-sm-6.mix-target.js_filterMultidestines
                .box-card
                  .box-image{:style => "background-image: url(#{multidestination.files.first.url})"}
                  .box-information
                    %h3= multidestination.title[@lang]
                    %span.pull-left.price
                      Desde
                      = number_to_currency(multidestination.low_price(@currency), locale: @locale)
                    .more-information
                      -# %p
                      -#   %span
                      -#     10 dias 5 noches
                      %span= raw multidestination.description[@lang].truncate(100)

                      -#%p
                        %i.fa.fa-star.fa-star-custom
                        %i.fa.fa-star.fa-star-custom
                        %i.fa.fa-star.fa-star-custom
                        %i.fa.fa-star.fa-star-custom
                        %i.fa.fa-star.fa-star-custom
                    .about-btn
                      %a.link-card{:href => "#"}
                        %button.about-view.packages-btn
                          ver más


    %section#vehicles.tours
      .jumbotron.jumbotron-fluid.jb-bg-tours{:style => "background-image: url(/assets/img/bg-tours.jpg)"}
        .mask-tours
          .container
            .box-tours
              .info-tours
                %h3.display-4.text-center Expertos en traslados ejecutivos
                %h3.display-4.text-center Y turismo receptivo
                .about-btn
                  %button.about-view.discount-offer-btn
                    Conocer más

    %section#top-tours.top-tours
      .container
        .gallary-header.text-center.wow.fadeInUp.animated{"data-wow-duration" => "2s", :style => "visibility: visible;-webkit-animation-duration: 2s; -moz-animation-duration: 2s; animation-duration: 2s;"}
          %h2
            Tours Destacados
          %p
            Duis aute irure dolor in velit esse cillum dolore eu fugiat nulla.
      .cards-top-tours
        .container
          .row
            - @tours.each do |tour|
              - if tour.featured
                .col-md-4.col-sm-6.wow.fadeInLeft.animated{"data-wow-delay" => "0.1s", :style => "visibility: visible;-webkit-animation-delay: 0.1s; -moz-animation-delay: 0.1s; animation-delay: 0.1s;"}
                  .box-card
                    .box-image{:style => "background-image: url(#{tour.files.first.url})"}
                    .box-information
                      %h3= tour.title[@lang]
                      .more-information
                        %span= raw tour.description[@lang].truncate(120)
                        -#%p
                          %i.fa.fa-star.fa-star-custom
                          %i.fa.fa-star.fa-star-custom
                          %i.fa.fa-star.fa-star-custom
                          %i.fa.fa-star.fa-star-custom
                          %i.fa.fa-star.fa-star-custom
                      .about-btn
                        %a.link-card{:href => "#"}
                          %button.about-view.packages-btn
                            ver más

    %section#tips-services.tips-services
      .container
        .gallary-header.text-center.wow.fadeInUp.animated{"data-wow-duration" => "2s", :style => "visibility: visible;-webkit-animation-duration: 2s; -moz-animation-duration: 2s; animation-duration: 2s;"}
          %h2
            ¿Por qué escogernos?
          %p
            Duis aute irure dolor in velit esse cillum dolore eu fugiat nulla.
      .box-tips.wow.fadeInRight.animated{"data-wow-delay" => "0.2s", :style => "visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;"}
        .container
          .row
            .col-lg-3
              .tips
                .box-circle.circle-yellow
                  .circle-border
                    %img{:alt => "", :src => "/assets/img/car.svg", :width => "60px"}/
                %h2 Te recibimos y trasladamos
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit distinctio.
            .col-lg-3
              .tips
                .box-circle.circle-green
                  .circle-border
                    %img{:alt => "", :src => "/assets/img/airplane.svg", :width => "50px"}/
                %h2 Destinos de ensueño
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit distinctio.
            .col-lg-3
              .tips
                .box-circle.circle-orange
                  .circle-border
                    %img{:alt => "", :src => "/assets/img/face.svg", :width => "40px"}/
                %h2 Atención especializada
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit distinctio.
            .col-lg-3
              .tips
                .box-circle.circle-red
                  .circle-border
                    %img{:alt => "", :src => "/assets/img/palm.svg", :width => "40px"}/
                %h2 Expertos en turismo
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit distinctio.

    %footer#footer.footer.footer-copyright
      = render 'app/layouts/footer'

    %script{:src => "/assets/js/loader.js"}
    %script{:src => "/assets/js/navbar.js"}
    %script{:src => "/assets/js/mixitup-setting.js"}
    %script{:src => "/assets/js/wow-settings.js"}

    :javascript
      $(document).ready(function(){
        document.getElementById("my-video").play();
      });
