!!!
%html.no-js{:lang => "en"}
  %head
    = render 'app/layouts/head'

  %body
    %header
      = render 'app/layouts/navbar'
      .loader
        = render 'app/front/loader/loader'

    // Widget
    
    %section#home.about-us
      .content_video
        %video.myvideo#my-video{:poster => "/assets/img/Background-web-Receptivo-Colombia.png", :autoplay => "true", :loop => "true", :muted => "true" }
          %source{:src => "/assets/img/receptivo.mp4", :type => "video/mp4"}
            -#%source{:src => "/assets/img/receptivo.webm", :type => "video/webm"}
          -#%source{:src => "/assets/img/receptivo.mp4", :type => "video/ogg"}
      %section.travel-box.widget.p-widget
        .container
          .row
            = render 'app/layouts/widget'



    // Filter by Buttons Todos/Tours/Circuitos/Multidestinos
    = render 'app/front/index/filter'

    %section#transferss.transfers
      .jumbotron.jumbotron-fluid.jb-bg-transfers{:style => "background-image: url(/assets/img/bg-tours.jpg)"}
        .mask-transfers
          .container
            .box-transfers
              .info-transfers
                %h3.display-4.text-center 
                  Expertos en traslados ejecutivos
                  %br
                  Y turismo receptivo
                .about-btn
                  %button.about-view.discount-offer-btn
                    Conocer más

    // Featured / Prominent Tours or Plains
    = render 'app/front/index/plains_featured'

    %section#tips-services.tips-services
      .container
        .gallary-header.text-center.wow.fadeInUp.animated{"data-wow-duration" => "2s", :style => "visibility: visible;-webkit-animation-duration: 2s; -moz-animation-duration: 2s; animation-duration: 2s;"}
          %h2
            ¿Por qué escogernos?
          %p
            Duis aute irure dolor in velit esse cillum dolore eu fugiat nulla.
      .box-tips 
        
        -#wow.fadeInRight.animated{"data-wow-delay" => "0.2s", :style => "visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;width: 100% !important;"}
        .container
          .row
            .col-xs-12.col-sm-6.col-md-3.col-lg-3
              .tips
                .box-circle.circle-yellow
                  .circle-border
                    %img{:alt => "", :src => "/assets/img/car.svg", :width => "60px"}/
                %h2 Te recibimos y trasladamos
                -#%p Lorem ipsum dolor sit amet, consectetur adipisicing elit distinctio.
            .col-xs-12.col-sm-6.col-md-3.col-lg-3
              .tips
                .box-circle.circle-green
                  .circle-border
                    %img{:alt => "", :src => "/assets/img/airplane.svg", :width => "50px"}/
                %h2 Destinos de ensueño
                -#%p Lorem ipsum dolor sit amet, consectetur adipisicing elit distinctio.
            .col-xs-12.col-sm-6.col-md-3.col-lg-3
              .tips
                .box-circle.circle-orange
                  .circle-border
                    %img{:alt => "", :src => "/assets/img/face.svg", :width => "40px"}/
                %h2 Atención especializada
                -#%p Lorem ipsum dolor sit amet, consectetur adipisicing elit distinctio.
            .col-xs-12.col-sm-6.col-md-3.col-lg-3
              .tips
                .box-circle.circle-red
                  .circle-border
                    %img{:alt => "", :src => "/assets/img/palm.svg", :width => "40px"}/
                %h2 Expertos en turismo
                -#%p Lorem ipsum dolor sit amet, consectetur adipisicing elit distinctio.

    %footer#footer.footer.footer-copyright
      = render 'app/layouts/footer'
    :scss
      .content_video{

        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        video{
          display: block;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          z-index: 1;
        }
      }
    %script{:src => "/assets/js/loader.js"}
    -#%script{:src => "/assets/js/navbar.js"}
    %script{:src => "/assets/js/mixitup-setting.js"}
    %script{:src => "/assets/js/wow-settings.js"}

    :javascript
      $(document).ready(function(){
        document.getElementById("my-video").play();
      });
      var screen = window.matchMedia('(max-width: 991px)');
      screen.addListener(mediaQuery);
      function mediaQuery() {
        if (screen.matches) {
            $('.navigation-front').removeClass('background-hide');
            $('.navigation-front').addClass('background-show');
          
        } else {
          $(window).on("scroll", function () {
              var scrollTop = $(window).scrollTop();
              if (scrollTop > 50) {
                $('.navigation-front').removeClass('background-hide');
                $('.navigation-front').addClass('background-show');
                $('.logo-nav').removeClass('svg-yellow');
                $('.logo-nav').addClass('svg-white');
              } else {
                $('.navigation-front').removeClass('background-show');
                $('.navigation-front').addClass('background-hide');
                $('.logo-nav').removeClass('svg-white');
                $('.logo-nav').addClass('svg-yellow');
              }
            });
        }
      }
      mediaQuery();