!!!
%html.no-js{:lang => "en"}
  %head
    = render 'app/layouts/head'
  %body
    %header
      .loader
        = render 'app/front/loader/loader'

    %section#payment.payment
      .container
        .row
          .col-lg-12
            .image-ico
              %img{:alt => "", :src => "/assets/img/thanks.svg", :class => "img-responsive"}/
          .col-lg-12
            %p= t('receptivo.invoice.title_main_invoice')
            %p= t('receptivo.invoice.subtitle_main_invoice')
          .col-lg-12
            %br/
            %br/
            %center
              .back-home
                %i.icon-home.icons
                = link_to root_path do
                  %span= t('receptivo.invoice.to_return')

    %script{:src => "/assets/js/loader.js"}
