!!!
%html.no-js{:lang => "en"}
  %head
    = render 'app/layouts/head'

  %body.body-settings
    %header
      = render 'app/layouts/navbar'
      .loader
        = render 'app/front/loader/loader'

    = render 'app/front/set_multidestinations'

    %footer#footer.footer.footer-copyright
      = render 'app/layouts/footer'

%script{:src => "/assets/js/loader.js"}
:javascript
  $( '.link-widget' ).on( 'click', function() {
      $('.js-widget').removeClass('js-hide-widget');
      $('.js-widget').addClass('js-show-widget');
  });
  $('.navigation-front').removeClass('background-hide');
  $('.navigation-front').addClass('background-show');

  $('.galery_multidestinations').slick({
      infinite: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      dots: true,
      autoplay: true,
      autoplaySpeed: 1200,
  });
