!!!
%html.no-js{:lang => "en"}
  %head
    = render 'app/layouts/head'

  %body
    %header
      = render 'app/front/navbar'

    %section#home.about-us
      %video#my-video.myvideo{:autoplay => "true", :loop => "true", :muted => "true"}
        %source{:src => "/assets/img/video.mp4", :type => "video/mp4"}

    %section.travel-box
      .container
        .row
          .col-lg-1
          .col-lg-10
            = render 'app/front/widget'

    %section#transfers.transfers
      .container
        - unless @results.blank?
          .gallary-header.text-center
            %h2
              Seleccione el tipo de vehículo que desea
            %p
              Duis aute irure dolor in velit esse cillum dolore eu fugiat nulla.
      .content-transfers
        .container
          .row
            - if @results.blank?
              .col-lg-12
                .box-results
                  .image-search
                    = image_tag '/assets/img/loupe.svg'
                  .gallary-header.text-center
                    %h2
                      ¡Lo sentimos! No hemos encontrado ningún resultado.
                    %p
                      Intente volver realizar su búsqueda

            - else
              - @results.each do |transfer|
                .col-lg-4
                  .cars
                    .cars__img{style:"background-image: url('#{transfer.cover.url}')"}
                    .cars__inf
                      .box-title
                        %span.title= transfer.title[@lang]
                        %span.price
                          = transfer.price[@currency]
                          = @currency == 'cop' ? '$ COP' : '$ USD'
                      %p.amount-people
                        %span
                          %i.icon-people.icons
                          Máx de Personas:
                          = transfer.quantity_adults
                          Adultos
                          = transfer.quantity_kids
                          Niños
                      %p.amount-people
                        %span
                          %i.icon-bag.icons
                          Máx de Maletas: 5
                          -#= transfer.quantity_bag
                      %p.date-time
                        %span
                          %i.icon-calendar.icons
                          Fecha: 12/02/2018
                      %p.date-time
                        %span
                          %i.icon-clock.icons
                          Hora: 12:00pm
                      .box-btn
                        = link_to reservation_transfers_path do
                          %button.about-view.packages-btn
                            reservar

    %footer.footer-copyright
      = render 'app/front/footer'

    :javascript
      $(document).ready(function(){
        document.getElementById("my-video").play();
        $('[data-toggle="datepicker"]').datepicker();
        $('#destinations-box-one').selectize({});
        $('#destinations-box-two').selectize({});
      });
